:root {
    --font-size: calc(8px + 0.65vw);
    --red: #FF0000;
    --blue: #0000FF;
    --green: #00FF00;
    --yellow: #FFF000;
  }


@font-face {
    font-family: 'Screenfont';
    src: url('/fonts/Screenfont_8_Sans.woff2') format('woff2'),
        url('/fonts/Screenfont_8_Sans.woff') format('woff'),
        url('/fonts/Screenfont_8_Sans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




body {
  background: black;
  color: white;
  font-family: 'Screenfont';
  font-size: var(--font-size);
  margin: 0px;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.hide-content {
  display: none;
}
.load-content {
  /* display: none; */
  /* display: block;
  height: 0px;
  overflow: hidden; */
  /* visibility: hidden; */
}

.show-content {
/* visibility: hidden; */
  display: block;
  /* display: block; */
  /* height: 0px;
  overflow: hidden; */
}



.logout {
  font-size: calc(var(--font-size)*.75);
  /* word-break: break-all; */
}
a, a:link, a:visited {
  color: var(--blue);
  /* line-break: anywhere;
  word-break: break-all !important; */
}

pre {
  color: var(--yellow);
  font-family: Courier;
  margin: var(--font-size) 0px;
}

marquee {
  width: 100vw;
  margin-left: -3vw;
}

.terminal {
  padding: 3vw;
  width: 70vw;
}

      @keyframes cursor-blink {
      0% {
      opacity: 0;
      }
      }

    .terminal-content::after {
      content: "";
      width: 7px;
      height: 25px;
      background: #888;
      display: inline-block;
      animation: cursor-blink 1.5s steps(2) infinite;
    }

    .line img {
      height: 10vw;
      width: auto;
        position: relative;
        top: auto;
        left: auto;
        cursor: pointer;
        margin: 0 .3vw .3vw 0;
        display: inline-block;
        float: left;
    }

    a:hover, .link:hover, .line img:hover {
      opacity: .75;
    }
    .line img.zoom:hover {
      opacity: 1;
    }
  .line img:hover {
      opacity: .5;
    }

    .line img.zoom {
      display: block;
      width: 35vw;
      height: auto !important;
      margin-bottom: .3vw;
    }


.clear {
  clear: both;
}

.line {
  margin-bottom: calc(var(--font-size)*1.2);
  clear: both;
}

    .indent, .indent-link {
      margin-left: calc(var(--font-size) * 2);
    }

    .indent2{
      margin-left: calc(var(--font-size) * 4);
    }

    .indent::before, .indent2::before {
      content: '>> '
    }

    .line .link {
      margin-left: calc(var(--font-size) * 2);
      cursor: pointer;
        }

        .line .link-active {
          margin-top: calc(var(--font-size) * 2);
          display: block;
          color: var(--yellow);
            }

        .terminal .line:last-child {
          margin-bottom: 0px !important;
        }

        .terminal a {
          word-break: break-all;
          /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px; */
        }

        /* .terminal .line:not(:last-child) .link  {
          color: #222
            }

            .terminal .line:last-child .link{
              color: #fff
                } */



        /* .line .link:not(:last-child) {
          color: #ddd
            }

            .line .link:last-child {
              color: #fff
                } */



.logo-small {
  width: 7vw;
}

    .logo-small img {
      width: 100%;
    }

    .logo-small img.dark {
      display: none
    }

    .logo-small img.light {
      display: block;
    }


.status.open {
  color: var(--green);
}

      .status.open::before {
        content: 'OPEN';
      }

      .status.closed {
        color: var(--red);
      }

      .status.closed::before {
        content: 'CLOSED';
      }


.sidebar {
  display: flex;
    position: fixed;
    right: 1.5vw;
    top: 1.5vw;
    bottom: 3vw;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: flex-end; */
    flex-wrap: nowrap;
    height: calc(100% - 3vw);
    width: 20vw;
    align-items: stretch;
    gap: var(--font-size);
}
.sidebar .menu, .sidebar .info {
  border: 1px solid #fff;
  padding: .7vw 1vw;
  box-sizing: border-box;
}

.menu {
  background: #000;
}

.menu .link {
  display: block;
  margin-left: 0px;
  line-height: 2;
  cursor: pointer;
}

.info {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #000;
    height: 100%;
}

    .info .line:last-child {
      margin-bottom: 0px !important;
    }

    .info img {
      max-width: calc(100%);
      height: auto;
      max-height: 100%;
      /* min-height: 100%; */
      margin-top: var(--font-size);
    }


.flower {
  position: fixed;
  right: 1.5vw;
  bottom: -2vw;
  width: 22vw;
  height: 22vw;
}

.flower img {
  width: 100%;
  vertical-align: bottom;
}

.logo-big {
  display: block;
  cursor: pointer;
}

    .logo-big img.dark {
      display: none;
    }

    .logo-big img.light {
      display: block;
    }

.accordionElement {
  margin-left: calc(var(--font-size) * 4);
  border: 2px dotted #fff;
  padding: calc(var(--font-size) );
  margin-bottom: calc(var(--font-size)*1.2);
  cursor:pointer;
}
.accordionTitle {
    padding: 0 calc(var(--font-size) * 4) 0 0;
    position: relative;
    cursor:pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}
.accordionTitle .img {
  width: calc(var(--font-size)*2);
  height: calc(var(--font-size)*2);
  vertical-align: middle;
  margin-right: calc(var(--font-size)*1.2);
  opacity: 1;
  transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  ms-transition: all .4s ease-in-out;
  o-transition: all .4s ease-in-out;
  background-size: cover;
}

.accordionTitle .img.hide {
  width: 0px !important;
  opacity: 0;
  margin-right: 0px;
}


.accordionTitle:after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(var(--font-size) );
    text-align: center;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: inherit;
    font-size: calc(var(--font-size) );
}
.accordionTitle.contentOpen:after {
    content: "-";
}
.accordionContent {
    display: none;
    margin-top: calc(var(--font-size)*1.2);

}



.label {
display: block;
  margin-bottom: calc(var(--font-size)*1.2);
}
input {
  border: 2px dotted #fff;
  padding: calc(var(--font-size) );
  background: #000;
  width: 60vw;
  display: block;
  color: #fff;

   font-family: 'Screenfont';
   font-size: var(--font-size);
   letter-spacing: 1px;
}

textarea
{
  border: 2px dotted #fff;
  padding: calc(var(--font-size) );
  background: #000;
  width: 60vw;
  display: block;
  color: #fff;
  font-family: 'Screenfont';
  font-size: var(--font-size);
  letter-spacing: 1px;
}


button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  border: 1px solid #fff;
  background: #fff;
  color: #000;
  padding:  calc(var(--font-size)/2 ) calc(var(--font-size) );
  font-family: 'Screenfont';
  font-size: var(--font-size);
  cursor: pointer;
}

button:hover {
  /* opacity: .6; */
  background: #000;
  color: #fff;
}



pre.print {
  display: none;
}

.print-mobile {
  display: none;
}

.page {
  padding-top: 1vh;
}






@media (min-width: 768px) {
  .terminal .info {
    display: none
  }

  /* marquee {
    display: none
  } */
}



@media (max-width: 768px) {

  :root {
      --font-size: calc(12px + 0.3vw);
    }

    .terminal {
      padding: 3vw;
      width: 94vw;
      overflow-x: hidden;
    }

    body {
      overflow-x: hidden;
    }

    .hide-mobile {
      display: none;
    }


    /* .sidebar {
      display: none
    } */

    .sidebar .info {
      display: none;
    }

    .logo-small {
      width: 18vw;
    }

    .sidebar {
      display: block !important;
        position: fixed;
        right: 3vw;
        top: 3vw;
        top: 3vw;
        height: auto;
        max-height: 40vh;
        width: 40vw;
    }

    .terminal .info {
      border: 1px solid #fff;
      padding: 1vw 2vw;
      box-sizing: border-box;
      margin-top: 10vw;
    }


    pre.desk {
      display: none;
    }

    .logo-small img.dark {
      display: none
    }

    .logo-big img.dark {
      display: none;
    }

    .logo-big img.light {
      display: block;
    }

    pre.print {
      display: none;
    }

    .print-mobile {
      display: inline;
    }

    .print-ready {display: none}

    .logout {
      display: none;
    }

    .page {
      padding-top: 1vh;
    }

    .accordionElement {
    margin-left: calc(var(--font-size) * 2);
  }

  .line img {
    height: 15vw;
  }

  .flower {
    position: fixed;
    right: 1.5vw;
    bottom: -3vw;
    width: 50vw;
    height: 50vw;
  }


  input {
    width: 86vw;
  }

  textarea
  {
    width: 86vw;
  }


}




@media print {


  :root {
      --font-size: calc(14px + 0.3vw);
      --red: #000;
      --blue: 000;
      --green: #000;
      --yellow: #000;
    }

    body {
    /* IE4-8 and 9 (deprecated). */
    filter: Gray();
    /* SVG version for IE10, Chrome 17, FF3.5,
       Safari 5.2 and Opera 11.6 */
    filter: url('#grayscale');
    /* CSS3 filter, at the moment Webkit only. Prefix it for
       future implementations */
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); /* future-proof */

      background: none;
      color: #000;
				font-size: 12px;
				print-color-adjust: exact;
  }

    @page {
  		margin: 0in;
      size: auto;
      padding: 0.5in;
      size: landscape;

  		}


        .pagebreak {
          page-break-before: always;
        }




    .logo-small img.dark {
      display: block;
    }

    .logo-small img.light {
      display: none;
    }

    .logo-big img.dark {
      display: block;
    }

    .logo-big img.light {
      display: none;
    }

    .menu , .info{
      display: none;
    }

    .terminal {
      padding-left: 1in;
    }


    .terminal .info {
      border: 0px solid #000;
      padding-top: 0.25in;
      padding-right: 0.05in;
      color: #000;
      width: calc(100vw - 1.5in);
      height: calc(100vw);
      display: block;
      background: none;

    }

      .terminal .info img {
        float: right;

      }



      .logo-small {
        width: 7vw;
        mix-blend-mode: difference;
      }

      @keyframes cursor-blink {
      0% {
      opacity: 1;
      }
      }

 /* marquee {
   display: none
 } */

      marquee {display: none;}

      pre.print {
        display: block;
      }

      .print-ready {display: none}

      .print-mobile {
        display: none;
      }




}
