<!DOCTYPE html>
<html lang="en">

<head>
    <title>School for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="School for Poetic Computation">
    <meta name="description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/">
    <meta property="og:title" content="School for Poetic Computation">
    <meta property="og:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/">
    <meta property="twitter:title" content="School for Poetic Computation">
    <meta property="twitter:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
    <link id="mode" rel="stylesheet" type="text/css" href="/sex-ed.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>



    <!-- end stats -->
</head>


<body>
      <!-- {{> header}}
      {{> footer}} -->

      <!-- <div class="crt-overlay crt-overlay-fullsize"></div> -->


      <div id="shell" class="shell">

        <!-- <a href="/sex-ed"><img class="orb" src="/images/sessions/sex-ed/orb-back.png"></a> -->

        <a href="/sex-ed">
        <div class="orb">
          <img src="/images/sessions/sex-ed/orb-2.png">
        </div>
        </a>

        <a href="/sex-ed">
          <div class="header">
            <span class="logo">Ask SFPC: Sex Ed</span>
            <span class="title">About</span>
          </div>
        </a>

        <div class="footer">
          <span class="byline">A peer-to-peer sex advice column.</span>
        </div>





        <div id="main" class="">


        <section id="queue" class="">



              <div id="{{this.[Website-Slug]}}" class="question-block" data-location="">


                    <div class="metadata">

                      <!-- <div class="topic">
                        {{#each this.[Topic]}} {{this}} {{/each}}
                      </div> -->
                    </div>

                    <div class="about">
                      <p class="medium">Welcome to Ask SFPC: Sex Ed, a peer-to-peer sex advice column that distributes the production of knowledge around sex, inviting us to learn about sex from a network of our peers and friends. This is a diversion from many of our previous experiences with sex advice columns, which privileged the production of knowledge around sex to singular voices of authority.
                      </p>

                      <p class="small">
                        <span class="caption">

                            “Peer-to-peer (P2P) computing or networking is a distributed application architecture that partitions tasks or workloads between peers. Peers are equally privileged, equipotent participants in the application. They are said to form a peer-to-peer network of nodes.”

                        </span>
                      </p>

                      <a href="https://www.are.na/block/689455">
                        <img src="https://d2w9rnfcy7mm78.cloudfront.net/689455/original_dd5fd9f96c99bbfd7f71cef16952a792.jpg">
                      </a>

                      <BR><BR>
                        <p class="medium">
                          This collaborative project is a container for the Summer 2022 program, "SFPC: Sex Ed" at the School for Poetic Computation.
                          We asked applicants, teachers and special guests to respond to the following:
                        </p>


                      <!-- <div class="submission-info">
                        <span class="submitter">
                          We asked applicants, teachers and special guests:
                        </span>
                      </div>
                      <div style="clear:both"></div> -->


                        <p class="medium">
                          <i>"What is a question you have about sex that you would  like to learn about from your peers?"</i>
                        </p>


                        <span class="responses">
                          <a href="/projects/{{this.[Website-Slug]}}">Apply now & respond to this question!</a>
                        </span>

                        <a href="https://sfpc.study/sessions/sex-ed">
                          <img src="https://d2w9rnfcy7mm78.cloudfront.net/1355333/original_e5e7374cbcf6b5a003875e61942bb9f0.png">
                        </a>

                        <p class="medium">
                          Throughout the course of the program, participants, teachers and special guests will ask questions and respond to each other's questions,
                          creating an intimate network of distributed knowledge sharing and study around topics such as gender, sexuality, consent, power play, feminist theory, sexual health, pregnancy, and sex work.
                            </p>

                      <a href="https://sfpc.study/sessions/sex-ed">
                        <img src="https://sfpc.study/images/sessions/sex-ed/cover.jpg">
                      </a>

                      <h1>About SFPC: Sex Ed</h1>
                      <p class="medium">
                        The School for Poetic Computation proudly presents, SFPC: Sex Ed, a pleasure and queer centered experiment in shared study and epistemic empowerment.

                        This program is a direct response to creating the kinds of educational spaces we never had, but always sought. Many of us would benefit from actively determining our own sex education outside of systemic governing bodies like the state, public and private schools, or legal guardians, as well as interpersonal relationships like the person(s) who you're having sex with. Everyone deserves platonic and friendly spaces to learn and explore sexuality and pleasure informed by cultural understandings of sex, gender, class and race and how our identities relate to sexual desires, practices and kink.

                        <a href="https://sfpc.study/sessions/sex-ed">Learn more...</a>

                      </p>



                      <a href="https://www.are.na/block/1869906">
                        <img src="https://d2w9rnfcy7mm78.cloudfront.net/1869906/original_ba9eb1a3dc21074b87c13631578d59f8.png">
                      </a>

                      <h1>About the School for Poetic Computation</h1>
                      <p class="medium">
                        The School for Poetic Computation is an experimental school in New York that was founded in 2013. Our school supports interdisciplinary study in art, code, hardware and critical theory. It is a place for unlearning and learning.
                        <a href="https://sfpc.study">Learn more...</a>
                      </p>






                      <p class="small margin-top">
                        <!-- This project was designed and built by <a href="https://zai.zone">Zainab Aliyu</a>, with graphics by <a href="">Nahee Kim</a>.
                          It was created with and for <a href="https://sfpc.study/sessions/sex-ed">SFPC: Sex Ed</a>, a program organized by <a href="">Melanie Hoff</a>, <a href="">Neta Bomani</a> and <a href="">Zainab Aliyu</a> at the
                          <a href="https://sfpc.study">School for Poetic Computation</a>. -->
                      </p>




                          <!-- <a href="/questions/{{this.[Website-Slug]}}"> -->
                    </div>


              </div>



        </section>


         <div class="break"></div>











        </div>
        </div>










<script src="sex-ed.js"></script>

<!-- <script src="/outside.js"></script>
<script src="/carousel.js"></script> -->
</p>

</body>
</html>
