<!DOCTYPE html>
<html lang="en">

<head>
    <title>School for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="School for Poetic Computation">
    <meta name="description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/">
    <meta property="og:title" content="School for Poetic Computation">
    <meta property="og:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/">
    <meta property="twitter:title" content="School for Poetic Computation">
    <meta property="twitter:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
    <link id="mode" rel="stylesheet" type="text/css" href="/sex-ed.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>



    <!-- end stats -->
</head>


<body>
      <!-- {{> header}}
      {{> footer}} -->

      <!-- <div class="crt-overlay crt-overlay-fullsize"></div> -->


      <div id="shell" class="shell">

        <img class="mover mover-one" onload="startMoving(this)" src="/images/sessions/sex-ed/bg1.jpg" border="0">
        <img class="mover mover-two" onload="startMoving(this)" src="/images/sessions/sex-ed/bg2.jpg" border="0">
        <img class="mover mover-three" onload="startMoving(this)" src="/images/sessions/sex-ed/bg3.jpg" border="0">


        <!-- <a href="/sex-ed"><img class="orb" src="/images/sessions/sex-ed/orb-back.png"></a> -->

        <a href="/sex-ed">
        <div class="orb">
          <img src="/images/sessions/sex-ed/orb-2.png">
        </div>
        </a>

        <a href="/sex-ed">
          <div class="header">
            <span class="logo">Ask SFPC: Sex Ed</span>
            <span class="title">About</span>
          </div>
        </a>

        <div class="footer">
          <span class="byline">A peer-to-peer sex advice column.</span>
        </div>





        <div id="main" class="">


        <section id="queue" class="">



              <div id="{{this.[Website-Slug]}}" class="question-block" data-location="">


                    <div class="metadata">

                      <!-- <div class="topic">
                        {{#each this.[Topic]}} {{this}} {{/each}}
                      </div> -->
                    </div>

                    <div class="about">
                      <p class="medium">Welcome to Ask SFPC: Sex Ed, a peer-to-peer sex advice column that intends to distribute the production of knowledge around sex by inviting us to learn about sex from a network of our peers and friends.
                        This is a diversion from some of our previous experiences with sex advice columns, which often privilege the production of knowledge around sex to singular voices of authority.

                      </p>

                      <p class="small">
                        <!-- <span class="caption"> -->

                            “Peer-to-peer (P2P) computing or networking is a distributed application architecture that partitions tasks or workloads between peers. Peers are equally privileged, equipotent participants in the application. They are said to form a peer-to-peer network of nodes.”

                        <!-- </span> -->
                      </p>

                      <a href="https://www.are.na/block/689455">
                        <img class="margin-top" src="https://d2w9rnfcy7mm78.cloudfront.net/689455/original_dd5fd9f96c99bbfd7f71cef16952a792.jpg">
                      </a>

                      <BR><BR>
                        <p class="small">
                          This collaborative project is a living archive for the Summer 2022 program, SFPC: Sex Ed, at the School for Poetic Computation.
                          We asked applicants, teachers and special guests to respond to the following:
                        </p>


                      <!-- <div class="submission-info">
                        <span class="submitter">
                          We asked applicants, teachers and special guests:
                        </span>
                      </div>
                      <div style="clear:both"></div> -->


                        <ul class="small">
                            <li> What is a question you have about sex that you would  like to learn about from your peers?
                            <li> Did you have any formal sexual education in school? What was your experience like? Is there a memory you'd like to share? If you have not had formal sex education before, what has sex education meant to you in your life?
                            <li> What does a safer learning environment for learning about sex look like for you?
                            <li> Why are you interested in studying at SFPC: Sex Ed? Why now?
                        </ul>

                        <BR><BR>

                        <p class="small">
                          By applying for the program, you are invited to respond to and contribute questions that may appear on this column. Applications open until July 1, 2022.
                        </p>
                        <span class="responses">
                          <a href="https://forms.gle/dUipkbEaVEv6P5MR8">Apply now!</a>
                        </span>



                        <a href="https://sfpc.study/sessions/sex-ed">
                          <img class="margin-top" src="https://d2w9rnfcy7mm78.cloudfront.net/1355333/original_e5e7374cbcf6b5a003875e61942bb9f0.png">
                        </a>



                        <p class="small">
                          Throughout the course of the program, participants, teachers and special guests will ask questions and respond to each other's questions,
                          creating an intimate network of distributed knowledge sharing and study around topics such as gender, sexuality, consent, power play, feminist theory, sexual health, pregnancy, and sex work.
                            </p>



                    <div class="people-images margin-top">
                      <div class="img" style="background-image: url('/images/people/daemonum-x.jpeg')"> </div>
                      <div class="img" style="background-image: url('/images/people/daemonum-x.jpeg')"> </div>
                      <div class="img" style="background-image: url('/images/people/daemonum-x.jpeg')"> </div>
                      <div class="img" style="background-image: url('/images/people/elizabeth-perez.jpg')"> </div>
                      <div class="img" style="background-image: url('/images/people/zainab-aliyu-2.jpg')"> </div>
                      <div class="img" style="background-image: url('/images/people/neta-bomani-2.jpg')"> </div>
                      <div class="img" style="background-image: url('/images/people/melanie-hoff-2.jpg')"> </div>

                    </div>

                    <h2>Meet the Guest Columnists & Editors</h2>

                      <p class="small">
                        Our guest columnists include Gabriella Garcia, Shawné MH, DaemonumX and Elizabeth Perez. This column is edited by SFPC: Sex Ed’s organizers, Zainab Aliyu, Neta Bomani and Melanie Hoff.
<a href="https://sfpc.study">More...</a>
                      </p>



                      <a href="https://sfpc.study/sessions/sex-ed">
                        <img class="margin-top" src="https://sfpc.study/images/sessions/sex-ed/cover.jpg">
                      </a>

                      <h2>About SFPC: Sex Ed</h2>
                      <p class="small">
                        SFPC: Sex Ed is a pleasure and queer centered experiment in shared study and epistemic empowerment. This program is a direct response to creating the kinds of educational spaces we never had, but always sought. Everyone deserves platonic and friendly spaces to learn and explore sexuality and pleasure informed by cultural understandings of sex, gender, class and race and how our identities relate to sexual desires, practices and kink.
                        <a href="https://sfpc.study/sessions/sex-ed">More...</a>

                      </p>



                      <a href="https://www.are.na/block/1869906">
                        <img class="margin-top" src="https://d2w9rnfcy7mm78.cloudfront.net/1869906/original_ba9eb1a3dc21074b87c13631578d59f8.png">
                      </a>

                      <h2>About the School for Poetic Computation</h2>
                      <p class="small">
                        The School for Poetic Computation is an experimental school in New York that was founded in 2013. Our school supports interdisciplinary study in art, code, hardware and critical theory. It is a place for unlearning and learning.

                          <a href="https://sfpc.study">More...</a>
                      </p>




                      <div class="question-break medium">
                        <p>✼</p>
                      </div>

                      <p class="small margin-top">
                        This project was designed and built by <a href="https://zai.zone">Zainab Aliyu</a>, with graphics by <a href="">Nahee Kim</a>.
                          It was created with and for <a href="https://sfpc.study/sessions/sex-ed">SFPC: Sex Ed</a>, a program organized by <a href="">Melanie Hoff</a>, <a href="">Neta Bomani</a> and <a href="">Zainab Aliyu</a> at the
                          <a href="https://sfpc.study">School for Poetic Computation</a>.
                      </p>




                          <!-- <a href="/questions/{{this.[Website-Slug]}}"> -->
                    </div>


              </div>



        </section>


         <div class="break"></div>











        </div>
        </div>










<script src="sex-ed.js"></script>

<!-- <script src="/outside.js"></script>
<script src="/carousel.js"></script> -->
</p>

</body>
</html>
