<!DOCTYPE html>
<html lang="en">

<head>
    <title>School for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="School for Poetic Computation">
    <meta name="description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/">
    <meta property="og:title" content="School for Poetic Computation">
    <meta property="og:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/">
    <meta property="twitter:title" content="School for Poetic Computation">
    <meta property="twitter:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <!-- <link href="/styles.css" rel="stylesheet"> -->
    <!-- <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" /> -->
    <link id="mode" rel="stylesheet" type="text/css" href="/sex-ed.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>



    <!-- end stats -->
</head>


<body>
      <!-- {{> header}}
      {{> footer}} -->

      <!-- <div class="crt-overlay crt-overlay-fullsize"></div> -->


      <div id="shell" class="shell">

        <img class="mover mover-one" onload="startMoving(this)" src="/images/sessions/sex-ed/bg1.jpg" border="0">
        <img class="mover mover-two" onload="startMoving(this)" src="/images/sessions/sex-ed/bg2.jpg" border="0">
        <img class="mover mover-three" onload="startMoving(this)" src="/images/sessions/sex-ed/bg3.jpg" border="0">


        <!-- <a href="/sex-ed"><img class="orb" src="/images/sessions/sex-ed/orb-back.png"></a> -->

        <a href="/sex-ed-about">
        <div class="orb">
          <img src="/images/sessions/sex-ed/orb-2.png">
        </div>
        </a>

        <a href="/sex-ed-people">
          <div class="person-group-medium">
          <span class="DaemonumX person-medium"> </span>
          <span class="Gabriella person-medium"> </span>
          <span class="Elizabeth person-medium"> </span>
          <span class="Zai person-medium"></span>
          <span class="Neta person-medium"></span>
          <span class="Melanie person-medium"></span>
          </div>
        </a>

        <a href="/sex-ed">
          <div class="header">
            <span class="logo">Ask SFPC: Sex Ed</span>
            <span class="title">People</span>
          </div>
        </a>

        <div class="footer">
          <span class="byline">A peer-to-peer sex advice column.</span>
        </div>





        <div id="main" class="">


        <section id="queue" class="">



              <div id="{{this.[Website-Slug]}}" class="question-block" data-location="">


                  <div class="about">

                      <p class="medium">
                        Throughout the course of the program, participants, teachers and special guests will ask questions and respond to each other's questions, creating an intimate network of distributed knowledge sharing and study around topics such as gender, sexuality, consent, power play, feminist theory, sexual health, pregnancy, and sex work.
                      </p>

                        <h2 class="margin-top">Guest Columnists</h2>


<!--
                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/daemonum-x.jpeg')"> </div>
                          <p class="small person">
                            <a href="https://daemonumx.com">Daemonum X</a> is a femme leatherdyke and lifestyle Dominant. She is a polyamory and BDSM coach offering strategies for successful relationships. She is the founder and Editrix of FIST, an anthology zine for leatherdykes, as well as Linked, A Polyamory Zine. More of her words on BDSM and power exchange can be found in Them, Autostraddle, and her newsletter. Daemonum X lives in Brooklyn with her two dogs.
                            </p>
                        </div>
                        <div style="clear:both"></div> -->

                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/gabriella-garcia.jpg')"> </div>
                          <p class="small person">
                            <a href="higabriella.com">Gabriella Garcia</a>
                            is a techno-feminist researcher. Her work explores the protection of radical self-expression, networked subcultures, and cybernetic intimacy. As co-founder and director of @DecodingStigma, she works toward prioritizing sexual autonomy as a necessary ethics question for futurists. This is an extension of her thesis research and postdoctoral fellowship at NYU’s Interactive Telecommunications Program, which explored how whorephobia becomes encoded in tech design, despite the co-constitutive relationship between sexual labor and the development of digital media. Her work has been presented Institute for Public Knowledge (NYU), Design & Technology Cloud Salon (Parsons), Berkman Klein Center for Internet & Society (Harvard), Hacking//Hustling, and Decriminalized Future's Ladies of the Night School. She sits on the community advisory board for the Surveillance Technology Oversight Project (stopspying.org).
                          </p>
                        </div>
                        <div style="clear:both"></div>

                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/elizabeth-perez.jpg')"> </div>
                          <p class="small person">
                            <a href="http://elizabethperez.online">Elizabeth Perez</a> is a mother, multi-disciplinary designer and educator interested in the confluence of motherhood, world-building, and the possibilities of design. She is currently a Part Time Faculty Member at Parsons School of Design and completing a postdoctoral fellowship at NYU’s Interactive Telecommunications Program where she earned her master’s. Elizabeth lives and loves in Brooklyn, NY with her son.
                          </p>
                        </div>
                        <div style="clear:both"></div>

                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/daemonum-x.jpeg')"> </div>
                          <p class="small person">
                            <a href="https://daemonumx.com">Daemonum X</a> is a femme leatherdyke and lifestyle Dominant. She is a polyamory and BDSM coach offering strategies for successful relationships. She is the founder and Editrix of FIST, an anthology zine for leatherdykes, as well as Linked, A Polyamory Zine. More of her words on BDSM and power exchange can be found in Them, Autostraddle, and her newsletter. Daemonum X lives in Brooklyn with her two dogs.
                            </p>
                        </div>
                        <div style="clear:both"></div>

                        <h2 class="margin-top">Editors</h2>

                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/zainab-aliyu-2.jpg')"> </div>
                          <p class="small person">
                            <a href="https://zai.zone">Zainab Aliyu</a> ("Zai") is an artist and cultural worker whose work is about the material affect of the "immaterial." She contextualizes the cybernetic and temporal entanglement embedded within societal dynamics to understand how all sociotechnological systems of control are interconnected, and how we are all implicated through time. She often dreams, experiments and inquires through built virtual environments, printed matter, video, archives, writing, installation and community-participatory (un)learning.
                            Zai is currently a 2022 fellow at NYU Tisch's Future Imagination Collaboratory, design director for the African Film Festival at the Film at Lincoln Center in NYC and a co-director of the School for Poetic Computation.
                          </p>
                        </div>
                        <div style="clear:both"></div>

                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/neta-bomani-2.jpg')"> </div>
                          <p class="small person">
                            <a href="https://netabomani.com">Neta Bomani</a> is an abolitionist, learner and educator who is interested in parsing information and histories while making things by hand with human and non-human computers. Neta’s work combines archives, oral histories, computation, social practices, printmaking, paper engineering, zine making and workshops to create do it yourself artifacts.
                          </p>
                        </div>
                        <div style="clear:both"></div>

                        <div class=" person">
                          <div class="img" style="background-image: url('/images/people/melanie-hoff-2.jpg')"> </div>
                          <p class="small person">
                            As an artist, educator, and organizer, <a href="https://melaniehoff.com">Melanie Hoff</a> studies the role that technology plays in social organization and in reinforcing hegemonic structures. They are co-director of the School for Poetic Computation and a founding member of Soft Surplus and the Cybernetics Library. Melanie strives to cultivate spaces of learning and feeling that encourage honesty and reconciliation for the ways we are shaped by systems of gender, racialization, class, and the trauma these systems inscribe upon our bodies.
                          </p>
                        </div>
                        <div style="clear:both"></div>

                        <div class="margin-top">
                        <span class="responses">
                          <a href="/sex-ed-about">About this project...</a>
                        </span>
                      </div>


                  </div>
                </div>



        </section>


         <div class="break"></div>











        </div>
        </div>










<script src="sex-ed.js"></script>

<!-- <script src="/outside.js"></script>
<script src="/carousel.js"></script> -->
</p>

</body>
</html>
