<!DOCTYPE html>
<html lang="en">


<head>
    <title>School for Poetic Computation</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="title" content="School for Poetic Computation">
    <meta name="description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://sfpc.study/">
    <meta property="og:title" content="School for Poetic Computationn">
    <meta property="og:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://sfpc.study/">
    <meta property="twitter:title" content="School for Poetic Computation">
    <meta property="twitter:description" content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
    <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
    <link href="/styles.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/crt.css" />
    <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico"/>

    <script src="/jquery-3.6.0.min.js"></script>

    <!-- stats -->
    <script type="text/javascript">
    var sc_project=12714909;
    var sc_invisible=1;
    var sc_security="6086a46c";
    </script>
    <script type="text/javascript"
    src="https://www.statcounter.com/counter/counter.js" async></script>
    <noscript><div class="statcounter"><a title="website statistics"
    href="https://statcounter.com/" target="_blank"><img class="statcounter"
    src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
    referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>


    <script data-goatcounter="https://sfpc.goatcounter.com/count"
    async src="//gc.zgo.at/count.js"></script>
    <!-- end stats -->
</head>

<body>

  <div id="header">

    <div class="definition-marquee">
      <marquee id="marquee-definition"></marquee>
    </div>

    <div class="grid-2">
      <div class="grid-2 def-div">
        <span id="definition" class="defintion"></span>
        <nav class="mobile-menu"><h1>Closed!</h1></nav>
      </div>
    </div>

        <div class="grid-2">
              <div class="grid-4">
                <ul class="nav">
                  <!-- <li><a id="link-participate" href="participate.html">participate</a></li> -->
                </ul>
              </div>
              <div class="grid-4">
                <ul class="nav">
                  <!-- <li><a id="link-about" href="about.html">about</a></li> -->
                  <!-- <li><a id="link-blog" href="https://medium.com/@sfpc" target="_blank">blog</a></li> -->
                  <!-- <li><a id="link-support" href="https://withfriends.co/school_for_poetic_computation/join" target="_blank">support us</a></li> -->
                </ul>
              </div>
              <div class="grid-4">
                <ul class="nav">
                  <!-- <li><a id="link-newsletter" href="https://stats.sender.net/forms/e09QVa/view" target="_blank">newsletter</a></li> -->
                  <!-- <li><a id="" href="mailto:info@sfpc.study">email</a></li> -->
                  <!-- <li><a id="" href="https://instagram.com/sfpc_nyc" target="_blank">ig</a> / <a href="https://twitter.com/sfpc" target="_blank">tw</a> / <a href="https://www.are.na/school-for-poetic-computation" target="_blank">**</a></li> -->
                </ul>
              </div>
              <div class="grid-4">
                <div class="nav logo">
                  <a href="index.html"><img src="images/sfpc-logo.svg"></a>
                </div>
              </div>
            </div>

          </div>
      </div>

      <div id="footer">
        <div class="mode">only cathode-ray mode is available. <strike>liquid crystal mode</strike></div>
      </div>

      <div class="crt-overlay crt-overlay-fullsize flickering"></div>

      <div id="shell" class="shell shell-fullsize closed animsition">

        <div class="loader-content">
            <p tabindex="0" class="large">
              loading<span>...</span>
            </p>
        </div>

        <div id="closed" class="shell-content">

          <section class="closed">
            <p tabindex="0" class="large letter">
              Dear visitor,
              <BR><BR>
              <img src="" class="left c1">
              The School for Poetic Computation is temporarily closed, and so is our website.
              Our open hours are Monday to Friday, 9am to 9pm.
              We are currently resting, and we hope you are resting, too.

              In the meantime, join our <a href="https://stats.sender.net/forms/e09QVa/view">newsletter</a> to stay up to date on future sessions and events, and follow us on <a href="https://www.instagram.com/sfpc_nyc/">Instagram</a> and <a href="https://twitter.com/sfpc">Twitter</a>. Support our programming through <a href="https://withfriends.co/school_for_poetic_computation">scholarships</a>.

              You may get in touch with us over <a href="mailto:info@sfpc.study">email</a> and we will get back to you when we are open.

              <BR><br>
              Thank you!
              <BR><BR>
              In collective study, <BR>
              SFPC Stewards
            </p>
          </section>


        </div>










<script src="outside.js"></script>
<script src="closed.js"></script>
</p>

</body>
</html>
