<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">
  <style>
.shell.spring-26 {
  background-image:url('images/sessions/spring-26/w26bg.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
}
  </style>

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>

<body>

  {{> header}}
  </div>

  <div id="footer">
    <div class="mode"><button id="mode-toggle"></button></a></div>

  </div>


  <div class="website-grid grid-hide">
    <div class="grid-inner">
      <section>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">School</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">for</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars3"></div> -->
          <p class="large">Poetic</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars4"></div> -->
          <p class="large">Computation</p>
        </div>
      </section>
    </div>
  </div>


  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize home animsition spring-26">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <a class="fixed-support" href="https://sfpc.study/donate"><span>Donate!</span></a>

    {{!-- stickers --}}
 
    <div id="home" class="hide-content shell-content">



      <div class="intro crt home-intro" style="margin-bottom:-20px">
        <!-- <div class="break"></div> -->
        <p tabindex="0" class="large">
          <!-- <span id="session-name"><a href="/sessions/fall-24">Spring 2024</a></span> · -->
          The School for Poetic Computation is an experimental school in New York City and online supporting interdisciplinary
          study in art, code, hardware and critical theory. 
        </p>
      </div>

      <div class="intro-featured">
        <!-- <h4 class="breadcrumb">current & upcoming</h4> -->



 <div class="rows-2">

          <div class="grid-1 currently">

            <div class="grid-4 featured spring-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-26">session</a></h4>
                  <h2 id="session-name" style="font-size:4rem"> Spring 2026

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">March 30 - June 5, 2026 <span class="dot">·</span> 6 classes </h4>
                </div>
              </div>
            </div>

             <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/icaa.png')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/disturbing-code">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Disturbing Code</h2>
                  <h6 class="index-teachers">with Theo Ellin Ballew</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Thurs 10am ET or Thurs 4pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/icaa.png')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/whore-singularity">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">The Whore Singularity</h2>
                  <h6 class="index-teachers">with Tina Horn</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Tues 10am ET or Sun 1pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/avg.png')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/spring-26/rhythmanalytics">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Rhythmanalytics</h2>
                  <h6 class="index-teachers">with DeForrest Brown Jr.</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Mon 12pm ET or Wed 6:30pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>






          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/si.png');">
              <div class="featured-text">
                <div class="top">
                   <h4 class="type"><a class="pill"  href="/sessions/spring-26/digital-decay">online class</a></h4>
          <h2 class="title class" style="overflow-wrap: break-word;" >Digital Decay & Afterlives</h2>
                  <h6 class="index-teachers">with Alexa Ann Bonomo</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">Mon 6:30pm ET or Sun 1pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/pcs.png')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/time-manifestations">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Time & Its Manifestations</h2>
                  <h6 class="index-teachers">with Lawra Clark</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Thurs 6pm ET or Sun 2pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/oops.png')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill" href="/sessions/spring-26/form-flow-feel">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word; ">Form/Flow/Feel</h2>
                  <h6 class="index-teachers-small">with Mattaniah Aytenfsu</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Thurs 6:30pm ET or Sun 3pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>



            <div class="grid-4 featured spring-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/newsletter">newsletter</a></h4>
                  <h3>Stay updated about upcoming programs!</h3>
                </div>
                <div class="bottom">
                </div>
              </div>
            </div>

          </div>

        </div>



      </div>




    </div>










    <script src="outside.js"></script>
    <script src="open.js"></script>


</body>

</html>
