<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">
  <style>
.shell.spring-26 {
  background-image:url('images/sessions/spring-26/w26bg.png');
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
}
  </style>

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>

<body>

  {{> header}}
  </div>

  <div id="footer">
    <div class="mode"><button id="mode-toggle"></button></a></div>

  </div>


  <div class="website-grid grid-hide">
    <div class="grid-inner">
      <section>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">School</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">for</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars3"></div> -->
          <p class="large">Poetic</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars4"></div> -->
          <p class="large">Computation</p>
        </div>
      </section>
    </div>
  </div>


  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize home animsition april-26-shell">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <a class="fixed-support" href="https://sfpc.study/newsletter"><span>Stay updated</span></a>

    {{!-- stickers --}}
 
    <div id="home" class="hide-content shell-content" style="gap:4vh">



      <div class="intro crt home-intro">
        <!-- <div class="break"></div> -->
        <p tabindex="0" class="large" style="font-size:1em">
          The School for Poetic Computation is an experimental school in New York City and online supporting interdisciplinary
          study in art, code, hardware and critical theory.
        </p>
      </div>

      <div class="intro-featured">
        <!-- <h4 class="breadcrumb">current & upcoming</h4> -->



 <div class="rows-2">

          <div class="grid-1 currently">
            <div class="grid-4 featured summer-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/summer-26">session</a></h4>
                  <h2 id="session-name" style="font-size:2.5rem"> Summer 2026 Online Classes

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">June 14 - August 19, 2026 <span class="dot">·</span> 7 classes </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-26 online-class" style="background-image: url(images/sessions/summer-26/bg-grad.jpg)">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/summer-26/handmade-datasets">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Handmade Datasets</h2>
                  <h6 class="index-teachers">with Aarati Akkapeddi</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sun 6:30pm ET or Wed 6:30pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-26 online-class" style="background-image: url('images/sessions/summer-26/bg-greenblue.jpg')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/summer-26/indigenous-cartography-and-gis">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Indigenous Cartography & GIS</h2>
                  <h6 class="index-teachers">with Yvonne Mpwo</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Wed 6pm ET or Thurs 6pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-26 online-class" style="background-image: url('images/sessions/summer-26/bg-purple.jpg')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/summer-26/building-benches-for-the-web">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Building Benches for the Web</h2>
                  <h6 class="index-teachers">with Spencer Chang</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Mon 7:30pm ET or Tues 11:30am ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured summer-26 online-class" style=" background-image: url('images/sessions/summer-26/bg-blue.jpg');">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/summer-26/whore-singularity">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Media Folklores</h2>
                  <h6 class="index-teachers">with manuel arturo abreu and Zoe Butler</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sun 3pm ET or Tues 6pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-26 online-class" style="background-image: url('images/sessions/summer-26/bg-pink.jpg')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/summer-26/the-browser-is-already-a-game-engine">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">The Browser is Already a Game Engine</h2>
                  <h6 class="index-teachers">with Everest Pipkin</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Sun 10am ET<span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-26 online-class" style="background-image: url('images/sessions/summer-26/bg-orange.jpg'); ">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/summer-26/page-against-the-machine">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Page Against the Machine</h2>
                  <h6 class="index-teachers">with Ariel Yelen</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Tues 4pm ET or Thurs 6pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-26 online-class" style="background-image: url('images/sessions/summer-26/bg-green.jpg')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/summer-26/stealing-back-the-archive">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Stealing Back the Archive</h2>
                  <h6 class="index-teachers">with Kandis Williams</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Mon 12pm ET or Wed 6:30pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
          </div>

          {{!-- spring workshops --}}
          <div class="grid-1 currently">

            <div class="grid-4 featured spring-sw-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-26">session</a></h4>
                  <h2 id="session-name" style="font-size:2.5rem"> Spring 2026 Workshops

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">April  21 - April 26, 2026 <span class="dot">·</span> 2 Workshops </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured spring-sw-26 online-class">
              <div class="featured-text" style=" backdrop-filter: blur(5px);">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/counterveillance">one-day workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Counterveillance</h2>
                  <h6 class="index-teachers">with American Artist</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Tue April 21st, 6pm-9pm ET<br>IRL in NYC @ Leslie-Lohman Museum of Art<br>Sign-ups Open</h4>
                </div>
              </div>
            </div>
            <div class="grid-2 featured spring-sw-26 online-class">
              <div class="featured-text" style="backdrop-filter: blur(5px);">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/how-to-find">weekend workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word; ">How To Find What You Are Looking For</h2>
                  <h6 class="index-teachers">with Sam Lavigne and Maura Brewer</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sat-Sun April 25th-26th<br>1pm-6pm ET & 1pm-4pm ET<br>IRL in NYC @ Creative Time HQ <br>Sign-ups Open</h4>
                </div>
              </div>
            </div>




          </div>
           <div class="grid-1 currently">
{{!-- prom --}}
            <div class="grid-1 featured prom-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/prom">community event</a></h4>
                  <h2 id="session-name" style="font-size:2.5rem"> Poetic Promenade

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">June 20-21 <span class="dot">·</span>Roulette, Brooklyn, NY<span class="dot">·</span> A prom, a graduation, a fundraiser, a community celebration</h4>
                </div>
              </div>
            </div>
          </div>
          {{!-- future schools --}}
          <div class="grid-1 currently">

            <div class="grid-2 featured future-schools">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="https://nationalacademy.org/calendar/Future-Schools">residency</a></h4>
                  <h2 id="session-name" style="font-size:2.5rem"> Future Schools

                  </h2>
                  <h4>at the National Academy of Design<br>519 West 26th Street, 2nd Fl, NYC</h4>

                </div>
                <div class="bottom">
                  <h4 class="details">June 9-August 22, 2026 <span class="dot">·</span> 5 workshops, 3 public talks </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured future-schools talk" style="background-image: url('images/sessions/summer-26/bg1.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">public talk</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Chronopolitics of Extraction</h2>
                  <h6 class="index-teachers">Yvonne Mpwo</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sat June 13, 1:30-3pm ET<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured future-schools workshop" style="background-image: url('images/sessions/summer-26/bg2.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">one-day workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Poetic Hardware</h2>
                  <h6 class="index-teachers">with CW&T (Che-Wei Wang & Taylor Levy)</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Thurs June 18, 12-6pm ET<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured future-schools workshop" style="background-image: url('images/sessions/summer-26/bg3.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">one-day workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Consensual Hacking</h2>
                  <h6 class="index-teachers">with Melanie Hoff</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sat July 11, 1-4pm ET<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
          
            <div class="grid-4 featured future-schools talk" style="background-image: url('images/sessions/summer-26/bg4.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">public talk</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">The Origin of the Word</h2>
                  <h6 class="index-teachers">Melanie Hoff</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sat July 18<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
            <div class="grid-2 featured future-schools workshop" style="background-image: url('images/sessions/summer-26/bg8.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">two-day workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Extending Poetry Through Computation</h2>
                  <h6 class="index-teachers">with Omayeli Arenyeka</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Fri July 24, 6-9pm ET · Sat July 25, 1-4pm ET<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured future-schools talk" style="background-image: url('images/sessions/summer-26/bg5.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">public talk</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Handmade Datasets</h2>
                  <h6 class="index-teachers">Aarati Akkapeddi</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sat Aug 1, 1:30-3pm ET<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
            <div class="grid-2 featured future-schools workshop" style="background-image: url('images/sessions/summer-26/bg6.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">two-day workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Becoming Hypertext</h2>
                  <h6 class="index-teachers">with Chia Amisola</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Fri Aug 7, 1-6pm ET · Sat Aug 8, 1-4pm ET<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured future-schools workshop" style="background-image: url('images/sessions/summer-26/bg7.jpg')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="">one-day workshop</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Double Tap, Long Press: Writing Device-Body Contaminations</h2>
                  <h6 class="index-teachers">with Ahana Ganguly</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Sat Aug 15<br>National Academy of Design</h4>
                </div>
              </div>
            </div>
          </div>

        </div>



      </div>




    </div>










    <script src="outside.js"></script>
    <script src="open.js"></script>


</body>

</html>
