<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">



  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>

<body>

  {{> header}}
  </div>

  <div id="footer">
    <div class="mode"><button id="mode-toggle"></button></a></div>

  </div>


  <div class="website-grid grid-hide">
    <div class="grid-inner">
      <section>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">School</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">for</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars3"></div> -->
          <p class="large">Poetic</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars4"></div> -->
          <p class="large">Computation</p>
        </div>
      </section>
    </div>
  </div>


  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize home animsition spring-23">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <a class="fixed-support" href="/fundraiser"><span>Support
        Us!</span></a>




    <div id="home" class="hide-content shell-content">



      <div class="intro crt home-intro">
        <!-- <div class="break"></div> -->
        <p tabindex="0" class="large">
          <!-- <span id="session-name"><a href="/sessions/spring-23">Spring 2023</a></span>  ·  -->
          The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary
          study in art, code, hardware and critical theory. It's a place for learning and unlearning.
          <!-- Learn about our recent transformation <a href="">here</a>, or visit our old website <a href="">here</a>. -->
          Learn more about us <a href="about.html">here</a>. <BR><BR>
        </p>
      </div>

      <div class="intro-featured">
        <!-- <h4 class="breadcrumb">current & upcoming</h4> -->




        <div class="rows-2">

          <div class="grid-1 currently">

            <div class="grid-2 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23">session</a></h4>
                  <h2 class="title class">Spring 2023</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">March 6 - May 16, 2023 <span class="dot">·</span> 5 classes </h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/musical-web">class</a></h4>
                  <h2 class="title class">The Musical Web</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">March 6 - May 8, 2023 <span class="dot">·</span>Online (Zoom) ·
                    </span>Applications closed</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/narrative-constellations">class</a></h4>
                  <h2 class="title class">Narrative Constellations</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">March 15 - May 17, 2023 <span class="dot">·</span>Online (Zoom) ·
                    </span>Applications closed</h4>
                </div>
              </div>
            </div>



          </div>


          <div class="grid-1 currently">

            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/cellular-automata">class</a></h4>
                  <h2 class="title class">Cellular Automata</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">March 14 - April 12, 2023 <span class="dot">·</span>Online (Zoom) ·
                    </span>Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/solidarity-infra">class</a></h4>
                  <h2 class="title class">Solidarity Infrastructures</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">March 14 - May 16, 2023 <span class="dot">·</span>Online (Zoom) ·
                    </span>Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/teaching-learning">class</a></h4>
                  <h2 class="title class">Teaching and Learning as "PRIMITIVE HYPERTEXT"</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">March 14 - April 13, 2023 <span class="dot">·</span>Online (Zoom) ·
                    </span>Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="https://stats.sender.net/forms/e09QVa/view">newsletter</a></h4>
                  <h3>Stay updated about upcoming programs!</h3>
                </div>
                <div class="bottom">
                </div>
              </div>
            </div>




          </div>

        </div>


        <!-- <div class="grid-1 currently">
            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/algorithmic-botany">class</a></h4>
                  <h2 class="title class">Algorithmic Botany</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">January 18 - March 23, 2023 <span class="dot">·</span> Online (Zoom)
                    · Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/machine-language">class</a></h4>
                  <h2 class="title class">Machine Language</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">January 24 - March 28, 2023 <span class="dot">·</span>Online (Zoom) · Applications closed</h4>
                </div>
              </div>
            </div>



            <div class="grid-4 featured spring-23 ">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-23/for-love-and-science">class</a></h4>
                  <h2 class="title class">For Love and Science</h2>
                </div>
                <div class="bottom">
                  <h4 class="details">January 31 - April 4, 2023 <span class="dot">·</span>Hybrid (online & optional in-person) · Applications closed</h4>
                </div>
              </div>
            </div>



            <div class="grid-4 featured spring-23">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="https://stats.sender.net/forms/e09QVa/view">newsletter</a></h4>
                  <h3>Stay updated about upcoming programs!</h3>
                </div>
                <div class="bottom">
                </div>
              </div>
            </div> -->

      </div>

    </div>




  </div>










  <script src="outside.js"></script>
  <script src="closed.js"></script>


</body>

</html>