<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">



  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>

<body>

  {{> header}}
  </div>

  <div id="footer">
    <div class="mode"><button id="mode-toggle"></button></a></div>

  </div>


  <div class="website-grid grid-hide">
    <div class="grid-inner">
      <section>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">School</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars1"></div> -->
          <p class="large">for</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars3"></div> -->
          <p class="large">Poetic</p>
        </div>
        <div class="grid-2">
          <!-- <div class="chars chars4"></div> -->
          <p class="large">Computation</p>
        </div>
      </section>
    </div>
  </div>


  <div class="crt-overlay crt-overlay-fullsize"></div>

  <div id="shell" class="shell shell-fullsize home animsition fall-24">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <a class="fixed-support" href="https://sfpc.study/donate"><span>Donate!</span></a>

    {{!-- stickers --}}
 
    <div id="home" class="hide-content shell-content">



      <div class="intro crt home-intro">
    <img style="left:33%; top:-60px;" class="sticker" src="/images/sessions/fall-24/stickers/sun.png" />
    <img style="right:0px; top:30%" class="sticker" src="/images/sessions/fall-24/stickers/star.png" />
    <img style="right:10vw; bottom:1vh; width:calc(75px + 2vw)" class="sticker" src="/images/sessions/fall-24/stickers/flowers.png" />

        <!-- <div class="break"></div> -->
        <p tabindex="0" class="large">
          <!-- <span id="session-name"><a href="/sessions/summer-24">Spring 2024</a></span> · -->
          The School for Poetic Computation is an experimental school in New York City and online supporting interdisciplinary
          study in art, code, hardware and critical theory. It's a place for learning and unlearning.
          <!-- Learn about our recent transformation <a href="">here</a>, or visit our old website <a href="">here</a>. -->
          Learn more about us <a href="about">here</a>. <BR><BR>
        </p>
      </div>

      <div class="intro-featured">
        <!-- <h4 class="breadcrumb">current & upcoming</h4> -->




        <div class="rows-2">

          <div class="grid-1 currently">

            <div class="grid-4 featured fall-24">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/fall-24">session</a></h4>
                  <h2 class="title class" style="font-family: Dreamer !important; font-size:var(--large-text)">Fall 2024</h2>
                  <img style="bottom: 40%; right:0vw;" class="sticker" src="/images/sessions/fall-24/stickers/flower.png" />

                </div>
                <div class="bottom">
                  <h4 class="details">September 15 - November 21, 2024 <span class="dot">·</span> 6 classes </h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured fall-24">
    <img style="top:-40px; right:10%; width:calc(50px + 1vw)"class="sticker" src="/images/sessions/fall-24/stickers/sparkle.png" />

              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/fall-24/digital-love-languages">class</a></h4>
                  <h2 class="title class">Digital Love Languages
                    <span class="dot">·</span>
                  <span style="font-size:0.7em">with Melanie Hoff</span>
                  </h2>
                </div>
                <div class="bottom">
              <h4 class="details">September 17 - November 21, 2024 (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications closed</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured fall-24">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a href="/sessions/fall-24/to-the-streets">class</a></h4>
                <h2 class="title class">TO THE STREETS!
                   <span class="dot">·</span>
                  <span style="font-size:0.7em">with Lukaza Branfman-Verissimo</span>
                  </h2>
                </div>
                <div class="bottom">
                <h4 class="details">September 18 - October 19, 2024 (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured fall-24">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a href="/sessions/fall-24/agential-worldbuilding">class</a></h4>
                <h2 class="title class">Agential Worldbuilding
                   <span class="dot">·</span>
                  <span style="font-size:0.7em">with Viktor Timofeev</span>
                  </h2>
                </div>
                <div class="bottom">
                <h4 class="details">September 17 - November 20, 2024 (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications closed</h4>
                </div>
              </div>
            </div>




          </div>


          <div class="grid-1 currently">


            <div class="grid-4 featured fall-24">
              <div class="featured-text">
                <div class="top">
                   <h4 class="type"><a href="/sessions/fall-24/repatterning-and-practice">class</a></h4>
          <h2 class="title class" >Repatterning and Practice: Incantations for the Apocalypse
                    <span class="dot">·</span>
                  <span style="font-size:0.7em">with Amina Ross and Hiba Ali</span>
                  </h2>
                </div>
                <div class="bottom">
                  <h4 class="details">September 15 - November 23, 2024 (10 weeks) <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured fall-24">
    <img style="bottom:-10px; right:20%" class="sticker" src="/images/sessions/fall-24/stickers/bean.png" />

              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/fall-24/spectacle-presence-poetry">class</a></h4>
            <h2 class="title class">Spectacle, Presence & Poetry
                                      <span class="dot">·</span>
                  <span style="font-size:0.7em">with Gabrielle Octavia Rucker</span>
                  </h2>
                </div>
                <div class="bottom">
                  <h4 class="details">September 15 - October 16, 2024 (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                class="dot">·</span>Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured fall-24">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/fall-24/scrying">class</a></h4>
            <h2 class="title class">Scripting is Scrying
                                      <span class="dot">·</span>
                  <span style="font-size:0.7em">with Aarati Akkapeddi</span>
                  </h2>
                </div>
                <div class="bottom">
                  <h4 class="details">September 18 - November 21, 2024 (10 weeks) <span class="dot">·</span>Online (Zoom) <span
                class="dot">·</span>Applications closed</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured fall-24">
             <img style="top:70%; right:20%; width:calc(50px + 4vw); transform: rotate(17deg);" class="sticker" src="/images/sessions/fall-24/stickers/sfpc.png" />
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/newsletter">newsletter</a></h4>
                  <h3>Stay updated about upcoming programs!</h3>
                </div>
                <div class="bottom">
                </div>
              </div>
            </div>

          </div>

        </div>



      </div>




    </div>










    <script src="outside.js"></script>
    <script src="open.js"></script>


</body>

</html>
