@font-face {
  font-family: 'Hershey';
  src: url('https://sfpc.study/fonts/Hershey-Noailles-Futura-Duplex-Regular.woff2') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hershey';
  src: url('https://sfpc.study/fonts/Hershey-Noailles-Futura-Duplex-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
