:root {

    --background: #e5e3e4 ;
     --text-color: #555658  ;
    --text-link: var(--summer-22-link) ;
    --box-shadow: rgba(0,0,0,.3);




    --sex-ed-background: #33f24c ;
    --sex-ed-text: #5d4486  ;
    --sex-ed-link: #7358b7;
    --sex-ed-text-on-bg:#555658  ;
    --sex-ed-special-text:  #555658  ;


    --networked-performance-background: #2E2E2E;
    --networked-performance-text: #fff;
    --networked-performance-text-on-bg: #fff;
    --networked-performance-link:  #EDBBE8;
     --networked-performance-special-text:  #14a057;


    --summer-22-background: #fff;
    --summer-22-text: #FF4C00;
    --summer-22-text-on-bg: #fff;
    --summer-22-link:  #458DF9;
     --summer-22-special-text:  #FF4C00;


    --spring-22-background: #e5e3e4;
    --spring-22-text: #555658;
    --spring-22-link:  rgb(48, 155, 80);

    --fallwinter-2122-background: #fff;
    --fallwinter-2122-text: #000;
    --fallwinter-2122-link: #8866aa;

    --cocoon-2021-background: #bb905e;
    --cocoon-2021-text: #211060;
    --cocoon-2021-link: hsl(165, 53%, 25%);

    --codesocieties-2020-background: blueviolet;
    --codesocieties-2020-text: #fff;
    --codesocieties-2020-link: #c78fff;

}





/* /////////// start SFPC GENERAL STYLES  ///////////////////////////////*/


select#allSections {
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(3px);
}

.shell {
  border-color: #fff !important;
}


.test, .block-text {
  border-color: var(--text-color);
}



.sfpc,
.sfpc.featured.session,
.shell .sfpc,
.sfpc.featured  {
  background-color: var(--background)  !important;
  color: var(--text-color);
  box-sizing: border-box;
  border-color: var(--text-color);
}


      .sfpc p,
      .sfpc p a,
      .sfpc a,
      .sfpc.featured h4,
      .sfpc h4 a,
      .sfpc .intro a,
      .sfpc p.large a,
      .sfpc p a:hover,
      .sfpc.session.featured,
      .sfpc.session.featured a
      {
        color: var(--text-color) !important;
      }

      .sfpc h4 a:hover,
      /* .sfpc .intro a, */
      .sfpc p.large a:hover,
      .sfpc.featured:hover h6,
      .sfpc.featured:hover .title,
      .sfpc .details a:hover,
      .sfpc.featured .title:hover,
      .sfpc p a:hover,
      .sfpc h4 a:hover,
      .sfpc section .grid-2 ul li::before,
      .sfpc .chars,
      .sfpc p a:hover,
      .sfpc a:hover,
      .sfpc h4 a:hover,
      .sfpc .intro a:hover,
      .sfpc .details a:hover,
      .sfpc .entity:hover .accordion dt h3:after,
      .sfpc .accordion dt h3:after,
      .sfpc .expanded{
          color: var(--text-link) !important;
      }

      .sfpc #cost,
      .sfpc .fixed-apply,
      .sfpc .fixed-support {
          color: var(--background) !important;
      }

      .sfpc .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .sfpc .block-text {
        background-color: var(--background);
      }


      .sfpc .break {
        border-bottom: 1px dashed var(--text-color);
      }

      .sfpc .grid-inner, .sfpc.grid-inner {
        border: 2px dotted var(--text-color) !important;
        color: var(--text-link) !important;
      }

      .sfpc #class .entity,
      .sfpc.website-grid .grid-2 {
        border-color: var(--text-color);
      }

      .sfpc #class .entity:hover {
        border-color: var(--text-link);
      }

      .sfpc .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--background) !important;
      }

      .sfpc select#allSections:hover,
      .sfpc .loader-content p::after,
      .sfpc span#cost
      {
        background: var(--text-link) !important;
        color: var(--background) !important;
      }


      .sfpc .breadcrumb.fixed {

          background: rgba(255,255,255,.8) !important;
      }

      .sfpc .breadcrumb.fixed,
      .sfpc .breadcrumb.fixed::before,
      .sfpc .breadcrumb.fixed a,
      .sfpc .breadcrumb.fixed a:hover {
        /* background: rgba(255,255,255,.8) !important; */
        color: #000 !important;
      }


      .sfpc .breadcrumb,
      .sfpc .breadcrumb a,
      .sfpc .text-on-bg,
      .sfpc .breadcrumb a:hover {
          color: var(--text-color) !important;
          /* text-shadow: 2px 2px 0px var(--text-link); */
      }


      .sfpc section#section-outro,
      #class .intro.sfpc,
      .shell.sfpc .class-details,
      .sfpc #class section,
      .sfpc #class .entity,
      .sfpc .accordion dd.active,
      .sfpc section ul,
      .sfpc .website-grid
       {
        background-color: var(--background);
        color:  var(--text-color) !important;
        border-radius: var(--border-rad);
      }

      .sfpc #class section,
      #class .intro.sfpc {
        /* padding: var(--body-margin) calc(var(--body-margin)/2); */
      }

      .sfpc #class section.stacked,
      .sfpc .section-testimonials,
      .sfpc .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }


      .shell.sfpc {
        background: var(--background);
      }


/* /////////// end SFPC GENERAL STYLES  ///////////////////////////////*/







/* /////////// start SEX ED ///////////////////////////////*/


select#allSections {
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(3px);
}

.shell {
  border-color: #fff !important;
}


.test, .block-text {
  border-color: var(--text-color);
}



/* .sex-ed, */
.sex-ed.featured.session,
.sex-ed.featured  {
 /* background-color: var(--sex-ed-background)  !important; */
 color: var(--sex-ed-text);
 box-sizing: border-box;
 border-color: var(--sex-ed-text);
 background-image:url('images/sessions/sex-ed/bg.jpg');
 background-position: bottom;
 background-repeat: no-repeat;
 background-size: 100%;
}

.sex-ed.featured:hover {
  background-size: 150%;
}



     .shell.sex-ed {
       background-image:url('images/sessions/sex-ed/bg.jpg');
       background-position: bottom;
       background-repeat: no-repeat;
       background-size: cover;
     }


     .sex-ed p,
     .sex-ed p a,
     .sex-ed a,
     .sex-ed.featured h4,
     .sex-ed h4 a,
     .sex-ed .intro a,
     .sex-ed p.large a,
     .sex-ed p a:hover,
     .sex-ed.session.featured,
     .sex-ed.session.featured a
     {
       color: var(--sex-ed-text) !important;

     }

     .sex-ed p,
     .sex-ed.featured h4,
     .sex-ed p.large,
     .sex-ed .intro,
     .sex-ed h1,
    .sex-ed .details .labels,
    .sex-ed .details .labels-info,
    .sex-ed li,
    .sex-ed ul
        {
       text-shadow:  0 0 7px #fff,  0 0 10px #fff;
      }

      .sex-ed .details .labels-info #cost
          {
         text-shadow:  0 0 7px var(--sex-ed-link),  0 0 10px var(--sex-ed-link);
        }

     .sex-ed h4 a:hover,
     /* .sex-ed .intro a, */
     .sex-ed p.large a:hover,
     .sex-ed.featured:hover h6,
     .sex-ed.featured:hover .title,
     .sex-ed .details a:hover,
     .sex-ed.featured .title:hover,
     .sex-ed p a:hover,
     .sex-ed h4 a:hover,
     .sex-ed section .grid-2 ul li::before,
     .sex-ed .chars,
     .sex-ed p a:hover,
     .sex-ed a:hover,
     .sex-ed h4 a:hover,
     .sex-ed .intro a:hover,
     .sex-ed .details a:hover,
     .sex-ed .entity:hover .accordion dt h3:after,
     .sex-ed .accordion dt h3:after,
     .sex-ed .expanded{
         color: var(--sex-ed-link) !important;
     }

     .sex-ed.featured .title{
       text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff;
     }


     .sex-ed.featured:hover .title {
       text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff;
     }





     .sex-ed #cost,
     .sex-ed .fixed-apply,
     .sex-ed .fixed-support {
         color: var(--sex-ed-background) !important;
         background: var(--sex-ed-link) !important;
     }

     .sex-ed .fixed-apply:hover {
       color: #000 !important;
       background: rgba(255,255,255,.8) !important;
     }

     .sex-ed .block-text {
       background-color: var(--sex-ed-background);
     }


     .sex-ed .break {
       border-bottom: 1px dashed var(--sex-ed-text);
     }

     .sex-ed .grid-inner, .sex-ed.grid-inner {
       border: 2px dotted var(--sex-ed-text) !important;
       color: var(--sex-ed-link) !important;
     }

     .sex-ed #class .entity,
     .sex-ed.website-grid .grid-2 {
       border-color: var(--sex-ed-text);
     }

     .sex-ed #class .entity:hover {
       border-color: var(--sex-ed-link);
     }

     .sex-ed .website-grid .grid-2 p.large {
       text-shadow: 3px 3px var(--sex-ed-background) !important;
     }

     .sex-ed select#allSections:hover,
     .sex-ed .loader-content p::after,
     .sex-ed span#cost
     {
       background: var(--sex-ed-link) !important;
       color: var(--sex-ed-background) !important;
     }


     .sex-ed .breadcrumb.fixed {

         background: rgba(255,255,255,.8) !important;
     }






     .sex-ed .breadcrumb.fixed,
     .sex-ed .breadcrumb.fixed::before,
     .sex-ed .breadcrumb.fixed a,
     .sex-ed .breadcrumb.fixed a:hover {
       /* background: rgba(255,255,255,.8) !important; */
       color: #000 !important;
     }


     .sex-ed .breadcrumb,
     .sex-ed .breadcrumb a,
     .sex-ed .text-on-bg,
     .sex-ed .breadcrumb a:hover {
         color: var(--sex-ed-text) !important;
         /* text-shadow: 2px 2px 0px var(--sex-ed-link); */
     }


     .sex-ed section#section-outro,
     #class .intro.sex-ed,
     .shell.sex-ed .class-details,
     .sex-ed #class section,
     .sex-ed #class .entity,
     .sex-ed .accordion dd.active,
     .sex-ed section ul,
     .sex-ed .website-grid
      {
       /* background-color: var(--sex-ed-background); */
       color:  var(--sex-ed-text) !important;
       border-radius: var(--border-rad);
     }

     .sex-ed #class section,
     #class .intro.sex-ed {
       /* padding: var(--body-margin) calc(var(--body-margin)/2); */
     }

     .sex-ed #class section.stacked,
     .sex-ed .section-testimonials,
     .sex-ed .section-testimonials p
      {
       background: none !important;
       padding: 0px !important
     }






/* /////////// end SEX ED ///////////////////////////////*/









/* /////////// start NETWORKED PERFORMANCE ///////////////////////////////*/

.networked-performance,
.networked-performance.featured.session,
.shell .networked-performance,
.networked-performance.featured  {
  background-color: var(--networked-performance-background)  !important;
  color: var(--networked-performance-text);
  box-sizing: border-box;
  border-color: var(--networked-performance-text);
}


      .networked-performance p,
      .networked-performance p a,
      .networked-performance a,
      .networked-performance.featured h4,
      .networked-performance h4 a,
      .networked-performance .intro a,
      .networked-performance p.large a,
      .networked-performance p a:hover,
      .networked-performance.session.featured,
      .networked-performance.session.featured a,
      .networked-performance.featured h4.type a,
      .sfpc .networked-performance a
      {
        color: var(--networked-performance-text) !important;
      }

      .networked-performance h4 a:hover,
      .networked-performance .intro a,
      .networked-performance p.large a:hover,
      .networked-performance.featured:hover h6,
      .networked-performance.featured:hover .title,
      .networked-performance .details a:hover,
      .networked-performance.featured .title:hover,
      .networked-performance p a:hover,
      .networked-performance h4 a:hover,
      .networked-performance section .grid-2 ul li::before,
      .networked-performance .chars,
      .networked-performance p a:hover,
      .networked-performance a:hover,
      .networked-performance h4 a:hover,
      .networked-performance .intro a:hover,
      .networked-performance .details a:hover,
      .networked-performance .entity:hover .accordion dt h3:after,
      .networked-performance .accordion dt h3:after,
      .networked-performance .expanded
      {
          color: var(--networked-performance-link) !important;
      }

      .networked-performance #cost,
      .networked-performance .fixed-apply,
      .networked-performance .fixed-support {
          color: var(--networked-performance-background) !important;
          background: var(--networked-performance-link) !important;
      }

      .networked-performance span#cost {
        background: var(--networked-performance-link) !important;
      }


      .networked-performance .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .networked-performance .block-text {
        background-color: var(--networked-performance-background);
      }



      .networked-performance.grid-inner, .networked-performance .grid-inner {
        border: 2px dotted var(--networked-performance-text);
        color: var(--networked-performance-link) !important;
      }

      .networked-performance #class .entity,
      .networked-performance.website-grid .grid-2 {
        border-color: var(--networked-performance-text);
      }

      .networked-performance #class .entity:hover {
        border-color: var(--networked-performance-link);
      }

      .networked-performance .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--networked-performance-background) !important;
      }


      .networked-performance select#allSections:hover,
      .networked-performance .loader-content p::after,
      .networked-performance span#cost
      {
        background: var(--networked-performance-link) !important;
        color: var(--networked-performance-background) !important;
      }


      .networked-performance .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;

        }

        .networked-performance .breadcrumb.fixed,
      .networked-performance .breadcrumb.fixed::before,
      .networked-performance .breadcrumb.fixed a,
      .networked-performance .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
        background: none;
      }


      .networked-performance .breadcrumb,
      .networked-performance .breadcrumb a,
      .networked-performance .text-on-bg,
      .networked-performance .breadcrumb a:hover
      {
          color: var(--networked-performance-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--networked-performance-special-text);
      }







      .networked-performance section#section-outro,
      #class .intro.networked-performance,
      .shell.networked-performance .class-details,
      .networked-performance #class section,
      .networked-performance #class .entity,
      .networked-performance .accordion dd.active,
      .networked-performance section ul,
      .networked-performance .website-grid
       {
        background-color: var(--networked-performance-background);
        color:  var(--networked-performance-text) !important;
        border-radius: var(--border-rad);
      }

      .networked-performance #class section,
      #class .intro.networked-performance {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .networked-performance #class section.stacked,
      .networked-performance .section-testimonials,
      .networked-performance .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .networked-performance .break {
        border: 0px !important;
        margin-bottom: 0px !important;
        border-color: var(--networked-performance-text);
      }

      .shell.networked-performance {
        background-image: url('images/sessions/networked-performance/bg.jpg');
        background-size: cover;
      }


/* /////////// end NETWORKED PERFORMANCE  ///////////////////////////////*/









/* /////////// start SUMMER 22  ///////////////////////////////*/

.summer-22,
.summer-22.featured.session,
.shell .summer-22,
.summer-22.featured  {
  background-color: var(--summer-22-background)  !important;
  color: var(--summer-22-text);
  box-sizing: border-box;
  border-color: var(--summer-22-text);
}


      .summer-22 p,
      .summer-22 p a,
      .summer-22 a,
      .summer-22.featured h4,
      .summer-22 h4 a,
      .summer-22 .intro a,
      .summer-22 p.large a,
      .summer-22 p a:hover,
      .summer-22.session.featured,
      .summer-22.session.featured a,
      .summer-22.featured h4.type a,
      .sfpc .summer-22 a
      {
        color: var(--summer-22-text) !important;
      }

      .summer-22 h4 a:hover,
      .summer-22 .intro a,
      .summer-22 p.large a:hover,
      .summer-22.featured:hover h6,
      .summer-22.featured:hover .title,
      .summer-22 .details a:hover,
      .summer-22.featured .title:hover,
      .summer-22 p a:hover,
      .summer-22 h4 a:hover,
      .summer-22 section .grid-2 ul li::before,
      .summer-22 .chars,
      .summer-22 p a:hover,
      .summer-22 a:hover,
      .summer-22 h4 a:hover,
      .summer-22 .intro a:hover,
      .summer-22 .details a:hover,
      .summer-22 .entity:hover .accordion dt h3:after,
      .summer-22 .accordion dt h3:after,
      .summer-22 .expanded{
          color: var(--summer-22-link) !important;
      }

      .summer-22 #cost,
      .summer-22 .fixed-apply,
      .summer-22 .fixed-support {
          color: var(--summer-22-background) !important;
          background: var(--summer-22-link) !important;
      }

      .summer-22 span#cost {
        background: var(--summer-22-link) !important;
      }


      .summer-22 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .summer-22 .block-text {
        background-color: var(--summer-22-background);
      }



      .summer-22.grid-inner, .summer-22 .grid-inner {
        border: 2px dotted var(--summer-22-text);
        color: var(--summer-22-link) !important;
      }

      .summer-22 #class .entity,
      .summer-22.website-grid .grid-2 {
        border-color: var(--summer-22-text);
      }

      .summer-22 #class .entity:hover {
        border-color: var(--summer-22-link);
      }

      .summer-22 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--summer-22-background) !important;
      }


      .summer-22 select#allSections:hover,
      .summer-22 .loader-content p::after,
      .summer-22 span#cost
      {
        background: var(--summer-22-link) !important;
        color: var(--summer-22-background) !important;
      }

      .summer-22 .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;
      }
      .summer-22 .breadcrumb.fixed,
      .summer-22 .breadcrumb.fixed::before,
      .summer-22 .breadcrumb.fixed a,
      .summer-22 .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
      }


      .summer-22 .breadcrumb,
      .summer-22 .breadcrumb a,
      .summer-22 .text-on-bg,
      .summer-22 .breadcrumb a:hover {
          color: var(--summer-22-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--summer-22-link);
      }


      .summer-22 section#section-outro,
      #class .intro.summer-22,
      .shell.summer-22 .class-details,
      .summer-22 #class section,
      .summer-22 #class .entity,
      .summer-22 .accordion dd.active,
      .summer-22 section ul,
      .summer-22 .website-grid
       {
        background-color: var(--summer-22-background);
        color:  var(--summer-22-text) !important;
        border-radius: var(--border-rad);
      }

      .summer-22 #class section,
      #class .intro.summer-22 {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .summer-22 #class section.stacked,
      .summer-22 .section-testimonials,
      .summer-22 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .summer-22 .break {
        border: 0px !important;
        margin-bottom: 0px !important;
        border-color: var(--summer-22-text);
      }

      .shell.summer-22 {
        background-image: url('images/sessions/summer-22/bg-b.jpg');
        background-size: cover;
      }


/* /////////// end SUMMER 22  ///////////////////////////////*/








/* /////////// start SPRING 22  ///////////////////////////////*/

.spring-22,
.spring-22.featured.session,
.shell .spring-22,
.spring-22.featured  {
  background-color: var(--spring-22-background)  !important;
  color: var(--spring-22-text);
  box-sizing: border-box;
  border-color: var(--spring-22-text);
}


      .spring-22 p,
      .spring-22 p a,
      .spring-22 a,
      .spring-22.featured h4,
      .spring-22 h4 a,
      .spring-22 .intro a,
      .spring-22 p.large a,
      .spring-22 p a:hover,
      .spring-22.session.featured,
      .spring-22.session.featured a
      {
        color: var(--spring-22-text) !important;
      }

      .spring-22 h4 a:hover,
      .spring-22 .intro a,
      .spring-22 p.large a:hover,
      .spring-22.featured:hover h6,
      .spring-22.featured:hover .title,
      .spring-22.featured .title:hover,
      .spring-22 p a:hover,
      .spring-22 h4 a:hover,
      .spring-22 section .grid-2 ul li::before,
      .spring-22 .chars,
      .spring-22 p a:hover,
      .spring-22 a:hover,
      .spring-22 h4 a:hover,
      .spring-22 .intro a:hover,
      .spring-22 .details a:hover,
      .spring-22 .entity:hover .accordion dt h3:after,
      .spring-22 .accordion dt h3:after,
      .spring-22 .expanded
      {
          color: var(--spring-22-link) !important;
      }

      .spring-22 #cost,
      .spring-22 .fixed-apply,
      .spring-22 .fixed-support {
          color: var(--spring-22-background) !important;
          background: var(--spring-22-link) !important;
      }

      .spring-22 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .spring-22 .block-text {
        background-color: var(--spring-22-background);
      }


      .spring-22 .break {
        border-bottom: 1px dashed var(--spring-22-text) !important;
      }

      .spring-22 .grid-inner, .spring-22.grid-inner {
        border: 2px dotted var(--spring-22-text);
        color: var(--spring-22-link) !important;
      }

      .spring-22 #class .entity,
      .spring-22.website-grid .grid-2 {
        border-color: var(--spring-22-text);
      }

      .spring-22 #class .entity:hover {
        border-color: var(--spring-22-link);
      }

      .spring-22 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--spring-22-background) !important;
      }


      .spring-22 .breadcrumb.fixed,
      .spring-22 .breadcrumb.fixed::before,
      .spring-22 .breadcrumb.fixed a,
      .spring-22 .breadcrumb.fixed a:hover {
        background: rgba(255,255,255,.8) !important;
        color: #000 !important;
      }

      .spring-22 select#allSections:hover,
      .spring-22 .loader-content p::after,
      .spring-22 span#cost
      {
        background: var(--spring-22-link) !important;
        color: var(--spring-22-background) !important;
      }

      .spring-22 .breadcrumb,
      .spring-22 .breadcrumb a,
      .spring-22 .text-on-bg,
      .spring-22 .breadcrumb a:hover {
          color: var(--spring-22-text-on-bg) !important;
      }


      .spring-22 section#section-outro,
      #class .intro.spring-22,
      .shell.spring-22 .class-details,
      .spring-22 #class section,
      .spring-22 #class .entity,
      .spring-22 .accordion dd.active,
      .spring-22 section ul,
      .spring-22 .website-grid
       {
        background-color: var(--spring-22-background);
        color:  var(--spring-22-text) !important;
        border-radius: var(--border-rad);
      }

      .spring-22 #class section,
      #class .intro.spring-22 {
        /* padding: var(--body-margin) calc(var(--body-margin)/2); */
      }

      .spring-22 #class section.stacked,
      .spring-22 .section-testimonials,
      .spring-22 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }


      .shell.spring-22 {
        background-image: url('images/sessions/spring-22/bg-b.jpg');
        background-size: cover;
      }


/* /////////// end SPRING 22  ///////////////////////////////*/





/* .spring-22 {
  background-color: var(--spring-22-background);
  color: var(--spring-22-text);
  box-sizing: border-box;
  border-color: var(--spring-22-text);
}

        .spring-22 a:hover,
        .spring-22.featured:hover h2,
        .spring-22.featured:hover .title,
        .spring-22.featured .title:hover,
        .spring-22.featured:hover h6,
        .spring-22 .expanded
        {
          color: var(--spring-22-link) !important;
        }

        .spring-22.featured h4.type  {
          color: var(--spring-22-text);
        }

        .spring-22 span#cost,
        .spring-22 .fixed-apply {
            color: var(--spring-22-background) !important;
        } */


.fallwinter-2122 {
  background-color: var(--fallwinter-2122-background);
  background-image: url('images/sessions/fallwinter-2122/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--fallwinter-2122-text);
  box-sizing: border-box;
  border-color: var(--fallwinter-2122-text);
}

        .fallwinter-2122 a:hover, .fallwinter-2122.featured:hover h2 {
          color: var(--fallwinter-2122-link) !important;
        }


#class.cocoon-2021  {
  background: none;
}

.cocoon-2021 {
  background-color: var(--cocoon-2021-background);
  color: var(--cocoon-2021-text);
  box-sizing: border-box;
  border-color: var(--cocoon-2021-text);
  background-image: url('images/sessions/cocoon-2021/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: screen;
}


        .cocoon-2021 a:hover, .cocoon-2021.featured:hover h2  {
          color: var(--cocoon-2021-link) !important;
        }

        .cocoon-2021.featured h4 a,
        .cocoon-2021 p,
        .cocoon-2021 p a,
        .cocoon-2021 a,
        .cocoon-2021.featured h4,
        .cocoon-2021 h4 a,
        .cocoon-2021 .intro a,
        .cocoon-2021 p.large a,
        .cocoon-2021 p a:hover,
        .cocoon-2021.session.featured,
        .cocoon-2021.session.featured a,
        .cocoon-2021.featured h4.type a,
        .sfpc .cocoon-2021 a,
        .sfpc .cocoon-2021 h4 a
         {
          color: var(--cocoon-2021-text) !important;
        }


.codesocieties-2020 {
  background-color: var(--codesocieties-2020-background);
  color: var(--codesocieties-2020-text);
  box-sizing: border-box;
  border-color: var(--codesocieties-2020-text);
  background-image: url('images/sessions/codesocieties-2020/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

        .codesocieties-2020 a:hover, .codesocieties-2020.featured:hover h2 {
          color: var(--codesocieties-2020-link) !important;
        }


        .codesocieties-2020.featured h4 a,
        .codesocieties-2020 p,
        .codesocieties-2020 p a,
        .codesocieties-2020 a,
        .codesocieties-2020.featured h4,
        .codesocieties-2020 h4 a,
        .codesocieties-2020 .intro a,
        .codesocieties-2020 p.large a,
        .codesocieties-2020 p a:hover,
        .codesocieties-2020.session.featured,
        .codesocieties-2020.session.featured a,
        .codesocieties-2020.featured h4.type a,
        .sfpc .codesocieties-2020 a,
        .sfpc .codesocieties-2020 h4 a
         {
          color: var(--codesocieties-2020-text) !important;
        }
