:root {

    --background: #e5e3e4 ;
    --text-color: #555658  ;
    --text-link: var(--winter-23-special-text) ;
    --box-shadow: rgba(0,0,0,.3);

    --fundraiser-winter-23-background-dark: #002061;
    --fundraiser-winter-23-background: #00189a;
   --fundraiser-winter-23-text: #fff;
    --fundraiser-winter-23-text-on-bg: #fff;
    --fundraiser-winter-23-link:  #009ea7;
    --fundraiser-winter-23-special-text:  #e3009a;

   --winter-23-background: #285f9e;
  --winter-23-text: #fff;
   --winter-23-text-on-bg: #fff;
   --winter-23-link:  #74c131;
   --winter-23-special-text:  #285f9e;


    --fall-22-background: #37903d;
    --fall-22-text: #ffffff;
    --fall-22-text-on-bg: #d3dbe0;
    --fall-22-link:  #4c0191;
     --fall-22-special-text:  #5b922c;

    --sex-ed-background: #33f24c ;
    --sex-ed-text: #5d4486  ;
    --sex-ed-link: #7358b7;
    --sex-ed-text-on-bg:#555658  ;
    --sex-ed-special-text:  #555658  ;

    --networked-performance-background: #2E2E2E;
    --networked-performance-text: #fff;
    --networked-performance-text-on-bg: #fff;
    --networked-performance-link:  #EDBBE8;
     --networked-performance-special-text:  #14a057;

    --summer-22-background: #F5EEEE;
    --summer-22-text: #FF4C00;
    --summer-22-text-on-bg: #fff;
    --summer-22-link:  #458DF9;
     --summer-22-special-text:  #FF4C00;

    --spring-22-background: #e5e3e4;
    --spring-22-text: #555658;
    --spring-22-link:  rgb(48, 155, 80);

    --fallwinter-2122-background: #fff;
    --fallwinter-2122-text: #000;
    --fallwinter-2122-link: #8866aa;

    --cocoon-background: #bb905e;
    --cocoon-text: #211060;
    --cocoon-link: hsl(165, 53%, 25%);

    --codesocieties-20-background: blueviolet;
    --codesocieties-20-text: #fff;
    --codesocieties-20-link: #c78fff;

}





/* /////////// start SFPC GENERAL STYLES  ///////////////////////////////*/


select#allSections {
  background: rgba(255,255,255,.8);
  backdrop-filter: blur(3px);
}

.shell {
  border-color: #fff !important;
}







.sfpc,
.sfpc.featured.session,
.shell .sfpc,
.sfpc.featured  {
  background-color: var(--background)  !important;
  color: var(--text-color);
  box-sizing: border-box;
  border-color: var(--text-color);
}


      .sfpc p,
      .sfpc p a,
      .sfpc a,
      .sfpc.featured h4,
      .sfpc h4 a,
      .sfpc .intro a,
      .sfpc p.large a,
      .sfpc p a:hover,
      .sfpc.session.featured,
      .sfpc.session.featured a
      {
        color: var(--text-color) !important;
      }

      .sfpc h4 a:hover,
      /* .sfpc .intro a, */
      .sfpc p.large a:hover,
      .sfpc.featured:hover h6,
      .sfpc.featured:hover .title,
      .sfpc .details a:hover,
      .sfpc.featured .title:hover,
      .sfpc p a:hover,
      .sfpc h4 a:hover,
      .sfpc section .grid-2 ul li::before,
      .sfpc .chars,
      .sfpc p a:hover,
      .sfpc a:hover,
      .sfpc h4 a:hover,
      .sfpc .intro a:hover,
      .sfpc .details a:hover,
      .sfpc .entity:hover .accordion dt h3:after,
      .sfpc .accordion dt h3:after,
      .sfpc .expanded{
          color: var(--text-link) !important;
      }

      .sfpc #cost,
      .sfpc .fixed-apply,
      .sfpc .fixed-support {
          color: var(--background) !important;
      }

      .sfpc .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .sfpc .block-text {
        background-color: var(--background);
        color: var(--text-link);
      }


      .sfpc .break {
        border-bottom: 1px dashed var(--text-color);
      }

      .sfpc .grid-inner, .sfpc.grid-inner {
        border: 2px dotted var(--text-color) ;
        color: var(--text-link) !important;
      }

      .sfpc #class .entity,
      .sfpc.website-grid .grid-2 {
        border-color: var(--text-color);
      }

      .sfpc #class .entity:hover {
        border-color: var(--text-link);
      }

      .sfpc .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--background) !important;
      }

      .sfpc select#allSections:hover,
      .sfpc .loader-content p::after,
      .sfpc span#cost
      {
        background: var(--text-link) !important;
        color: var(--background) !important;
      }


      .sfpc .breadcrumb.fixed {
          background: rgba(255,255,255,.8) !important;
      }

      .sfpc .breadcrumb.fixed,
      .sfpc .breadcrumb.fixed::before,
      .sfpc .breadcrumb.fixed a,
      .sfpc .breadcrumb.fixed a:hover {
        /* background: rgba(255,255,255,.8) !important; */
        color: #000 !important;
      }


      .sfpc .breadcrumb,
      .sfpc .breadcrumb a,
      .sfpc .text-on-bg,
      .sfpc .breadcrumb a:hover {
          color: var(--text-color) !important;
          /* text-shadow: 2px 2px 0px var(--text-link); */
      }


      .sfpc section#section-outro,
      #class .intro.sfpc,
      .shell.sfpc .class-details,
      .sfpc #class section,
      .sfpc #class .entity,
      .sfpc .accordion dd.active,
      .sfpc section ul,
      .sfpc .website-grid
       {
        background-color: var(--background);
        color:  var(--text-color) !important;
        border-radius: var(--border-rad);
      }

      .sfpc #class section,
      #class .intro.sfpc {
        /* padding: var(--body-margin) calc(var(--body-margin)/2); */
      }

      .sfpc #class section.stacked,
      .sfpc .section-testimonials,
      .sfpc .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }


      .shell.sfpc {
        background: var(--background);
      }

      .sfpc.test, .sfpc.block-text {
        border-color: var(--text-color);
      }



/* /////////// end SFPC GENERAL STYLES  ///////////////////////////////*/







/* /////////// start fundraiser winter 23  ///////////////////////////////*/

.fundraiser-winter-23,
.fundraiser-winter-23.featured.session,
.fundraiser-winter-23.featured  {
 /* background-color: var(--sex-ed-background)  !important; */
 color: var(--fundraiser-winter-23-text);
 box-sizing: border-box;
 border-color: var(--fundraiser-winter-23-text);
 background-image: url('images/fundraiser/winter-23/bg.jpg');
 background-position: bottom;
 background-repeat: repeat;
 background-size: 40%;
}

.fundraiser-winter-23.featured:hover {
  /* background-size: 100%; */
}



     .shell.fundraiser-winter-23 {
       background-image:url('images/fundraiser/winter-23/bg.jpg');
       /* background-position: bottom; */
       /* background-repeat: no-repeat;
       background-size: cover; */
       background-position: top left;
       background-repeat: repeat;
       background-size: cover;
     }



.fundraiser-winter-23,
.fundraiser-winter-23.featured.session,
.shell .fundraiser-winter-23,
.fundraiser-winter-23.featured  {
  /* background-color: var(--fundraiser-winter-23-background)  !important; */
  color: var(--fundraiser-winter-23-text);
  box-sizing: border-box;
  border-color: var(--fundraiser-winter-23-text);
  text-shadow: none !important;
}


      .fundraiser-winter-23 p,
      .fundraiser-winter-23 p a,
      .fundraiser-winter-23 a,
      .fundraiser-winter-23.featured h4,
      .fundraiser-winter-23 h4 a,
      .fundraiser-winter-23 .intro a,
      .fundraiser-winter-23 p.large a,
      .fundraiser-winter-23 p a:hover,
      .fundraiser-winter-23.session.featured,
      .fundraiser-winter-23.session.featured a,
      .fundraiser-winter-23.featured h4.type a,
      .sfpc .fundraiser-winter-23 a
      {
        color: var(--fundraiser-winter-23-text) !important;
      }

      .fundraiser-winter-23 h4 a:hover,
      .fundraiser-winter-23 .intro a,
      .fundraiser-winter-23 p.large a:hover,
      .fundraiser-winter-23.featured:hover h6,
      .fundraiser-winter-23.featured:hover .title,
      .fundraiser-winter-23 .product:hover .title,
      .fundraiser-winter-23.featured:hover .title.Purchase,
      .fundraiser-winter-23 .tuition-gift:hover h6,
      .fundraiser-winter-23 .details a:hover,
      .fundraiser-winter-23.featured .title:hover,
      .fundraiser-winter-23.featured .title.Purchase:hover,
      .fundraiser-winter-23 .product .title:hover,
      .fundraiser-winter-23 p a:hover,
      .fundraiser-winter-23 h4 a:hover,
      .fundraiser-winter-23 section .grid-2 ul li::before,
      .fundraiser-winter-23 .chars,
      .fundraiser-winter-23 p a:hover,
      .fundraiser-winter-23 a:hover,
      .fundraiser-winter-23 h4 a:hover,
      .fundraiser-winter-23 .intro a:hover,
      .fundraiser-winter-23 .details a:hover,
      .fundraiser-winter-23 .entity:hover .accordion dt h3:after,
      .fundraiser-winter-23 .accordion dt h3:after,
      .fundraiser-winter-23 .expanded{
          color: var(--fundraiser-winter-23-link) !important;
      }

      .fundraiser-winter-23 #cost,
      .fundraiser-winter-23 .fixed-apply,
      .fundraiser-winter-23 .fixed-support,
      .fundraiser-winter-23 .home-intro span#session-name::after {
          color: var(--fundraiser-winter-23-text) ;
          background: var(--fundraiser-winter-23-link) ;
      }

      .fundraiser-winter-23 span#cost,
      .fundraiser-winter-23 h3 span {
        background: var(--fundraiser-winter-23-special-text) !important;
      }


      .fundraiser-winter-23 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .fundraiser-winter-23 .block-text {
        background-color: var(--fundraiser-winter-23-background-dark);
        border-color: var(--fundraiser-winter-23-link);
        color: var(--fundraiser-winter-23-link);
        /* color: rgba(255,255,255,.9); */
      }

      /* .fundraiser-winter-23 .block-text:hover {
        background-color: var(--fundraiser-winter-23-background-dark);
        border-color: var(--fundraiser-winter-23-text);
        color: var(--fundraiser-winter-23-text);
      }

      .fundraiser-winter-23 .block-text:hover h4 {
        border-color: var(--fundraiser-winter-23-text);
      } */

      .fundraiser-winter-23 .block-text h4 {
        color: var(--fundraiser-winter-23-special-text);;
      }



      .fundraiser-winter-23.grid-inner, .fundraiser-winter-23 .grid-inner {
        border: 2px dotted var(--fundraiser-winter-23-text) !important;
        color: var(--fundraiser-winter-23-link) !important;
      }

      .fundraiser-winter-23 #class .entity,
      .fundraiser-winter-23.website-grid .grid-2 {
        border-color: var(--fundraiser-winter-23-text);
      }

      .fundraiser-winter-23 #class .entity:hover {
        border-color: var(--fundraiser-winter-23-link);
      }

      .fundraiser-winter-23 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--fundraiser-winter-23-background) !important;
      }

      .fundraiser-winter-23  .test-icon {
        color: var(--fundraiser-winter-23-special-text);
      }


      .fundraiser-winter-23 select#allSections:hover,
      .fundraiser-winter-23 .loader-content p::after,
      .fundraiser-winter-23 span#cost
      {
        background: var(--fundraiser-winter-23-special-text) !important;
        color: var(--fundraiser-winter-23-text) !important;
      }

      .fundraiser-winter-23 .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;
      }
      .fundraiser-winter-23 .breadcrumb.fixed,
      .fundraiser-winter-23 .breadcrumb.fixed::before,
      .fundraiser-winter-23 .breadcrumb.fixed a,
      .fundraiser-winter-23 .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
      }


      .fundraiser-winter-23 .breadcrumb,
      .fundraiser-winter-23 .breadcrumb a,
      .fundraiser-winter-23 .text-on-bg,
      .fundraiser-winter-23 .breadcrumb a:hover {
          color: var(--fundraiser-winter-23-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--fundraiser-winter-23-background);
      }


      .fundraiser-winter-23 section#section-outro,
      #class .intro.fundraiser-winter-23,
      .shell.fundraiser-winter-23 .class-details,
      .fundraiser-winter-23 #class section,
      .fundraiser-winter-23 #class .entity,
      .fundraiser-winter-23 .accordion dd.active,
      .fundraiser-winter-23 section ul,
      .fundraiser-winter-23 .website-grid
       {
        /* background-color: var(--fundraiser-winter-23-background); */
        background: none;
        color:  var(--fundraiser-winter-23-text) !important;
        border-radius: var(--border-rad);
      }

      .fundraiser-winter-23 #class section,
      #class .intro.fundraiser-winter-23 {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .fundraiser-winter-23 #class section.stacked,
      .fundraiser-winter-23 .section-testimonials,
      .fundraiser-winter-23 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .fundraiser-winter-23 .break {
        /* border: 0px !important; */
        /* margin-bottom: 0px !important; */
        border-color: var(--fundraiser-winter-23-text);
      }

      .shell.fundraiser-winter-23 {
        background-image: url('images/fundraiser/winter-23/bg.jpg');
        background-size: 40%;
        background-repeat: repeat;
      }

      .fundraiser-winter-23 .addon-item {
        border: 2px dotted var(--fundraiser-winter-23-link) !important;
        background: var(--fundraiser-winter-23-background-dark) !important;
      }
      /* .grid-1.featured.fundraiser-winter-23 {

          border: 2px dotted var(--fundraiser-winter-23-link) !important;
      } */

      .fundraiser-winter-23 .shopify-buy__option-select__select,
      .fundraiser-winter-23 .shopify-buy__quantity  {
      background: var(--fundraiser-winter-23-text) !important;
      color: var(--fundraiser-winter-23-background) !important;
      }


      .fundraiser-winter-23 .grid-1.featured {
        background: var(--fundraiser-winter-23-background-dark) !important;
      }

      @media (max-width: 768px) {
        .shell.fundraiser-winter-23 {
          background-size: 100%;
        }
      }



/* /////////// end fundraiser winter 23  ///////////////////////////////*/







/* /////////// start winter 23  ///////////////////////////////*/

.winter-23,
.winter-23.featured.session,
.winter-23.featured  {
 /* background-color: var(--sex-ed-background)  !important; */
 color: var(--winter-23-text);
 box-sizing: border-box;
 border-color: var(--winter-23-text);
 background-image: url('images/sessions/winter-23/bg.jpg');
 background-position: bottom;
 background-repeat: repeat;
 background-size: 100%;
}

.winter-23.featured:hover {
  background-size: 150%;
}



     .shell.winter-23 {
       background-image:url('images/sessions/winter-23/bg.jpg');
       /* background-position: bottom; */
       /* background-repeat: no-repeat;
       background-size: cover; */
       background-position: top left;
       background-repeat: repeat;
       background-size: cover;
     }



.winter-23,
.winter-23.featured.session,
.shell .winter-23,
.winter-23.featured  {
  /* background-color: var(--winter-23-background)  !important; */
  color: var(--winter-23-text);
  box-sizing: border-box;
  border-color: var(--winter-23-text);
  text-shadow: none !important;
}


      .winter-23 p,
      .winter-23 p a,
      .winter-23 a,
      .winter-23.featured h4,
      .winter-23 h4 a,
      .winter-23 .intro a,
      .winter-23 p.large a,
      .winter-23 p a:hover,
      .winter-23.session.featured,
      .winter-23.session.featured a,
      .winter-23.featured h4.type a,
      .sfpc .winter-23 a
      {
        color: var(--winter-23-text) !important;
      }

      .winter-23 h4 a:hover,
      .winter-23 .intro a,
      .winter-23 p.large a:hover,
      .winter-23.featured:hover h6,
      .winter-23.featured:hover .title,
      .winter-23 .details a:hover,
      .winter-23.featured .title:hover,
      .winter-23 p a:hover,
      .winter-23 h4 a:hover,
      .winter-23 section .grid-2 ul li::before,
      .winter-23 .chars,
      .winter-23 p a:hover,
      .winter-23 a:hover,
      .winter-23 h4 a:hover,
      .winter-23 .intro a:hover,
      .winter-23 .details a:hover,
      .winter-23 .entity:hover .accordion dt h3:after,
      .winter-23 .accordion dt h3:after,
      .winter-23 .expanded{
          color: var(--winter-23-link) !important;
      }

      .winter-23 #cost,
      .winter-23 .fixed-apply,
      .winter-23 .fixed-support,
      .winter-23 .home-intro span#session-name::after {
          color: var(--winter-23-background) !important;
          background: var(--winter-23-link) !important;
      }

      .winter-23 span#cost {
        background: var(--winter-23-link) !important;
      }


      .winter-23 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .winter-23 .block-text {
        background-color: var(--winter-23-background);
        color: var(--winter-23-link);
      }



      .winter-23.grid-inner, .winter-23 .grid-inner {
        border: 2px dotted var(--winter-23-text) !important;
        color: var(--winter-23-link) !important;
      }

      .winter-23 #class .entity,
      .winter-23.website-grid .grid-2 {
        border-color: var(--winter-23-text);
      }

      .winter-23 #class .entity:hover {
        border-color: var(--winter-23-link);
      }

      .winter-23 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--winter-23-background) !important;
      }


      .winter-23 select#allSections:hover,
      .winter-23 .loader-content p::after,
      .winter-23 span#cost
      {
        background: var(--winter-23-link) !important;
        color: var(--winter-23-background) !important;
      }

      .winter-23 .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;
      }
      .winter-23 .breadcrumb.fixed,
      .winter-23 .breadcrumb.fixed::before,
      .winter-23 .breadcrumb.fixed a,
      .winter-23 .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
      }


      .winter-23 .breadcrumb,
      .winter-23 .breadcrumb a,
      .winter-23 .text-on-bg,
      .winter-23 .breadcrumb a:hover {
          color: var(--winter-23-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--winter-23-background);
      }


      .winter-23 section#section-outro,
      #class .intro.winter-23,
      .shell.winter-23 .class-details,
      .winter-23 #class section,
      .winter-23 #class .entity,
      .winter-23 .accordion dd.active,
      .winter-23 section ul,
      .winter-23 .website-grid
       {
        /* background-color: var(--winter-23-background); */
        background: none;
        color:  var(--winter-23-text) !important;
        border-radius: var(--border-rad);
      }

      .winter-23 #class section,
      #class .intro.winter-23 {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .winter-23 #class section.stacked,
      .winter-23 .section-testimonials,
      .winter-23 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .winter-23 .break {
        /* border: 0px !important; */
        /* margin-bottom: 0px !important; */
        border-color: var(--winter-23-text);
      }

      .shell.winter-23 {
        background-image: url('images/sessions/winter-23/bg.jpg');
        background-size: cover;
      }


/* /////////// end winter 23  ///////////////////////////////*/












/* /////////// start fall 22  ///////////////////////////////*/

.fall-22,
.fall-22.featured.session,
.fall-22.featured  {
 /* background-color: var(--sex-ed-background)  !important; */
 color: var(--fall-22-text);
 box-sizing: border-box;
 border-color: var(--fall-22-text);
 background-image: url('images/sessions/fall-22/bg.jpg');
 background-position: bottom;
 background-repeat: repeat;
 background-size: 100%;
}

.fall-22.featured:hover {
  background-size: 150%;
}



     .shell.fall-22 {
       background-image:url('images/sessions/fall-22/bg.jpg');
       /* background-position: bottom; */
       /* background-repeat: no-repeat;
       background-size: cover; */
       background-position: top left;
       background-repeat: repeat;
       background-size: 100% auto;
     }



.fall-22,
.fall-22.featured.session,
.shell .fall-22,
.fall-22.featured  {
  /* background-color: var(--fall-22-background)  !important; */
  color: var(--fall-22-text);
  box-sizing: border-box;
  border-color: var(--fall-22-text);
  text-shadow: none !important;
}


      .fall-22 p,
      .fall-22 p a,
      .fall-22 a,
      .fall-22.featured h4,
      .fall-22 h4 a,
      .fall-22 .intro a,
      .fall-22 p.large a,
      .fall-22 p a:hover,
      .fall-22.session.featured,
      .fall-22.session.featured a,
      .fall-22.featured h4.type a,
      .sfpc .fall-22 a
      {
        color: var(--fall-22-text) !important;
      }

      .fall-22 h4 a:hover,
      .fall-22 .intro a,
      .fall-22 p.large a:hover,
      .fall-22.featured:hover h6,
      .fall-22.featured:hover .title,
      .fall-22 .details a:hover,
      .fall-22.featured .title:hover,
      .fall-22 p a:hover,
      .fall-22 h4 a:hover,
      .fall-22 section .grid-2 ul li::before,
      .fall-22 .chars,
      .fall-22 p a:hover,
      .fall-22 a:hover,
      .fall-22 h4 a:hover,
      .fall-22 .intro a:hover,
      .fall-22 .details a:hover,
      .fall-22 .entity:hover .accordion dt h3:after,
      .fall-22 .accordion dt h3:after,
      .fall-22 .expanded{
          color: var(--fall-22-link) !important;
      }

      .fall-22 #cost,
      .fall-22 .fixed-apply,
      .fall-22 .fixed-support {
          color: var(--fall-22-background) !important;
          background: var(--fall-22-link) !important;
      }

      .fall-22 span#cost {
        background: var(--fall-22-link) !important;
      }


      .fall-22 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .fall-22 .block-text {
        background-color: var(--fall-22-background);
      color: var(--fall-22-link) ;
      }



      .fall-22.grid-inner, .fall-22 .grid-inner {
        border: 2px dotted var(--fall-22-text) !important;
        color: var(--fall-22-link) !important;
      }

      .fall-22 #class .entity,
      .fall-22.website-grid .grid-2 {
        border-color: var(--fall-22-text);
      }

      .fall-22 #class .entity:hover {
        border-color: var(--fall-22-link);
      }

      .fall-22 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--fall-22-background) !important;
      }


      .fall-22 select#allSections:hover,
      .fall-22 .loader-content p::after,
      .fall-22 span#cost
      {
        background: var(--fall-22-link) !important;
        color: var(--fall-22-background) !important;
      }

      .fall-22 .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;
      }
      .fall-22 .breadcrumb.fixed,
      .fall-22 .breadcrumb.fixed::before,
      .fall-22 .breadcrumb.fixed a,
      .fall-22 .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
      }


      .fall-22 .breadcrumb,
      .fall-22 .breadcrumb a,
      .fall-22 .text-on-bg,
      .fall-22 .breadcrumb a:hover {
          color: var(--fall-22-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--fall-22-link);
      }


      .fall-22 .breadcrumb .blog-tag a {
        text-shadow: 0px !important;
      }


      .fall-22 section#section-outro,
      #class .intro.fall-22,
      .shell.fall-22 .class-details,
      .fall-22 #class section,
      .fall-22 #class .entity,
      .fall-22 .accordion dd.active,
      .fall-22 section ul,
      .fall-22 .website-grid
       {
        /* background-color: var(--fall-22-background); */
        background: none;
        color:  var(--fall-22-text) !important;
        border-radius: var(--border-rad);
      }

      .fall-22 #class section,
      #class .intro.fall-22 {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .fall-22 #class section.stacked,
      .fall-22 .section-testimonials,
      .fall-22 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .fall-22 .break {
        /* border: 0px !important; */
        /* margin-bottom: 0px !important; */
        border-color: var(--fall-22-text);
      }

      .shell.fall-22 {
        background-image: url('images/sessions/fall-22/bg.jpg');
        background-size: cover;
      }


/* /////////// end fall 22  ///////////////////////////////*/







/* /////////// start SEX ED ///////////////////////////////*/




/* .sex-ed, */
.sex-ed.featured.session,
.sex-ed.featured,
#tag.sex-ed {
 /* background-color: var(--sex-ed-background)  !important; */
 color: var(--sex-ed-text);
 box-sizing: border-box;
 border-color: var(--sex-ed-text);
 background-image:url('images/sessions/sex-ed/bg.jpg');
 background-position: bottom;
 background-repeat: repeat;
 background-size: 300%;
}

.sex-ed.featured:hover {
  background-size: 350%;
}



     .shell.sex-ed {
       background-image:url('images/sessions/sex-ed/bg.jpg');
       /* background-position: bottom; */
       /* background-repeat: no-repeat;
       background-size: cover; */
       background-position: top left;
       background-repeat: repeat;
       background-size: 500% auto;
     }


     .sex-ed p,
     .sex-ed p a,
     .sex-ed a,
     .sex-ed.featured h4,
     .sex-ed h4 a,
     .sex-ed .intro a,
     .sex-ed p.large a,
     .sex-ed p a:hover,
     .sex-ed.session.featured,
     .sex-ed.session.featured a
     {
       color: var(--sex-ed-text) !important;

     }

     .sex-ed p,
     .sex-ed.featured h4,
     .sex-ed p.large,
     .sex-ed .intro,
     .sex-ed h1,
    .sex-ed .details .labels,
    .sex-ed .details .labels-info,
    .sex-ed li,
    .sex-ed ul,
    .sex-ed .class-details
        {
       text-shadow:  0 0 7px #fff,  0 0 10px #fff;
      }

      .sex-ed .details .labels-info #cost,
      .sex-ed span#cost
          {
         text-shadow:  0 0 7px var(--sex-ed-link),  0 0 10px var(--sex-ed-link);
        }

     .sex-ed h4 a:hover,
     /* .sex-ed .intro a, */
     .sex-ed p.large a:hover,
     .sex-ed.featured:hover h6,
     .sex-ed.featured:hover .title,
     .sex-ed .details a:hover,
     .sex-ed.featured .title:hover,
     .sex-ed p a:hover,
     .sex-ed h4 a:hover,
     .sex-ed section .grid-2 ul li::before,
     .sex-ed .chars,
     .sex-ed p a:hover,
     .sex-ed a:hover,
     .sex-ed h4 a:hover,
     .sex-ed .intro a:hover,
     .sex-ed .details a:hover,
     .sex-ed .entity:hover .accordion dt h3:after,
     .sex-ed .accordion dt h3:after,
     .sex-ed .expanded{
         color: var(--sex-ed-link) !important;
     }

     .sex-ed.featured .title{
       text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff;
     }


     .sex-ed.featured:hover .title {
       text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #fff,
      0 0 82px #fff,
      0 0 92px #fff;
     }





     .sex-ed #cost,
     .sex-ed .fixed-apply,
     .sex-ed .fixed-support {
         color: var(--sex-ed-background) !important;
         background: var(--sex-ed-link) !important;
     }

     .sex-ed .fixed-apply:hover {
       color: #000 !important;
       background: rgba(255,255,255,.8) !important;
     }

     .sex-ed .block-text {
       background-color: var(--sex-ed-background);
     }




     .sex-ed .break {
       border-bottom: 1px dashed var(--sex-ed-text);
     }

     .sex-ed .grid-inner, .sex-ed.grid-inner {
       border: 2px dotted var(--sex-ed-text) !important;
       color: var(--sex-ed-link) !important;
     }

     .sex-ed #class .entity,
     .sex-ed.website-grid .grid-2 {
       border-color: var(--sex-ed-text);
       background: none !important;
     }

     .sex-ed #class .entity:hover {
       border-color: var(--sex-ed-link);
     }

     .sex-ed .website-grid .grid-2 p.large {
       text-shadow: 3px 3px var(--sex-ed-background) !important;
     }

     .sex-ed select#allSections:hover,
     .sex-ed .loader-content p::after,
     .sex-ed span#cost
     {
       background: var(--sex-ed-link) !important;
       color: var(--sex-ed-background) !important;
     }


     .sex-ed .breadcrumb.fixed {

         background: rgba(255,255,255,.8) !important;
     }






     .sex-ed .breadcrumb.fixed,
     .sex-ed .breadcrumb.fixed::before,
     .sex-ed .breadcrumb.fixed a,
     .sex-ed .breadcrumb.fixed a:hover {
       /* background: rgba(255,255,255,.8) !important; */
       color: #000 !important;
     }


     .sex-ed .breadcrumb,
     .sex-ed .breadcrumb a,
     .sex-ed .text-on-bg,
     .sex-ed .breadcrumb a:hover {
         color: var(--sex-ed-text) !important;
         /* text-shadow: 2px 2px 0px var(--sex-ed-link); */
     }


     .sex-ed section#section-outro,
     #class .intro.sex-ed,
     .shell.sex-ed .class-details,
     .sex-ed #class section,
     .sex-ed #class .entity,
     .sex-ed .accordion dd.active,
     .sex-ed section ul,
     .sex-ed .website-grid
      {
       /* background-color: var(--sex-ed-background); */
       color:  var(--sex-ed-text) !important;
       border-radius: var(--border-rad);
       background: none !important;
     }

     .sex-ed #class section,
     #class .intro.sex-ed {
       /* padding: var(--body-margin) calc(var(--body-margin)/2); */
     }

     .sex-ed #class section.stacked,
     .sex-ed .section-testimonials,
     .sex-ed .section-testimonials p
      {
       background: none !important;
       padding: 0px !important
     }






/* /////////// end SEX ED ///////////////////////////////*/









/* /////////// start NETWORKED PERFORMANCE ///////////////////////////////*/

.networked-performance,
#tag.networked-peformace,
.networked-performance.featured.session,
.shell .networked-performance,
.networked-performance.featured  {
  background-color: var(--networked-performance-background)  !important;
  color: var(--networked-performance-text);
  box-sizing: border-box;
  border-color: var(--networked-performance-text);
}


      .networked-performance p,
      .networked-performance p a,
      .networked-performance a,
      .networked-performance.featured h4,
      .networked-performance h4 a,
      .networked-performance .intro a,
      .networked-performance p.large a,
      .networked-performance p a:hover,
      .networked-performance.session.featured,
      .networked-performance.session.featured a,
      .networked-performance.featured h4.type a,
      .sfpc .networked-performance a
      {
        color: var(--networked-performance-text) !important;
      }

      .networked-performance .class-details img {
        margin-bottom: 0px;
      }

      .networked-performance h4 a:hover,
      .networked-performance .intro a,
      .networked-performance p.large a:hover,
      .networked-performance.featured:hover h6,
      .networked-performance.featured:hover .title,
      .networked-performance .details a:hover,
      .networked-performance.featured .title:hover,
      .networked-performance p a:hover,
      .networked-performance h4 a:hover,
      .networked-performance section .grid-2 ul li::before,
      .networked-performance .chars,
      .networked-performance p a:hover,
      .networked-performance a:hover,
      .networked-performance h4 a:hover,
      .networked-performance .intro a:hover,
      .networked-performance .details a:hover,
      .networked-performance .entity:hover .accordion dt h3:after,
      .networked-performance .accordion dt h3:after,
      .networked-performance .expanded
      {
          color: var(--networked-performance-link) !important;
      }

      .networked-performance #cost,
      .networked-performance .fixed-apply,
      .networked-performance .fixed-support {
          color: var(--networked-performance-background) !important;
          background: var(--networked-performance-link) !important;
      }

      .networked-performance span#cost {
        background: var(--networked-performance-link) !important;
      }


      .networked-performance .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .networked-performance .block-text {
        background-color: var(--networked-performance-background);
      }





      .networked-performance.grid-inner, .networked-performance .grid-inner {
        border: 2px dotted var(--networked-performance-text) !important;
        color: var(--networked-performance-link) !important;
      }

      .networked-performance #class .entity,
      .networked-performance.website-grid .grid-2 {
        border-color: var(--networked-performance-text);
      }

      .networked-performance #class .entity:hover {
        border-color: var(--networked-performance-link);
      }

      .networked-performance .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--networked-performance-background) !important;
      }


      .networked-performance select#allSections:hover,
      .networked-performance .loader-content p::after,
      .networked-performance span#cost
      {
        background: var(--networked-performance-link) !important;
        color: var(--networked-performance-background) !important;
      }


      .networked-performance .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;

        }

        .networked-performance .breadcrumb.fixed,
      .networked-performance .breadcrumb.fixed::before,
      .networked-performance .breadcrumb.fixed a,
      .networked-performance .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
        background: none;
      }


      .networked-performance .breadcrumb,
      .networked-performance .breadcrumb a,
      .networked-performance .text-on-bg,
      .networked-performance .breadcrumb a:hover
      {
          color: var(--networked-performance-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--networked-performance-special-text);
      }







      .networked-performance section#section-outro,
      #class .intro.networked-performance,
      .shell.networked-performance .class-details,
      .networked-performance #class section,
      .networked-performance #class .entity,
      .networked-performance .accordion dd.active,
      .networked-performance section ul,
      .networked-performance .website-grid
       {
        background-color: var(--networked-performance-background);
        color:  var(--networked-performance-text) !important;
        border-radius: var(--border-rad);
      }

      .networked-performance #class section,
      #class .intro.networked-performance {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .networked-performance #class section.stacked,
      .networked-performance .section-testimonials,
      .networked-performance .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .networked-performance .break {
        border: 0px !important;
        margin-bottom: 0px !important;
        border-color: var(--networked-performance-text);
      }

      .shell.networked-performance {
        background-image: url('images/sessions/networked-performance/bg.jpg');
        background-size: cover;
      }


/* /////////// end NETWORKED PERFORMANCE  ///////////////////////////////*/









/* /////////// start SUMMER 22  ///////////////////////////////*/

.summer-22,
.summer-22.featured.session,
.shell .summer-22,
.summer-22.featured,
#tag.summer-22  {
  background-color: var(--summer-22-background)  !important;
  color: var(--summer-22-text) !important;
  box-sizing: border-box !important;
  /* border-color: var(--summer-22-text) !important; */
  text-shadow: none !important;
}


      .summer-22 p,
      .summer-22 p a,
      .summer-22 a,
      .summer-22.featured h4,
      .summer-22 h4 a,
      .summer-22 .intro a,
      .summer-22 p.large a,
      .summer-22 p a:hover,
      .summer-22.session.featured,
      .summer-22.session.featured a,
      .summer-22.featured h4.type a,
      .sfpc .summer-22 a
      {
        color: var(--summer-22-text) !important;
      }

      .summer-22 h4 a:hover,
      .summer-22 .intro a,
      .summer-22 p.large a:hover,
      .summer-22.featured:hover h6,
      .summer-22.featured:hover .title,
      .summer-22 .details a:hover,
      .summer-22.featured .title:hover,
      .summer-22 p a:hover,
      .summer-22 h4 a:hover,
      .summer-22 section .grid-2 ul li::before,
      .summer-22 .chars,
      .summer-22 p a:hover,
      .summer-22 a:hover,
      .summer-22 h4 a:hover,
      .summer-22 .intro a:hover,
      .summer-22 .details a:hover,
      .summer-22 .entity:hover .accordion dt h3:after,
      .summer-22 .accordion dt h3:after,
      .summer-22 .expanded{
          color: var(--summer-22-link) !important;
      }

      .summer-22 #cost,
      .summer-22 .fixed-apply,
      .summer-22 .fixed-support {
          color: var(--summer-22-background) !important;
          background: var(--summer-22-link) !important;
      }

      .summer-22 span#cost {
        background: var(--summer-22-link) !important;
      }


      .summer-22 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .summer-22 .block-text {
        background-color: var(--summer-22-background);
        color: var(--summer-22-link);
      }



      .summer-22.grid-inner, .summer-22 .grid-inner {
        border: 2px dotted var(--summer-22-text) !important;
        color: var(--summer-22-link) !important;
      }

      .summer-22 #class .entity,
      .summer-22.website-grid .grid-2 {
        border-color: var(--summer-22-text);
      }

      .summer-22 #class .entity:hover {
        border-color: var(--summer-22-link);
      }

      .summer-22 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--summer-22-background) !important;
      }


      .summer-22 select#allSections:hover,
      .summer-22 .loader-content p::after,
      .summer-22 span#cost
      {
        background: var(--summer-22-link) !important;
        color: var(--summer-22-background) !important;
      }

      .summer-22 .breadcrumb.fixed {
        background: rgba(255,255,255,.8) !important;
      }
      .summer-22 .breadcrumb.fixed,
      .summer-22 .breadcrumb.fixed::before,
      .summer-22 .breadcrumb.fixed a,
      .summer-22 .breadcrumb.fixed a:hover {
        color: #000 !important;
        text-shadow: 0px 0px 0px rgba(255,255,255,.8) !important;
      }


      .summer-22 .breadcrumb,
      .summer-22 .breadcrumb a,
      .summer-22 .text-on-bg,
      .summer-22 .breadcrumb a:hover {
          color: var(--summer-22-text-on-bg) !important;
          text-shadow: 2px 2px 0px var(--summer-22-link);
      }


      .summer-22 section#section-outro,
      #class .intro.summer-22,
      .shell.summer-22 .class-details,
      .summer-22 #class section,
      .summer-22 #class .entity,
      .summer-22 .accordion dd.active,
      .summer-22 section ul,
      .summer-22 .website-grid
       {
        background-color: var(--summer-22-background);
        color:  var(--summer-22-text) !important;
        border-radius: var(--border-rad);
      }

      .summer-22 #class section,
      #class .intro.summer-22 {
        padding: var(--body-margin) calc(var(--body-margin)/2);
      }

      .summer-22 #class section.stacked,
      .summer-22 .section-testimonials,
      .summer-22 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }

      .summer-22 .break {
        border: 0px !important;
        margin-bottom: 0px !important;
        border-color: var(--summer-22-text);
      }

      .shell.summer-22 {
        background-image: url('images/sessions/summer-22/bg-b.jpg');
        background-size: cover;
      }


/* /////////// end SUMMER 22  ///////////////////////////////*/








/* /////////// start SPRING 22  ///////////////////////////////*/

.spring-22,
.spring-22.featured.session,
.shell .spring-22,
.spring-22.featured,
#tag.spring-22  {
  background-color: var(--spring-22-background)  !important;
  color: var(--spring-22-text);
  box-sizing: border-box;
  border-color: var(--spring-22-text);
}


      .spring-22 p,
      .spring-22 p a,
      .spring-22 a,
      .spring-22.featured h4,
      .spring-22 h4 a,
      .spring-22 .intro a,
      .spring-22 p.large a,
      .spring-22 p a:hover,
      .spring-22.session.featured,
      .spring-22.session.featured a
      {
        color: var(--spring-22-text) !important;
      }

      .spring-22 h4 a:hover,
      .spring-22 .intro a,
      .spring-22 p.large a:hover,
      .spring-22.featured:hover h6,
      .spring-22.featured:hover .title,
      .spring-22.featured .title:hover,
      .spring-22 p a:hover,
      .spring-22 h4 a:hover,
      .spring-22 section .grid-2 ul li::before,
      .spring-22 .chars,
      .spring-22 p a:hover,
      .spring-22 a:hover,
      .spring-22 h4 a:hover,
      .spring-22 .intro a:hover,
      .spring-22 .details a:hover,
      .spring-22 .entity:hover .accordion dt h3:after,
      .spring-22 .accordion dt h3:after,
      .spring-22 .expanded
      {
          color: var(--spring-22-link) !important;
      }

      .spring-22 #cost,
      .spring-22 .fixed-apply,
      .spring-22 .fixed-support {
          color: var(--spring-22-background) !important;
          background: var(--spring-22-link) !important;
      }

      .spring-22 .fixed-apply:hover {
        color: #000 !important;
        background: rgba(255,255,255,.8) !important;
      }

      .spring-22 .block-text {
        background-color: var(--spring-22-background);
        color: var(--spring-22-link);
      }


      .spring-22 .break {
        border-bottom: 1px dashed var(--spring-22-text) !important;
      }

      .spring-22 .grid-inner, .spring-22.grid-inner {
        border: 2px dotted var(--spring-22-text) !important;
        color: var(--spring-22-link) !important;
      }

      .spring-22 #class .entity,
      .spring-22.website-grid .grid-2 {
        border-color: var(--spring-22-text);
      }

      .spring-22 #class .entity:hover {
        border-color: var(--spring-22-link);
      }

      .spring-22 .website-grid .grid-2 p.large {
        text-shadow: 3px 3px var(--spring-22-background) !important;
      }


      .spring-22 .breadcrumb.fixed,
      .spring-22 .breadcrumb.fixed::before,
      .spring-22 .breadcrumb.fixed a,
      .spring-22 .breadcrumb.fixed a:hover {
        background: rgba(255,255,255,.8) !important;
        color: #000 !important;
      }

      .spring-22 select#allSections:hover,
      .spring-22 .loader-content p::after,
      .spring-22 span#cost
      {
        background: var(--spring-22-link) !important;
        color: var(--spring-22-background) !important;
      }

      .spring-22 .breadcrumb,
      .spring-22 .breadcrumb a,
      .spring-22 .text-on-bg,
      .spring-22 .breadcrumb a:hover {
          color: var(--spring-22-text-on-bg) !important;
      }


      .spring-22 section#section-outro,
      #class .intro.spring-22,
      .shell.spring-22 .class-details,
      .spring-22 #class section,
      .spring-22 #class .entity,
      .spring-22 .accordion dd.active,
      .spring-22 section ul,
      .spring-22 .website-grid
       {
        background-color: var(--spring-22-background);
        color:  var(--spring-22-text) !important;
        border-radius: var(--border-rad);
      }

      .spring-22 #class section,
      #class .intro.spring-22 {
        /* padding: var(--body-margin) calc(var(--body-margin)/2); */
      }

      .spring-22 #class section.stacked,
      .spring-22 .section-testimonials,
      .spring-22 .section-testimonials p
       {
        background: none !important;
        padding: 0px !important
      }


      .shell.spring-22 {
        background-image: url('images/sessions/spring-22/bg-b.jpg');
        background-size: cover;
      }


/* /////////// end SPRING 22  ///////////////////////////////*/





/* .spring-22 {
  background-color: var(--spring-22-background);
  color: var(--spring-22-text);
  box-sizing: border-box;
  border-color: var(--spring-22-text);
}

        .spring-22 a:hover,
        .spring-22.featured:hover h2,
        .spring-22.featured:hover .title,
        .spring-22.featured .title:hover,
        .spring-22.featured:hover h6,
        .spring-22 .expanded
        {
          color: var(--spring-22-link) !important;
        }

        .spring-22.featured h4.type  {
          color: var(--spring-22-text);
        }

        .spring-22 span#cost,
        .spring-22 .fixed-apply {
            color: var(--spring-22-background) !important;
        } */


.fallwinter-2122, .fall-21, #tag.fallwinter-2122 {
  background-color: var(--fallwinter-2122-background);
  background-image: url('images/sessions/fallwinter-2122/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--fallwinter-2122-text);
  box-sizing: border-box;
  border-color: var(--fallwinter-2122-text);
}


        .fallwinter-2122 a:hover, .fallwinter-2122.featured:hover h2 {
          color: var(--fallwinter-2122-link) !important;
        }


#class.cocoon  {
  background: none;
}

.cocoon, #tag.cocoon {
  background-color: var(--cocoon-background);
  color: var(--cocoon-text);
  box-sizing: border-box;
  border-color: var(--cocoon-text);
  background-image: url('images/sessions/cocoon/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  background-blend-mode: screen;
}

#tag.cocoon {
  color: transparent;
  color: transparent;
  text-shadow: 0 0 0px var(--cocoon-link) !important;
}



        .cocoon a:hover, .cocoon.featured:hover h2  {
          color: var(--cocoon-link) !important;
        }

        .cocoon.featured h4 a,
        .cocoon p,
        .cocoon p a,
        .cocoon a,
        .cocoon.featured h4,
        .cocoon h4 a,
        .cocoon .intro a,
        .cocoon p.large a,
        .cocoon p a:hover,
        .cocoon.session.featured,
        .cocoon.session.featured a,
        .cocoon.featured h4.type a,
        .sfpc .cocoon a,
        .sfpc .cocoon h4 a
         {
          color: var(--cocoon-text) !important;
        }


.codesocieties-20 {
  background-color: var(--codesocieties-20-background);
  color: var(--codesocieties-20-text);
  box-sizing: border-box;
  border-color: var(--codesocieties-20-text);
  background-image: url('images/sessions/codesocieties-20/bg.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

        .codesocieties-20 a:hover, .codesocieties-20.featured:hover h2 {
          color: var(--codesocieties-20-link) !important;
        }


        .codesocieties-20.featured h4 a,
        .codesocieties-20 p,
        .codesocieties-20 p a,
        .codesocieties-20 a,
        .codesocieties-20.featured h4,
        .codesocieties-20 h4 a,
        .codesocieties-20 .intro a,
        .codesocieties-20 p.large a,
        .codesocieties-20 p a:hover,
        .codesocieties-20.session.featured,
        .codesocieties-20.session.featured a,
        .codesocieties-20.featured h4.type a,
        .sfpc .codesocieties-20 a,
        .sfpc .codesocieties-20 h4 a
         {
          color: var(--codesocieties-20-text) !important;
        }








        .summer-20,
        .summer-20.featured.session,
        .shell .summer-20,
        .summer-20.featured  {
          background-color: var(--background)  !important;
          color: var(--text-color);
          box-sizing: border-box;
          border-color: var(--text-color);
        }


              .summer-20 p,
              .summer-20 p a,
              .summer-20 a,
              .summer-20.featured h4,
              .summer-20 h4 a,
              .summer-20 .intro a,
              .summer-20 p.large a,
              .summer-20 p a:hover,
              .summer-20.session.featured,
              .summer-20.session.featured a
              {
                color: var(--text-color) !important;
              }

              .summer-20 h4 a:hover,
              /* .summer-20 .intro a, */
              .summer-20 p.large a:hover,
              .summer-20.featured:hover h6,
              .summer-20.featured:hover .title,
              .summer-20 .details a:hover,
              .summer-20.featured .title:hover,
              .summer-20 p a:hover,
              .summer-20 h4 a:hover,
              .summer-20 section .grid-2 ul li::before,
              .summer-20 .chars,
              .summer-20 p a:hover,
              .summer-20 a:hover,
              .summer-20 h4 a:hover,
              .summer-20 .intro a:hover,
              .summer-20 .details a:hover,
              .summer-20 .entity:hover .accordion dt h3:after,
              .summer-20 .accordion dt h3:after,
              .summer-20 .expanded{
                  color: var(--text-link) !important;
              }

              .summer-20 #cost,
              .summer-20 .fixed-apply,
              .summer-20 .fixed-support {
                  color: var(--background) !important;
              }

              .summer-20 .fixed-apply:hover {
                color: #000 !important;
                background: rgba(255,255,255,.8) !important;
              }

              .summer-20 .block-text {
                background-color: var(--background);
                color: var(--text-link);
              }


              .summer-20 .break {
                border-bottom: 1px dashed var(--text-color);
              }

              .summer-20 .grid-inner, .summer-20.grid-inner {
                border: 2px dotted var(--text-color) ;
                color: var(--text-link) !important;
              }

              .summer-20 #class .entity,
              .summer-20.website-grid .grid-2 {
                border-color: var(--text-color);
              }

              .summer-20 #class .entity:hover {
                border-color: var(--text-link);
              }

              .summer-20 .website-grid .grid-2 p.large {
                text-shadow: 3px 3px var(--background) !important;
              }

              .summer-20 select#allSections:hover,
              .summer-20 .loader-content p::after,
              .summer-20 span#cost
              {
                background: var(--text-link) !important;
                color: var(--background) !important;
              }


              .summer-20 .breadcrumb.fixed {
                  background: rgba(255,255,255,.8) !important;
              }

              .summer-20 .breadcrumb.fixed,
              .summer-20 .breadcrumb.fixed::before,
              .summer-20 .breadcrumb.fixed a,
              .summer-20 .breadcrumb.fixed a:hover {
                /* background: rgba(255,255,255,.8) !important; */
                color: #000 !important;
              }


              .summer-20 .breadcrumb,
              .summer-20 .breadcrumb a,
              .summer-20 .text-on-bg,
              .summer-20 .breadcrumb a:hover {
                  color: var(--text-color) !important;
                  /* text-shadow: 2px 2px 0px var(--text-link); */
              }


              .summer-20 section#section-outro,
              #class .intro.summer-20,
              .shell.summer-20 .class-details,
              .summer-20 #class section,
              .summer-20 #class .entity,
              .summer-20 .accordion dd.active,
              .summer-20 section ul,
              .summer-20 .website-grid
               {
                background-color: var(--background);
                color:  var(--text-color) !important;
                border-radius: var(--border-rad);
              }

              .summer-20 #class section,
              #class .intro.summer-20 {
                /* padding: var(--body-margin) calc(var(--body-margin)/2); */
              }

              .summer-20 #class section.stacked,
              .summer-20 .section-testimonials,
              .summer-20 .section-testimonials p
               {
                background: none !important;
                padding: 0px !important
              }


              .shell.summer-20 {
                background: var(--background);
              }

              .summer-20.test, .summer-20.block-text {
                border-color: var(--text-color);
              }



        /* /////////// end SFPC GENERAL STYLES  ///////////////////////////////*/
