:root {
    --background: #fff;
    --dark-purple: #5B4487;
    --light-purple: #7458B7;
    --bright-purple: #ed8efc;
    --blue: #3C63BB;
    --green: #48ED7C;
    --bright-green: #38F05F;


    --text-margin: 10vh;
    --body-margin: 1.25vw;
    --program-margin: .5vw;


    --font-meta: calc(12px + 0.1vw);
    --font-medium: 2vw;
    --font-large: 3.5vw;
    --font-small: calc(16px + 0.3vw);
    --font-small-italic: calc(12px + 0.3vw);
  }


  @font-face {
      font-family: 'Avara';
      src: url('fonts/Avara-Bold.woff2') format('woff2'),
        url('fonts/Avara-Bold.ttf') format('ttf'),
          url('fonts/Avara-Bold.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: block;
  }

  @font-face {
      font-family: 'Avara';
      src: url('fonts/Avara-BoldItalic.woff2') format('woff2'),
        url('fonts/Avara-BoldItalic.ttf') format('ttf'),
          url('fonts/Avara-BoldItalic.woff') format('woff');
      font-weight: bold;
      font-style: italic;
      font-display: block;
  }

  @font-face {
      font-family: 'Avara Black';
      src: url('fonts/Avara-Black.woff2') format('woff2'),
        url('fonts/Avara-Black.ttf') format('ttf'),
          url('fonts/Avara-Black.woff') format('woff');
      font-weight: bold;
      font-style: normal;
      font-display: block;
  }


body {
    background-color: var(--background);
    color: var(--dark-purple) !important;
    margin: 0;
    color: inherit;
}

.hide {
  opacity: 0;
  display: none;
  visibility: hidden;
}

.show {
  opacity: 1;
  display: inline-block;
  visibility: visible;
}




.shell {
      position: relative;
      margin: 0;
      overflow: scroll;
      position: fixed;
      left: 0px;
      top: 0px;
      background-image:url('/images/sessions/sex-ed/bg.jpg');
      background-position: top left;
      background-repeat: repeat;
      background-size: 300% auto;
      height: 100%;
      width: 100%;
      display: block;
      overflow-x: hidden;
      z-index: 1;
}

p {
  margin: 0 0 2vw 0;
}

#main {
  width: 60vw;
  left: 40vw;
  position: absolute;
  top: 6vh;
  /* padding-top: 6vh; */
  z-index: 10;
  z-index: 1000;
}

.queue {
  padding-top: 6vh;
}


.header {
  z-index: 99999999;
  position: fixed;
  left: 1vw;
  top: 6vh;
  text-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
  color: var(--dark-purple);
}

      .logo {
        font-family: 'Avara';
        font-style: italic;
        display: block;
        font-size: var(--font-medium);
        cursor: pointer;
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
      }

      .title {
        font-family: 'Avara Black';
        display: block;
        font-size: var(--font-large);
        cursor: pointer;
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
      }


      .header:hover .logo, .header:hover .title {
          color: var(--light-purple);
      }

      .byline {
        font-family: 'Avara';
        font-style: italic;
        color: var(--blue);
        text-shadow:  0 0 7px #fff, 0 0 7px #fff;
        font-size: var(--font-small-italic);
      }

      .footer {
        position: fixed;
          z-index: 99999999;
            bottom:0px;
            left: 0px;
            padding-left: 1vw;
            /* padding-bottom: 1vw; */
            background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,0.5), rgba(255,255,255,1), rgba(255,255,255,1));
            display: block;
            line-height: 10vh;
            height: 8vh;
            width: 100%;

      }


.question-block {
  margin-bottom: 12vh;
}

        .question {
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
          width: 82%;
          background: none;
          color: var(--dark-purple);
          font-family: 'Avara';
          text-shadow:  0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff;
          padding-top: 1vh;
        }

        .star {
          text-shadow:  0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff;
        }

        .question-break {
          width: 82%;
          background: none;
          color: var(--dark-purple);
          font-family: 'Avara';
          text-shadow:  0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff;
          padding-top: 1vh;
          margin-bottom: -2vh;
        }


        .excerpt {
            cursor: pointer;
            transition: all .2s ease-in-out;
            -moz-transition: all .2s ease-in-out;
            ms-transition: all .2s ease-in-out;
            o-transition: all .2s ease-in-out;
            cursor: pointer;
        }

        .question:hover .excerpt {
          color: var(--bright-purple);
          text-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
        }

        .full-question {
          cursor: pointer;
          text-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff;
        }

        .answer{
          width: 100%;
          padding-top: 9vw;
        }

        .star p {
          margin: 0px !important;
        }

        .metadata {
          width: 100%;
          /* min-height: 20px; */
          clear: both;
          display: block;
          float: left;
          margin-bottom: 2vw;
        }

        .submission-info {
          float: left;
          /* position: absolute;
          left: 0px;
          height: auto; */
          width: 82%;
          color: var(--dark-purple) !important ;
          font-size: var(--font-meta);
          font-family: 'Avara Black';
          text-shadow:  0 0 7px var(--green),  0 0 10px var(--green);
          line-height: 1.75;
        }

        .answerer .person-small{
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
        }
        .questioner .person-small{
          /* box-shadow: 0 0 7px var(--green), 0 0 7px #fff, 0 0 7px var(--green); */
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
        }

        .person-small {
          width: calc(var(--font-meta) * 1.2);
          height: calc(var(--font-meta) * 1.75);
          display: inline-block;
          border-radius: 100%;
          background-size: cover;
          vertical-align: text-bottom;
          /* box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff; */
          text-decoration: none;
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
        }

        .person-group-medium {
          position: fixed;
          left: 1vw;
          bottom: 3vh;
          width: 20vw;
          display: flex;
            column-gap: 1vw;
            margin: 8vw 0 2vw 0;

            z-index: 999999999999999999999999999999;
        }


        .person-medium:nth-of-type(2n) {
            margin-top: 1vh;
            animation: jump 8s infinite;
          }
          .person-medium:nth-of-type(3n) {
            margin-top: -0.5vh;
            animation: jumpAgain 8s infinite;
          }


          @-webkit-keyframes jump {
            0% {
             margin-top: 1vh;
            }

            50% {
               margin-top: 1.5vh;
            }

            75% {
             margin-top: -2vh;
            }

            100% {
             margin-top: 1vh;
            }

          }

          @-webkit-keyframes jumpAgain {
            0% {
             margin-top: -0.5vh;
            }

            50% {
               margin-top: 1vh;
            }

            75% {
             margin-top: -1.5vh;
            }

            0% {
             margin-top: -0.5vh;
            }

          }



/* section .grid-2 ul li:nth-of-type(3n):before, */


        .person-medium {
          /* width: calc(var(--font-meta) * 3.2);
          height: calc(var(--font-meta) * 3.75); */
          width: 100%;
          height: 5vw;
          display: inline-block;
          border-radius: 100%;
          background-size: cover;
          background-position: center;
          vertical-align: text-bottom;
          box-shadow: 0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
          text-decoration: none;
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
        }


        .person-group-small:hover .person-small
        {
          box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple),  0 0 10px var(--bright-purple), 0 0 10px var(--bright-purple)
         ;
      }

        .person-group-medium:hover .person-medium
        {
          box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple),  0 0 10px var(--bright-purple), 0 0 10px var(--bright-purple),
          0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple)
         ;
      }


        a {
          text-decoration: none;
        }

        .Melanie {
          background-image: url('/images/people/melanie-hoff-2.jpg')
        }
        .Zai {
          background-image: url('/images/people/zainab-aliyu-2.jpg')
        }
        .Neta {
          background-image: url('/images/people/neta-bomani-2.jpg')
        }
        .DaemonumX {
          background-image: url('/images/people/daemonum-x.jpeg')
        }
        .Elizabeth {
          background-image: url('/images/people/elizabeth-perez.jpg')
        }
        .Gabriella {
          background-image: url('/images/people/gabriella-garcia.jpg')
        }


        .topic {
          position: absolute;
          right: 0px;
          float: right;
          padding-right: 1.5vw;
          width: calc(17% - 3vw);
          text-align: right;
          font-family: 'Avara';
          font-style: italic;
          color: var(--blue);
          text-shadow:  0 0 7px #fff, 0 0 7px #fff;
          font-size: var(--font-small-italic);
        }

        .three-dot {
          /* letter-spacing: 2px; */
          color: var(--light-purple);
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
        }
        .three-dot:after {
          content: ' (↘\FE0E )';
          color: var(--light-purple);

          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
        }

        .question:hover .three-dot:after {
          /* letter-spacing: 2px; */
          color: var(--bright-purple);
        }

        .response-count {
          /* border-radius:calc(var(--font-meta) * 1.4); */
          /* background: #fff; */
          /* min-width: calc(var(--font-meta) * 1.4); */
          /* padding: 0 6px; */
          /* height: calc(var(--font-meta) * 1.4); */
          /* line-height: calc(var(--font-meta) * 1.8); */
          /* display: inline-block; */
          text-align: center;
          /* text-shadow: none !important; */
          text-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff, 0 0 10px #fff;
          /* box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff; */
          z-index: 5;
        }

        .submitter {
          z-index: 10;
        }


p a {
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  ms-transition: all .2s ease-in-out;
  o-transition: all .2s ease-in-out;
  text-decoration: none;
}

ul.medium li::before, ul.small li::before {
   content: '✼';
   margin-left: -1.5em;
   margin-right: .4em;
 }
 ul.medium,  ul.small  {
   list-style: none;
   padding-inline-start: 1.5em !important;
}

ul.medium  li, ul.small  li{
  margin-bottom: 3vh;
  /* padding: 0 0 0 10px; */
}

p.medium a {
  /* color: var(--bright-purple); */
  color: var(--green);
  opacity: .9;
  /* border-bottom: 2px dotted var(--light-purple); */
}

        p.medium a:hover {
          color: var(--bright-purple);
          opacity: 1;
        }

        p.small a {
          color: var(--light-purple);
          border-bottom: 2px dotted var(--light-purple);
        }

        p.small a:hover {
          border-bottom: 2px dotted var(--bright-purple);
        }
        p a:hover {
          color: var(--bright-purple);
        }

        .small {
          font-size: var(--font-small);
          line-height: 1.5;
}

        .medium, h2 {
          font-size: var(--font-medium);
          line-height: 1.3;
          /* padding-bottom: 1vw; */
        }

        h2 {
           padding-bottom: 1vw;
        }

        .large, h1 {
          font-size: var(--font-large);
          line-height: 1.3;
          font-family: 'Avara Black';
        }

        h2 {
          font-style: italic;
          margin: 0px;
        }

        .caption {
          text-align: center;
          font-style: italic;
        }


.about .section-img{
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
ms-transition: all .5s ease-in-out;
o-transition: all .5s ease-in-out;
  width: 20vw;
  height: 28vw;
  background-size: cover;
  background-position: center;
  display: inline-block;
  margin: 8vw 0 4vw 0;
  border-radius: 100%;
  box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
  0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.about .section-img:hover {
  border-radius: 1vw;
  box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple),  0 0 10px var(--bright-purple), 0 0 10px var(--bright-purple),0 0 10px var(--bright-purple),
  0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple),
  0 0 35px var(--bright-purple), 0 0 35px var(--bright-purple), 0 0 35px var(--bright-purple), 0 0 45px var(--bright-purple), 0 0 45px var(--bright-purple), 0 0 45px var(--bright-purple);

}

.about img {
  margin: 2vw 0 2vw 0;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  ms-transition: all .5s ease-in-out;
  o-transition: all .5s ease-in-out;
  border-radius: 100%;
  width: 40%;
  height: auto;
  /* margin-left: -15%; */
  box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
  0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;

}

.about .people-images {
  width: 100%;
  display: flex;
    column-gap: 1vw;
    margin: 8vw 0 2vw 0;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    ms-transition: all .5s ease-in-out;
    o-transition: all .5s ease-in-out;
}

.about .people-images:hover .img {
  box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple),  0 0 10px var(--bright-purple), 0 0 10px var(--bright-purple),0 0 10px var(--bright-purple),
  0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple),
  0 0 35px var(--bright-purple), 0 0 35px var(--bright-purple), 0 0 35px var(--bright-purple), 0 0 45px var(--bright-purple), 0 0 45px var(--bright-purple), 0 0 45px var(--bright-purple);

}



.about .people-images   .img {
  border-radius: 100%;
/* width: calc(90% / 7); */
width: 100%;
height: 13vw;
/* height: auto; */
/* margin: 0 2% 0 0; */
background-size: cover;
background-position: center;
display: inline-block;
box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
transition: all .5s ease-in-out;
-moz-transition: all .5s ease-in-out;
ms-transition: all .5s ease-in-out;
o-transition: all .5s ease-in-out;
}


.person .img {
  float: left;
  margin-right: 2vw;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  ms-transition: all .5s ease-in-out;
  o-transition: all .5s ease-in-out;
    width: 6.5vw;
    height: 13vw;
    background-size: cover;
    background-position: center;
    display: inline-block;
    /* margin: 8vw 0 2vw 0; */
    border-radius: 100%;
    box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
    0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff;
}

.person  {
  margin-bottom: 3vw;
  margin-top: 3vw;
}

img.margin-top {
  margin-top: 8vw;
}

.about img:hover {
  border-radius: 1vw;
  box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple),  0 0 10px var(--bright-purple), 0 0 10px var(--bright-purple),0 0 10px var(--bright-purple),
  0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 15px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple), 0 0 25px var(--bright-purple),
  0 0 35px var(--bright-purple), 0 0 35px var(--bright-purple), 0 0 35px var(--bright-purple), 0 0 45px var(--bright-purple), 0 0 45px var(--bright-purple), 0 0 45px var(--bright-purple);
}

h1, .margin-top {
  margin-top: 8vw;
  margin-bottom: 0px;
}

.about {
  width: 82%;
  background: none;
  color: var(--dark-purple);
  font-family: 'Avara';
  text-shadow:  0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff;
  /* padding-top: 1vh; */
}

.responses a, .responses{
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    ms-transition: all .2s ease-in-out;
    o-transition: all .2s ease-in-out;
    color: var(--green);
    opacity: .9;
    display: block;
    margin-top: 4.5vh;
    padding-bottom: 4.5vh;
    font-size: var(--font-medium);
    font-family: 'Avara Black';
    text-shadow:  0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff;
    text-decoration: none;
    border-bottom: none;
}

        .responses-none {
          transition: all .2s ease-in-out;
          -moz-transition: all .2s ease-in-out;
          ms-transition: all .2s ease-in-out;
          o-transition: all .2s ease-in-out;
          color: var(--bright-purple);
          display: block;
          margin-top: 9vh;
          padding-bottom: 4.5vh;
          font-size: var(--font-large);
          font-family: 'Avara Black';
        }

        .responses a:hover {
          padding-left: 2vw;
          color: var(--bright-purple);
          opacity: 1;
        }



        .about .responses a, .about .responses{
            margin-top: 0vh;
            padding-bottom: 3vh;
        }

        .note-editors {
          font-size: var(--font-meta);
          display: block;
        }


.clear {
  clear:both;
}


.response {
  padding: 2vw;
  margin-bottom: calc(var(--font-meta) * 5);
  position: relative;
}

      .response .response-count {
        border-radius:calc(var(--font-meta) * 1.4);
        min-width: calc(var(--font-meta) * 1.4);
        padding: 0 6px;
        height: calc(var(--font-meta) * 1.4);
        line-height: calc(var(--font-meta) * 1.8);
        display: inline-block;
        text-align: center;
        text-shadow: none !important;
        z-index: 5;
        margin-bottom: calc(var(--font-meta) * 3);
      }

      .response-border {
        width: calc(2px + 0.05vw);
        border-radius: calc(2px + 0.05vw);
        /* height: 100%; */
        display: block;
        position: absolute;
        left:0px;
        top: 0px;
        height: 100%;
      }


      .response-field p:not(:last-child) {
          display: block; /* Fallback for non-webkit */
          display: -webkit-box;
          /* max-width: 400px; */
          /* height: calc(var(--font-small) * 1.5 * 8); */
          margin: 0 auto;
          /* font-size: $font-size; */
          /* line-height: $line-height; */
          -webkit-line-clamp: 8;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
      }

      .response-field p:nth-child(2),
      .response-field p:nth-child(3),
      .response-field p:nth-child(4),
      .response-field p:nth-child(5)
      {
          display: none;
      }


      .columnist .response-border{
        background: var(--green);
        box-shadow:  0 0 7px var(--green), 0 0 7px var(--green), 0 0 7px var(--green);

      }

      .response.columnist .response-count {
        background: var(--green);
        box-shadow:  0 0 7px var(--green), 0 0 7px var(--green), 0 0 7px var(--green),  0 0 10px var(--green), 0 0 10px var(--green),0 0 10px var(--green);

      }

       .sfpc .response-border {
        background: var(--bright-purple);
        box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple);

      }

      .response.sfpc .response-count {
        background: var(--bright-purple);
        box-shadow:  0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple), 0 0 7px var(--bright-purple),  0 0 10px var(--bright-purple), 0 0 10px var(--bright-purple),0 0 10px var(--bright-purple);

      }

       .participant .response-border{
        background: var(--blue);
        box-shadow:  0 0 7px var(--blue), 0 0 7px var(--blue), 0 0 7px var(--blue);

      }


.orb-click {
  pointer: cursor
}

.orb {
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  ms-transition: all .2s ease-in-out;
  o-transition: all .2s ease-in-out;
  position: fixed;
   left: 5vw;
  top: 30vh;
  width: 10vw;
  height: 10vw;

  /* width: 16vw;
  height: 16vw;
  transform: scale(.6); */
  cursor: pointer;
    z-index: 99999999;
    border-radius: 100%;
    background-image: url("/images/sessions/sex-ed/orb-0.png");
    background-size: cover;
    /* box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
    0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff, 0 0 25px #fff, 0 0 25px #fff, 0 0 25px #fff; */
    box-shadow:
        inset 0 0 3vw #fff,      /* inner white */
        inset 1.1vw 0 3.5vw #f0f,   /* inner left magenta short */
        inset -1.1vw 0 3.5vw #0ff,  /* inner right cyan short */
        inset 1.1vw 0 11.7vw #f0f,  /* inner left magenta broad */
        inset -1.1vw 0 11.7vw #0ff, /* inner right cyan broad */
        0 0 3vw #fff,            /* outer white */
        -0.58vw 0 4.7vw #f0f,        /* outer left magenta */
        0.58vw 0 4.7vw  #0ff;         /* outer right cyan */


        /* box-shadow:
            inset 0 0 1vw #fff,
            inset 20px 0 1.5vw #f0f,
            inset -20px 0 1.5vw  #0ff,
            inset 20px 0 5.7vw #f0f,
            inset -20px 0 5.7vw #0ff,
            0 0 3vw #fff,
            -0.05vw 0 2.7vw #f0f,
              -0.05vw 0 42.7vw  #0ff;         */

              animation: pulse 8s infinite;
}


@-webkit-keyframes pulse {
  0% {
    box-shadow:
        inset 0 0 3vw #fff,      /* inner white */
        inset 1.1vw 0 3.5vw #f0f,   /* inner left magenta short */
        inset -1.1vw 0 3.5vw #0ff,  /* inner right cyan short */
        inset 1.1vw 0 11.7vw #f0f,  /* inner left magenta broad */
        inset -1.1vw 0 11.7vw #0ff, /* inner right cyan broad */
        0 0 3vw #fff,            /* outer white */
        -0.58vw 0 4.7vw #f0f,        /* outer left magenta */
        0.58vw 0 4.7vw  #0ff;
        width: 10vw;
        height: 10vw;
        margin-left: 0vw;
        margin-top: 0vw;
  }
  /* 70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204,169,44, 0);
  } */
  20% {
    box-shadow:
        inset 0 0 3vw #fff,      /* inner white */
        inset 1.1vw 0 3.5vw #f0f,   /* inner left magenta short */
        inset -1.1vw 0 3.5vw #0ff,  /* inner right cyan short */
        inset 1.1vw 0 11.7vw #f0f,  /* inner left magenta broad */
        inset -1.1vw 0 11.7vw #0ff, /* inner right cyan broad */
        0 0 3vw #fff,            /* outer white */
        -0.58vw 0 4.7vw #fff,        /* outer left magenta */
        0.58vw 0 4.7vw  #fff;
        /* width: 12vw;
        height: 12vw;
        transform: scale(1);
        margin-left: -1vw;
        margin-top: -1vw; */
        width: 16vw;
        height: 16vw;
        transform: scale(1);
        margin-left: -2.5vw;
        margin-top: -2.5vw;
  }

  40% {
    box-shadow:
        inset 0 0 3vw #fff,      /* inner white */
        inset 1.1vw 0 3.5vw #f0f,   /* inner left magenta short */
        inset -1.1vw 0 3.5vw #0ff,  /* inner right cyan short */
        inset 1.1vw 0 11.7vw #f0f,  /* inner left magenta broad */
        inset -1.1vw 0 11.7vw #0ff, /* inner right cyan broad */
        0 0 3vw #fff,            /* outer white */
        -0.58vw 0 4.7vw #f0f,        /* outer left magenta */
        0.58vw 0 4.7vw  #0ff;
        width: 10vw;
        height: 10vw;
        margin-left: 0vw;
        margin-top: 0vw;
  }

  100% {
    box-shadow:
        inset 0 0 3vw #fff,      /* inner white */
        inset 1.1vw 0 3.5vw #f0f,   /* inner left magenta short */
        inset -1.1vw 0 3.5vw #0ff,  /* inner right cyan short */
        inset 1.1vw 0 11.7vw #f0f,  /* inner left magenta broad */
        inset -1.1vw 0 11.7vw #0ff, /* inner right cyan broad */
        0 0 3vw #fff,            /* outer white */
        -0.58vw 0 4.7vw #f0f,        /* outer left magenta */
        0.58vw 0 4.7vw  #0ff;
        width: 10vw;
        height: 10vw;
        margin-left: 0vw;
        margin-top: 0vw;
  }
}


  .orb img {
    width: 100%;
    height: auto;
  }




      .orb:hover {
        /* width: 16vw;
        height: 16vw;
        transform: scale(1);
        margin-left: -2.5vw;
        margin-top: -2.5vw; */
        box-shadow:
            inset 0 0 3vw #fff,
            inset 1.1vw 0 3.5vw #f0f,
            inset -1.1vw 0 3.5vw #0ff,
            inset 1.1vw 0 11.7vw #f0f,
            inset -1.1vw 0 11.7vw #0ff,
            0 0 3vw var(--bright-purple),
            -0.58vw 0 4.7vw var(--bright-purple),
            0.58vw 0 4.7vw  var(--bright-purple);
            cursor: pointer;
      }

      img.orb {
        transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        ms-transition: all .2s ease-in-out;
        o-transition: all .2s ease-in-out;
        position: fixed;
        left: 3vw;
        top: 50vh;
        width: 13vw;
        height: auto;
        cursor: pointer;
          z-index: 99999999;
      }

      img.orb:hover {
        width: 19vw;
        margin-left: -2.5vw;
        margin-top: -2.5vw;
      }



img.mover {
  position: fixed;
  height: auto;
  mix-blend-mode: screen;
}

img.mover-one {
  width: 300%;
}

img.mover-two {
  width: 100%;
}

img.mover-three {
  width: 300%;
}





@media (max-width: 768px) {


  :root {
      --font-meta: calc(11px + 0.1vw);
      --font-medium: 5vw;
      --font-body: 6vw;
      --font-large: 7.5vw;
      --font-small-italic: calc(11px + 0.3vw);
    }


    img.orb, img.orb:hover {
      left: 75vw;
      top: 0vw;
      width: 25vw;
      height: auto;
      cursor: pointer;
        z-index: 99999999;
        margin: 0px;
    }

    .orb, .orb:hover {
      position: fixed;
      left: 78vw;
      top: 2vw;
      width: 20vw;
      height: 20vw;
      margin: 0px;
        animation: none;
    }

  #main {
    width: 94vw;
    left: 3vw;
    position: absolute;
    padding-top: 40vw;
  }

  /* h1,  */
  .margin-top, img.margin-top {
    margin-top: 20vw;
    margin-bottom: 0px;
  }

  .header {
    left: 3vw;
    top: 4vw;
  }

  .footer {
    position: fixed;
    padding-left: 3vw;
    /* bottom: 1vw; */
  }

  .person-group-medium {

    /* left: 78vw;
    bottom: 2vh;
    width: 30vw;
    display: flex;
      column-gap: 1vw;
      margin: 8vw 0 2vw 0; */
      display: none;
      visibility: hidden;
      opacity: 0;
  }


  .topic {
    padding-right: 0vw;
    overflow-wrap: break-word;
    /* word-break: break-word; */
    /* -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
        hyphens: manual; */
  }

  .question .excerpt {
    /* width: 83%; */
    padding-top: 16vw;
    width: 96%;
  }

  .question .full-question {
    width: 100%;
    padding-top: 16vw;
  }



  .submission-info {
    width: 75%;
    line-height: 1.75;
  }


  .topic {
    width: calc(22% - 2vw);
  }

  .response-count {
    /* border-radius:calc(var(--font-meta) * 1.4);
    min-width: calc(var(--font-meta) * 1.4);
    padding: 0 2px;
    height: calc(var(--font-meta) * 1.4);
    line-height: calc(var(--font-meta) * 1.8);
    box-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff ; */
  }

  .response{
    padding: 3vw 5vw;
  }

  .response .response-count{
    padding: 0 2px;
  }

  .header {
    text-shadow:  0 0 7px #fff, 0 0 7px #fff, 0 0 7px #fff,  0 0 10px #fff, 0 0 10px #fff,0 0 10px #fff,
    0 0 15px #fff, 0 0 15px #fff, 0 0 15px #fff,  0 0 20px #fff,  0 0 20px #fff, 0 0 20px #fff;
  }

  .response-border {
    width: calc(3px + 0.05vw);
    border-radius: calc(3px + 0.05vw);
  }

  img.mover-two {
    width: 300%;
  }

.person .img {
    border-radius: 100%;
    width: 40vw;
    height: 55vw;
    margin-right: 4vw;
    margin-bottom: 4vw;
}

.person.people-images {
  margin-bottom: 6vw;
  margin-top: 6vw;
}


.person  {
  margin-bottom: 6vw;
  margin-top: 6vw;
}



.about .section-img  {
  width: 40vw;
  height: 55vw;
  margin-top: 25vw;
  margin-bottom: 6vw;
}

.about .people-images {
  margin: 20vw 0 4vw 0;
}


p {
  margin: 0 0 8vw 0;
}
h2 {
  padding-bottom: 4vw;
}

.star p {
  margin: 0 0 8vw 0 !important;
}

.mover {
  display: none;
  visibility: hidden;
  opacity: 0;
}



}
