<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />
  <link rel="stylesheet" href="https://use.typekit.net/thn3crj.css">



  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->
  <!-- end stats -->
</head>

<body>
  {{> header}}
  <div id="footer" class="footer">
          <div class="mode"><button id="mode-toggle"></button></a></div>
        </div>



        <div class="website-grid grid-hide  fundraiser-winter-23">
          <div class="grid-inner fundraiser-winter-23">
          <section>
            <div class="grid-2">
              <div class="chars chars1"></div>
              <p class="large">School</p>
            </div>
            <div class="grid-2">
              <div class="chars chars2"></div>
              <p class="large">for</p>
            </div>
            <div class="grid-2">
              <div class="chars chars3"></div>
              <p class="large">Poetic</p>
            </div>
            <div class="grid-2">
              <div class="chars chars4"></div>
              <p class="large">Computation</p>
            </div>
          </section>
        </div>
        </div>

  <div class="crt-overlay crt-overlay-fullsize"></div>


  <div id="shell" class="shell fundraiser shell-fullsize animsition fundraiser-winter-23">

    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <a class="fixed-support donate" href="/fundraiser"><span>Donate!</span></a>



    <div id="fundraiser" class="hide-content shell-content">

      <section id="video-feature">

        <div class="grid-2">
            <a href="/fundraiser"><div class="title-image fundraiser-23-square"> </div></a>


            <div class="video-feature">
            <div class="embed-container"><iframe src='https://player.vimeo.com/video/777731124?h=b0b0b112c1&title=0&byline=0&portrait=0' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
          </div>

          <div class="break-noline-small"> </div>

        </div>

        <div class="grid-2 video-description">
          <h1 class="no-rotate">An open-hearted effort towards mutual aid and reciprocity</h1>
          <div class="break-noline-small"></div>
          <p>SFPC’s first ever Community Fundraiser is an open-hearted effort to build our school on a foundation of mutual aid and reciprocity. As we reject the old financial models of private education, we’re looking to create something new, beautiful, and expansive in its place. We aim to create a learning environment where no one is ever turned away due to their inability to pay tuition. To bring this vision to life, we ask our community members with access to high salaries, generational wealth, and savings to donate generously. We are deeply grateful for every contribution.</p>
          <p><a href="/blog/fundraiser-winter-23">read more on our blog… </a></p>
        </div>

      </section>

      <div class="break-noline-small"></div>

        <div class="grid-container" id="participate-archive">

          <main class="grid-item main">
            <main class="grid-item main">
              <div class="carousel-items items carousel-content press-content">

                {{#each testimonials}}
                {{#eq type "General SFPC"}}
                {{#if publish}}
                <figure class="block-text test show-test">
                  <span class="test-icon"> </span>{{Testimonial}}<h4>{{#if Person-Website}}
                    {{#each Person-Website}}{{this}}{{#unless @last}},{{/unless}} {{/each}}
                    {{else}}{{Submitter}}
                     {{/if}}</h4>
                </figure>
                {{/if}}
                {{/eq}}
                {{/each}}


              </div>
            </main>
          </main>
        </div>


       <section>
           <div class="grid-2">
             <p>
              <a href="https://forms.gle/PvuvBQd4cmo8YL4j6" class="" target="_blank">share a testimonial...</a>
             </p>
           </div>

           <div class="grid-2">
           </div>
       </section>


       <div class="break-noline"></div>
        <div class="hide-mobile break-endpage"></div>




      </div>











      <script src="outside.js"></script>
      <script src="closed.js"></script>
      <script src="carousel.js"></script>


</body>

</html>
