<!DOCTYPE html>
<html lang="en">

<head>
  <title>School for Poetic Computation</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta name="title" content="School for Poetic Computation">
  <meta name="description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://sfpc.study/">
  <meta property="og:title" content="School for Poetic Computation">
  <meta property="og:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="og:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://sfpc.study/">
  <meta property="twitter:title" content="School for Poetic Computation">
  <meta property="twitter:description"
    content="The School for Poetic Computation is an experimental school in New York City supporting interdisciplinary study in art, code, hardware and critical theory. It's a place for learning and unlearning.">
  <meta property="twitter:image" content="https://sfpc.study/images/sessions/meta.jpg">
  <link href="/styles.css" rel="stylesheet">
  <link id="mode" rel="stylesheet" type="text/css" href="/crt.css" />
  <link rel="shortcut icon" type="image/png" href="https://sfpc.study/images/sessions/favicon.ico" />

  <script src="/jquery-3.6.0.min.js"></script>

  <!-- stats -->
  <script type="text/javascript">
    var sc_project = 12714909;
    var sc_invisible = 1;
    var sc_security = "6086a46c";
  </script>
  <script type="text/javascript" src="https://www.statcounter.com/counter/counter.js" async></script>
  <noscript>
    <div class="statcounter"><a title="website statistics" href="https://statcounter.com/" target="_blank"><img
          class="statcounter" src="https://c.statcounter.com/12714909/0/6086a46c/1/" alt="website statistics"
          referrerPolicy="no-referrer-when-downgrade"></a></div>
  </noscript>


  <!-- <script data-goatcounter="https://sfpc.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->


  <!-- end stats -->
</head>


<body>
  {{> header}}
  {{> footer}}

  <div class="crt-overlay crt-overlay-fullsize"></div>


  <div id="shell" class="shell shell-fullsize projects sfpc">


    <div class="loader-content">
      <p tabindex="0" class="large">
        loading<span>...</span>
      </p>
    </div>


    <div class="selectors">
      <!-- <select id="allSections" onchange="if (this.value) window.location.href=this.value" class=" hide-content">
        <option value="/participate" selected>All Programs</option>
        <option value="/sessions">Sessions</option>
        <option value="/classes">Classes</option>
        <option value="/events">Events</option>
      </select> -->

      <select id="allSections" onchange="sectionJump(this.value)" class=" hide-content">
        <option value="">Jump to section...</option>
        <option value="apply">Apply to SFPC</option>

        <option value="admissions-process">Admissions Process</option>
        <option value="scholarships">Scholarships</option>
        <option value="accessibility">Accessibility</option>
        <option value="tuition-payments-refunds">Tuition Payments & Refunds</option>
        <option value="classes-and-programs">Classes and Programs</option>
        <option value="other-questions">Other Questions</option>
        <option value="community-agreement">Community Agreement</option>
        <option value="program-archive">Program Archive</option>
      </select>
    </div>


    <h4 class="breadcrumb  hide-content"><a href="">participate</a></h4>



    {{!-- TODO: Work here! --}}
    <div id="projects" class="shell-content hide-content allProjects projectsDiv">
    {{!-- Highlight Information on Current Application status --}}

      {{!-- Current & Upcoming *Remove?* --}}
      <section id="applying">
        <div class="grid-2">
          <h1>Apply to SFPC</h1>
        </div>

        <div class="grid-2">

          <p>
           Applications are now open for our Fall 2024 classes until <strong>August 2nd, 2024</strong>. <a href="https://forms.gle/s8kc7f69pLrNznLH7">Apply now</a> or read more information by clicking on a class from the list below.
          </p>
          <p>
            After the list of classes, find answers to some frequently asked question including information about <a onclick="sectionJump('admissions-process')" href="#admissions-process">what we look for in participants</a>, <a onclick="sectionJump('scholarships')" href="#scholarships">scholarships</a>, and <a onclick="sectionJump('accessibility')" href="#accessibility">accessibility</a>. 
          </p>

        </div>
      </section>

     {{> fall24classBlock}}

      <div class="break"></div>
      <section id="admissions-process">
        <div class="grid-2">
          <h1>Admissions Process</h1>
        </div>
        <div class="grid-2">
          <h6>What does SFPC look for in participants? </h6>
          <p>For each program at SFPC, we assemble a cohort of participants with a wide range of passions, skills, experiences, and technical abilities. We look for participants who are interested in learning from each other and who would thrive in a horizontal learning environment. We center people who are often excluded from art, technology, and education spaces to create equitable and empowering conditions for study.</p>

          <h6>Can I submit my application after the deadline?</h6>
          <p>We are unable to accept applications after the deadline. Sign up for our newsletter or follow us on Instagram or Twitter to stay up-to-date about opportunities to participate at SFPC!</p>

          <h6>I applied and didn’t get in. Can I get feedback on my application?</h6>
          <p>Due to the large volume of applications we receive, we are unable to give individual feedback on applications. However, please continue to apply! We consider if an applicant has previously applied in our admissions process.</p>
        </div>
      </section>
      <div class="break"></div>

      <section id="scholarships">
        <div class="grid-2">
          <h1>Scholarships</h1>
        </div>
        <div class="grid-2">
          <h6>I can’t afford to pay the full tuition amount. Are scholarships available?</h6>
          <p><u>If you can’t afford to pay the full tuition amount, we still really want you to apply.</u> Our application asks you how much you can pay. We offer payment plans and subsidized scholarship positions in all of our classes. </p>
          
          <h6>Does SFPC consider my ability to pay tuition when making admissions decisions?</h6>
          <p>We do not look at an applicant’s ability to pay any amount of tuition in the first round of application review. However, in the second round of application review, we take an applicant’s ability to pay tuition into account. SFPC does not yet have the financial means to admit applicants purely on a pay-what-you-can basis. We are actively working to become a school where no one is prevented from studying due to their inability to pay tuition. </p>
        </div>
      </section>
      <div class="break"></div>

      <section id="accessibility">
        <div class="grid-2">
          <h1>Accessibility</h1>
        </div>
        <div class="grid-2">
          <h6>What disability and accessibility accommodations are available for online classes?</h6>
          <p>In our application for online classes, we ask applicants to share disability information and accommodation requests with us. Online classes are hosted on Zoom and are conducted in English with audiovisual materials such as automated live captioning, presentations, code examples and video recordings. Unfortunately, we cannot provide ASL interpretation or CART services for online classes. We are actively working towards providing more accommodations. If you have accessibility requests or need assistance, email <a href="mailto:admissions@sfpc.study">admissions@sfpc.study</a>. </p>
        </div>
      </section>
      <div class="break"></div>

      <section id="tuition-payments-refunds">
        <div class="grid-2">
          <h1>Tuition Payments & Refunds</h1>
        </div>
        <div class="grid-2">
          <h6>Can I receive a refund?</h6>
          <p>We can refund you up to 14 days before class starts.  After that point, we are holding your place in the class and we cannot issue refunds, including for payment plans.</p>
          
          <h6>Do you offer payment plans?</h6>
          <p>Yes! SFPC offers payment plans. Participants can schedule weekly or monthly payments of the same amount. First and last payments must be made before the beginning and end of class. Please note: Processing fees apply for each payment via Withfriends and Stripe.</p>

          <h6>Can I change my payment plan?</h6>
          <p>A payment plan is not a subscription. By agreeing to a payment plan at SFPC you agree to pay the full amount of your tuition, even if you decide you no longer wish to attend the class at a later date. A seat will be reserved for you whether you use it or not. We do understand that financial circumstances change though, and will do our best to adjust the schedule of your payment plan to accommodate your needs, please email <a href="mailto:admissions@sfpc.study">admissions@sfpc.study</a> to let us know more.</p>
        </div>
      </section>
      <div class="break"></div>

      <section id="classes-and-programs">
        <div class="grid-2">
          <h1>Classes & Programs</h1>
        </div>
        <div class="grid-2">
          <h6>Will my favorite class be offered again in the future?</h6>
          <p>We typically offer a mix of new and repeat classes; it’s possible but not guaranteed. We appreciate your feedback that you’d like to see the class offered again. <a href="https://sfpc.study/newsletter">Sign up for our newsletter</a> or follow us on <a href="https://www.instagram.com/sfpc_nyc/">Instagram</a> or <a href="https://twitter.com/sfpc?lang=en">Twitter</a> to stay up-to-date about future classes at SFPC!</p>
          
          <h6>Does SFPC offer online classes? Does SFPC offer in-person classes?</h6>
          <p>The majority of our classes and programs take place online and sometimes have public livestreams via <a href="http://twitch.tv/sfpc_nyc">Twitch</a>. Occasionally, SFPC offers in-person classes and programs. <a href="https://sfpc.study/newsletter">Sign up for our newsletter</a> for the most up to date program offerings.</p>

          <h6>Can I attend class asynchronously or audit a class?</h6>
          <p>We strongly recommend attending classes synchronously. Asynchronous attendance is approved on a case-by-case basis with the teacher. SFPC offers limited class audit opportunities for alumni.</p>

          <h6>What technical experience or expertise is required to study at SFPC?</h6>
          <p>SFPC offers classes for participants of varying experience levels with art, software, hardware, and critical studies. Please refer to individual class pages for specific requirements for that class.</p>
        </div>
      </section>
      <div class="break"></div>

      <section id="other-questions">
        <div class="grid-2">
          <h1>Other Questions</h1>
        </div>
        <div class="grid-2">
          <h6>Can I receive a certificate of completion for credit at my college or university?</h6>
          <p>SFPC is not an accredited school. We can provide certificates of completion upon request.</p>
          
          <h6>Where is SFPC located? Can I visit SFPC?</h6>
          <p>SFPC is an online school based in New York. We were previously operating out of Westbeth Artists Housing, but currently do not have a physical location.</p>

          <h6>How can I get involved at SFPC as a teacher, worker, intern or volunteer?</h6>
          <p>SFPC does not accept unsolicited proposals for classes. The best way to get involved with us and get to know our community is to attend our events or apply to enroll in our classes. <a href="https://sfpc.study/newsletter">Sign up for our newsletter</a> or follow us on <a href="https://www.instagram.com/sfpc_nyc/">Instagram</a> or <a href="https://twitter.com/sfpc?lang=en">Twitter</a> to stay up-to-date about opportunities to teach, work, intern, or volunteer at SFPC!</p>

          <h6>How can I help others to attend SFPC?</h6>
          <p>Please consider making <a href="https://sfpc.study/donate">a tax-deductible donation</a> to support scholarships for people who have been historically excluded from art and technology fields. We need your help to create an inclusive school where no one faces a financial barrier to study.</p>
        </div>
      </section>
      <div class="break"></div>

      {{!-- OUTDATED COPY BELOW --}}

      {{!-- What we look for --}}
     
      {{!-- Community Agreement --}}
      <section id="community-agreement">
        <div class="grid-2">
          <h1>Community Agreement</h1>
        </div>

        <div class="grid-2">
          <p>
            All members and guests of the SFPC community agree to uphold the Community Agreement when entering community
            spaces, both in person and online. We commit to actively participate in the social material of our learning
            and work together to create boundaries that help everyone feel as safe and comfortable as possible.
          </p>
          <p>
            <a href="http://orienting.sfpc.study/is-where-we/look-after-each-other/community-agreement.html"> Read the SFPC Community
              Agreement</a>
          </p>
        </div>
      </section>



      <div class="break"></div>
      <section id="program-archive">
        <div class="grid-2">
          <h1>Program Archive</h1>
        </div>
        <div class="grid-2">
          <p>
            We are still working on archiving all our past programs. Click to view our past <a
            href="/sessions/">sessions</a> and <a href="/classes/">classes</a>.
          </p>
   
        </div>
      </section>
      <div class="break"></div>

      <section id="section-outro">
        <p tabindex="0" class="large">

          Interested in more learning opportunities at the School for Poetic Computation?
          Join our <a href="/newsletter">newsletter</a> to stay up to date on future
          sessions and events, and
          follow us on <a href="https://instagram.com/sfpc_nyc">Instagram</a> and <a
            href="https://twitter.com/sfpc">Twitter</a>.
          Support our programming with a <a
            href="/donate">tax-deductible donation</a>.
          Get in touch over <a href="mailto:info@sfpc.study">email</a>.
        </p>
      </section>


      <div class="break-endpage"></div>




    </div>
  </div>










  <script src="/outside.js"></script>
  <script src="/carousel.js"></script>
  </p>

</body>

</html>
