
<div class="page"  id="visit-tech">

  <div class="line indent-link">
    <span class="link-active" id="link-about">[3] Available Tech (Hardware & Software)</span>
    </div>
    <div class="line indent">
      Computers: 8 computer stations and 4 laptops are available on a first come, first serve basis. Those who don’t own a laptop will be prioritized first.
   </div>
   <div class="line indent">
     Printer: TK TK
  </div>
  <div class="line indent">
    Games: TK TK
 </div>

 <div class="line">
   Prepare for your visit... <span class="link link-visitAccess">[1] Accessibility</span>
   <span class="link link-visitCovid">[2] Covid-19 Safety</span>
   <span class="link link-visitTech">[3] Available Tech (Hardware & Software)</span>
   <span class="link link-visitLibrary">[4] Library</span>
   <span class="link link-visitStore">[5] Store</span>
 </div>


</div>
