
<div class="page"  id="visit-access">


  <div class="line indent-link">
    <span class="link-active" id="link-about">[1] Accessibility</span>
    </div>
    <div class="line indent">
      All program space at The Electronic Cafe for Poetic Computation at Recess (46 Washington Avenue) is fully accessible for wheelchair users. Restrooms are gender neutral and ADA compliant.
</div>

<div class="line">
  Prepare for your visit... <span class="link link-visitAccess">[1] Accessibility</span>
  <span class="link link-visitCovid">[2] Covid-19 Safety</span>
  <span class="link link-visitTech">[3] Available Tech (Hardware & Software)</span>
  <span class="link link-visitLibrary">[4] Library</span>
  <span class="link link-visitStore">[5] Store</span>
</div>



</div>
