<div class="page"  id="about-credits">

  <div class="line indent-link">
    <span class="link-active" id="link-about">[2] Credits & Acknowledgments</span>
  </div>

   <div class="line indent">
     Concept: SFPC Co-directors (American Artist, Celine Wong Katzman, Galen Macdonald, Melanie Hoff, Neta Bomani, Todd Anderson, Zainab Aliyu)

  </div>

  <div class="line indent">
    Documentation: Neta Bomani and Zainab Aliyu
  </div>

  <div class="line indent">
    Graphic Design: Bryant Wells
  </div>

  <div class="line indent">
    Hardware Infrastructure & Curation: Melanie Hoff and Todd Anderson
  </div>

  <div class="line indent">
    Installation Design: American Artist and Celine Wong Katzman
  </div>

  <div class="line indent">
    Program Direction: Neta Bomani
  </div>

  <div class="line indent">
    Program Assistant: Tyler Yin
  </div>

  <div class="line indent">
    Project Management: Galen Macdonald and Zainab Aliyu
  </div>

  <div class="line indent">
    Publication Design: Zainab Aliyu
  </div>

  <div class="line indent">
    Public Messaging: Melanie Hoff and Sara Martinez
  </div>

  <div class="line indent">
    Website Design: Zainab Aliyu
  </div>

  <div class="line indent">
    Website Development: Todd Anderson and Zainab Aliyu
  </div>


  <div class="line indent">
    This project is made possible by a grant from Art for Justice Fund (A4J), a sponsored project of Rockefeller Philanthropy Advisors.
  </div>

  <div class="line">
    More information...
    <span class="link link-aboutCredits">[1] Credits & Acknowledgements</span>
    <span class="link link-aboutContact">[2] Contact</span>
  </div>


</div>
