<div class="pagebreak">
</div>
<div class="page"  id="guestbook">
<div class="line">
  <span class="link-active" id="link-about">[G] Guestbook</span>
</div>

<marquee style="width: 100vw"  scrollamount="15" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
      * ***                                                     *                                *
    *  ****  *                                          *     **                               **
   *  *  ****                                          **     **                               **
  *  **   **                                           **     **                               **
 *  ***          **   ****                  ****     ******** **            ****       ****    **
**   **           **    ***  *    ***      * **** * ********  ** ****      * ***  *   * ***  * **  ***
**   **   ***     **     ****    * ***    **  ****     **     *** ***  *  *   ****   *   ****  ** * ***
**   **  ****  *  **      **    *   ***  ****          **     **   ****  **    **   **    **   ***   *
**   ** *  ****   **      **   **    ***   ***         **     **    **   **    **   **    **   **   *
**   ***    **    **      **   ********      ***       **     **    **   **    **   **    **   **  *
 **  **     *     **      **   *******         ***     **     **    **   **    **   **    **   ** **
  ** *      *     **      **   **         ****  **     **     **    **   **    **   **    **   ******
   ***     *       ******* **  ****    * * **** *      **     **    **    ******     ******    **  ***
    *******         *****   **  *******     ****        **     *****       ****       ****     **   *** *
      ***                        *****                          ***                             **   ***
</pre>
</marquee>

<pre class="print">
      * ***                                                     *                                *
    *  ****  *                                          *     **                               **
   *  *  ****                                          **     **                               **
  *  **   **                                           **     **                               **
 *  ***          **   ****                  ****     ******** **            ****       ****    **
**   **           **    ***  *    ***      * **** * ********  ** ****      * ***  *   * ***  * **  ***
**   **   ***     **     ****    * ***    **  ****     **     *** ***  *  *   ****   *   ****  ** * ***
**   **  ****  *  **      **    *   ***  ****          **     **   ****  **    **   **    **   ***   *
**   ** *  ****   **      **   **    ***   ***         **     **    **   **    **   **    **   **   *
**   ***    **    **      **   ********      ***       **     **    **   **    **   **    **   **  *
 **  **     *     **      **   *******         ***     **     **    **   **    **   **    **   ** **
  ** *      *     **      **   **         ****  **     **     **    **   **    **   **    **   ******
   ***     *       ******* **  ****    * * **** *      **     **    **    ******     ******    **  ***
    *******         *****   **  *******     ****        **     *****       ****       ****     **   *** *
      ***                        *****                          ***                             **   ***
</pre>


<div class="line">
Visitors can sign our guestbook from inside our space, and their entries will appear here.
</div>


<div class="line indent">
8/12/2023, 4:46:00 PM
</div>
<div class="line indent2">
michael+: nice set
</div>
<div class="line indent">
8/12/2023, 1:34:00 PM
</div>
<div class="line indent2">
justin: yo yo thanks
</div>
<div class="line indent">
8/12/2023, 1:15:00 PM
</div>
<div class="line indent2">
george aumoithe: This exhibit is rich and some tactile and free-ranging. I am so pleased to be here and appreciative of the institution-building this space represents however ephemeral it may be. We make do in the moments.
</div>
<div class="line indent">
8/12/2023, 11:23:00 AM
</div>
<div class="line indent2">
Gerardo Ismael Madera: Hi :)
</div>
<div class="line indent">
8/11/2023, 4:40:00 PM
</div>
<div class="line indent2">
sarah: ihave big feet
</div>
<div class="line indent">
8/11/2023, 4:17:00 PM
</div>
<div class="line indent2">
mulch and berle: i'm thinking good
</div>
<div class="line indent">
8/11/2023, 3:54:00 PM
</div>
<div class="line indent2">
nir.eth: gm from 2002 :-)
</div>
<div class="line indent">
8/11/2023, 3:50:00 PM
</div>
<div class="line indent2">
Danielle: Hello :-) Today I am applying for the Infinite Video program for Fall 2023. Browsing the video data bank and getting inspiration, feeling excited and hopeful. Also playing some Oregon Trail. The dynamic touch of this keyboard makes me want to continue to type.  This Dell is so similar to the first computer I ever used, starting when I was ten years old until I left home for college. Comfort in familiarity.
</div>
<div class="line indent">
8/11/2023, 2:41:00 PM
</div>
<div class="line indent2">
jojo: i miss angelfire
</div>
<div class="line indent">
8/11/2023, 1:08:00 PM
</div>
<div class="line indent2">
Galen: Today I'm thinking about this quote, attributed to Rumi: sell your cleverness and buy bewilderment
</div>
<div class="line indent">
8/11/2023, 1:00:00 PM
</div>
<div class="line indent2">
sam hardman: : )
</div>
<div class="line indent">
8/10/2023, 4:23:00 PM
</div>
<div class="line indent2">
Nara Avakian: I love goose &lt;3
</div>
<div class="line indent">
8/10/2023, 4:07:00 PM
</div>
<div class="line indent2">
Basil: I AM HERE IN HEAVEN!!!!
</div>
<div class="line indent">
8/5/2023, 10:46:00 AM
</div>
<div class="line indent2">
Kim Bobier: Hello!
</div>
<div class="line indent">
8/5/2023, 9:59:00 AM
</div>
<div class="line indent2">
Rebecca Picanso: Hand coding workshop :-)
</div>
<div class="line indent">
8/4/2023, 4:28:00 PM
</div>
<div class="line indent2">
Jay: This kind of art and community project always soothes my spirit in such a lovely and inspiring way - thank you.
</div>
<div class="line indent">
8/4/2023, 4:21:00 PM
</div>
<div class="line indent2">
yikai: gongi bongi my friends
</div>
<div class="line indent">
8/4/2023, 4:19:00 PM
</div>
<div class="line indent2">
Taylor: I am thinking about games!! I am reading this book of interviews with queer game designers (The queer games avant-garde) by Bonnie Ruberg and am so inspired by the games described (even though I'm not a big game player myself). How can we explore new ideas of success/winning, progress, intimacy, etc. through play?
</div>
<div class="line indent">
8/4/2023, 3:49:00 PM
</div>
<div class="line indent2">
kathleen: it was really great playing oregon trail. many parties of my member died, but Mr Fish prevailed in the end
</div>
<div class="line indent">
8/4/2023, 2:57:00 PM
</div>
<div class="line indent2">
Hachi: heehee
</div>
<div class="line indent">
8/4/2023, 1:15:00 PM
</div>
<div class="line indent2">
Riho: Hello world!
</div>
<div class="line indent">
8/3/2023, 4:08:00 PM
</div>
<div class="line indent2">
Allie L: Today I was thinking through language play  ~ words real and virtual ~ what a special place to sit and think and work, thanks for crafting this little world &lt;3
</div>
<div class="line indent">
8/3/2023, 2:15:00 PM
</div>
<div class="line indent2">
Saber: This was really cool. thank you.
</div>
<div class="line indent">
8/3/2023, 12:07:00 PM
</div>
<div class="line indent2">
Annie Fu: Hi! Being in the cafe reminds me of the program Hyperstudio, which was installed on desktops like this Dell when I was in elementary school. I remember we used Hyperstudio one time, and I created a labrynthine, gritty, multi-layer project with all kinds of text and images. Can't remember any specifics now, but I do remember I had so much fun creating in there. That's what this cafe represents to me! Thanks for putting this on.
</div>
<div class="line indent">
8/1/2023, 5:49:00 PM
</div>
<div class="line indent2">
jo: hey! i'm hoping to learn about the other folks in the are.na x sfpc community, and something about communities in general.
</div>
<div class="line indent">
8/1/2023, 5:36:00 PM
</div>
<div class="line indent2">
usbnorm: heyo! today i've been thinking about names. i already have atleast three names, so not that I need more, but a good friend told me that the language we use shapes our world more than ANYTHING else in the world.
</div>
<div class="line indent">
7/29/2023, 12:58:00 PM
</div>
<div class="line indent2">
Olayemi Eso: I'm really excited to learn about electronic music production. I know how the music makes me feel and I hope this workshop is a great start for understanding how to create those sounds and feelings for myself
</div>
<div class="line indent">
7/29/2023, 12:53:00 PM
</div>
<div class="line indent2">
mwic: hi
</div>
<div class="line indent">
7/29/2023, 12:53:00 PM
</div>
<div class="line indent2">
emmanuel: music!
</div>
<div class="line indent">
7/29/2023, 12:52:00 PM
</div>
<div class="line indent2">
Arjun: hello !
</div>
<div class="line indent">
7/29/2023, 12:52:00 PM
</div>
<div class="line indent2">
aine: hello bee-p boo
</div>
<div class="line indent">
7/28/2023, 2:56:00 PM
</div>
<div class="line indent2">
lfesp: &lt;3 bring back the internet cafe
</div>
<div class="line indent">
7/28/2023, 2:32:00 PM
</div>
<div class="line indent2">
Hayden Amaro: Come make art robots with me! PHAC.XYZ
</div>
<div class="line indent">
7/28/2023, 2:18:00 PM
</div>
<div class="line indent2">
sumeet (smt): yoyoyoyo. i played exapunks on here, and it was good. u should play it too
</div>
<div class="line indent">
7/28/2023, 2:05:00 PM
</div>
<div class="line indent2">
v: Im an empty vessel.
</div>
<div class="line indent">
7/28/2023, 1:51:00 PM
</div>
<div class="line indent2">
osebo: i love you
</div>
<div class="line indent">
7/27/2023, 4:51:00 PM
</div>
<div class="line indent2">
neta: what a peaceful place for poetry
</div>
<div class="line indent">
7/27/2023, 3:10:00 PM
</div>
<div class="line indent2">
baruch: Hello world
</div>
<div class="line indent">
7/27/2023, 12:50:00 PM
</div>
<div class="line indent2">
austin kim: programming visions, programming audio fiction
</div>
<div class="line indent">
7/22/2023, 11:51:00 AM
</div>
<div class="line indent2">
fame: hello, the space is awesome!
</div>
<div class="line indent">
7/22/2023, 11:44:00 AM
</div>
<div class="line indent2">
sfpc visitor: i am yearning for love and connection... maybe that is ok
</div>
<div class="line indent">
7/21/2023, 4:11:00 PM
</div>
<div class="line indent2">
fran: hello :) this space is nice :)
</div>
<div class="line indent">
7/21/2023, 3:37:00 PM
</div>
<div class="line indent2">
ali: humid reflection
</div>
<div class="line indent">
7/21/2023, 2:37:00 PM
</div>
<div class="line indent2">
sue cho: Hi there! I am Eun Soo Cho from South Korea! Everyone calls me Sue. Therefore, feel free to call me Sue :3 I was a media artist in my  country. And now, I am here for my master degree. I am a student of SVA now! Nice to meet you guys! I am so happy to visit here
</div>
<div class="line indent">
7/20/2023, 4:45:00 PM
</div>
<div class="line indent2">
yehwan: .....
</div>
<div class="line indent">
7/20/2023, 3:52:00 PM
</div>
<div class="line indent2">
Joshua Reinier: Ancient wisdom from the Oracles of old
</div>
<div class="line indent">
7/20/2023, 2:53:00 PM
</div>
<div class="line indent2">
ioan: Hello! Love the concept. Reminds me of skipping school to go to the internet cafe with my friends back in romania
</div>
<div class="line indent">
7/20/2023, 2:47:00 PM
</div>
<div class="line indent2">
Lee Tusman: Hi folx, great to visit the cafe today. I'm computing. Looking forward to checking out all the zines and websites. Ciao.
</div>
<div class="line indent">
7/20/2023, 12:58:00 PM
</div>
<div class="line indent2">
Bryce: Hi! This space is very ☆inspiring☆
The CRT's are a nice touch.  Super reminiscent of a high school computer lab :')
</div>
<div class="line indent">
7/20/2023, 11:58:00 AM
</div>
<div class="line indent2">
Tyler: well caffeinated today:)
</div>
<div class="line indent">
7/14/2023, 4:22:00 PM
</div>
<div class="line indent2">
yusufthemenace: Here to dig through
</div>
<div class="line indent">
7/14/2023, 3:38:00 PM
</div>
<div class="line indent2">
Michelle: Hi! Great to be here in the new summer space. H.A.G.S.

</div>
<div class="line indent">
7/14/2023, 3:35:00 PM
</div>
<div class="line indent2">
Lawra Suits Clark: roses are red
violets are blue
age of empires 2
</div>
<div class="line indent">
7/14/2023, 3:34:00 PM
</div>
<div class="line indent2">
Quinlan Maggio : Hiiiii SFPC!!! Love the setup xoxo
</div>
<div class="line indent">
7/14/2023, 11:36:00 AM
</div>
<div class="line indent2">
Jake ^_^: Hiiiii ^_^
</div>
<div class="line indent">
7/13/2023, 1:33:00 PM
</div>
<div class="line indent2">
corey de'juan sherrard jr: peace! i'm from houston and have been wanting to visit sfpc in person for a year or two. i make art, music, design, and want to program more.
</div>


<!-- {{#each guests}}
{{#if unpublish}}
{{else}}
{{#if Message}}
<div class="line indent">
{{Date}}
</div>
<div class="line indent2">
{{Name}}: {{Message}}
</div>
{{/if}}
{{/if}}
{{/each}}  -->

</div>
