
<div class="page"  id="visit-covid">

    <div class="line indent-link">
      <span class="link-active" id="link-about">[4] Covid-19 Safety</span>
      </div>
      <div class="line indent">
        The Electronic Cafe for Poetic Computation is a mask-on space. All event attendees, workshop participants, teachers and staff are expected to be masked inside the cafe. Please bring a mask. If you don't have one, masks will be provided.
  </div>

      <div class="line">
        Prepare for your visit... <span class="link link-visitAccess">[3] Accessibility</span>
        <span class="link link-visitCovid">[4] Covid-19 Safety</span>
        <span class="link link-visitTech">[5] Available Tech (Hardware & Software)</span>
        <span class="link link-visitLibrary">[6] Library</span>
        <span class="link link-visitStore">[7] Store</span>
      </div>





</div>
