<div class="pagebreak">
</div>
<div class="line">
  <span class="link-active" id="link-about">[A] About</span>
</div>

<pre>
          _____                    _____                   _______                   _____                _____
         /\    \                  /\    \                 /::\    \                 /\    \              /\    \
        /::\    \                /::\    \               /::::\    \               /::\____\            /::\    \
       /::::\    \              /::::\    \             /::::::\    \             /:::/    /            \:::\    \
      /::::::\    \            /::::::\    \           /::::::::\    \           /:::/    /              \:::\    \
     /:::/\:::\    \          /:::/\:::\    \         /:::/~~\:::\    \         /:::/    /                \:::\    \
    /:::/__\:::\    \        /:::/__\:::\    \       /:::/    \:::\    \       /:::/    /                  \:::\    \
   /::::\   \:::\    \      /::::\   \:::\    \     /:::/    / \:::\    \     /:::/    /                   /::::\    \
  /::::::\   \:::\    \    /::::::\   \:::\    \   /:::/____/   \:::\____\   /:::/    /      _____        /::::::\    \
 /:::/\:::\   \:::\    \  /:::/\:::\   \:::\ ___\ |:::|    |     |:::|    | /:::/____/      /\    \      /:::/\:::\    \
/:::/  \:::\   \:::\____\/:::/__\:::\   \:::|    ||:::|____|     |:::|    ||:::|    /      /::\____\    /:::/  \:::\____\
\::/    \:::\  /:::/    /\:::\   \:::\  /:::|____| \:::\    \   /:::/    / |:::|____\     /:::/    /   /:::/    \::/    /
 \/____/ \:::\/:::/    /  \:::\   \:::\/:::/    /   \:::\    \ /:::/    /   \:::\    \   /:::/    /   /:::/    / \/____/
          \::::::/    /    \:::\   \::::::/    /     \:::\    /:::/    /     \:::\    \ /:::/    /   /:::/    /
           \::::/    /      \:::\   \::::/    /       \:::\__/:::/    /       \:::\    /:::/    /   /:::/    /
           /:::/    /        \:::\  /:::/    /         \::::::::/    /         \:::\__/:::/    /    \::/    /
          /:::/    /          \:::\/:::/    /           \::::::/    /           \::::::::/    /      \/____/
         /:::/    /            \::::::/    /             \::::/    /             \::::::/    /
        /:::/    /              \::::/    /               \::/____/               \::::/    /
        \::/    /                \::/____/                 ~~                      \::/____/
         \/____/                  ~~                                                ~~
</pre>

<div class="line">
  The Electronic Cafe for Poetic Computation (ECPC) is an internet cafe being developed in real time by the School for Poetic Computation (SFPC) [<a href="https://sfpc.study/" target="_blank">https://sfpc.study/</a>] for the Session Program at Recess [<a href="https://www.recessart.org/">https://www.recessart.org/</a>]. Community members and visitors are invited to participate in a series of workshops and events exploring creative, inclusive, and liberatory uses of networked technology within an abolitionist framework.
</div>
<div class="line">
  Drawing inspiration from the local hubs of the early 2000s where people could access free internet, relax, play games, chat with friends, and print documents, this intimate space alludes to the “golden era” of the internet, where it was possible to find your community online or at your local cafe. ECPC is our reimagined expression of the “multi-media telecollaboration network” first initiated by Kit Galloway and Sherrie Rabinowitz’s
  Electronic Cafe ‘84 [<a href="http://www.ecafe.com/museum/history/ksoverview2.html">http://www.ecafe.com/museum/history/ksoverview2.html</a>], a project that transformed informal community venues into a networked cultural organization.
</div>
<div class="line">
  The internet cafe, as both a virtual and geographical connection point, offers many possibilities for collectively learning and practicing more creative, empowered, and just relationships to technology. By exploring this form, ECPC investigates and transcends the tension between exclusive art and academic spaces and people-first, community spaces, and explores the possibilities in operating a hybrid in-person and online classroom.
</div>

<div class="line">
  Continue... <span class="link" id="link-about">[1] Press Release</span>
  <span class="link" id="link-about">[2] Credits & Acknowledgements</span>
  <span class="link" id="link-about">[3] Contact</span>
</div>



<div class="line indent-link">
  <span class="link-active" id="link-about">[1] Press Release</span>
  </div>
  <div class="line indent">
    Redirecting... <a href="mailto:info@sfpc.study">info@sfpc.study</a>


  </div>



<div class="line indent-link">
  <span class="link-active" id="link-about">[2] Credits & Acknowledgments</span>
</div>

<div class="line indent">
  This project is made possible by a grant from Art for Justice Fund (A4J), a sponsored project of Rockefeller Philanthropy Advisors.
</div>

<div class="line indent">
  Documentation: Neta Bomani and Zainab Aliyu
</div>

<div class="line indent">
  Graphic Design: Bryant Wells
</div>

<div class="line indent">
  Hardware Infrastructure: Todd Anderson
</div>

<div class="line indent">
  Installation Design: American Artist and Celine Wong Katzman
</div>

<div class="line indent">
  Program Direction: Neta Bomani
</div>

<div class="line indent">
  Program Assistant: Tyler Yin
</div>

<div class="line indent">
  Project Management: Galen Macdonald and Zainab Aliyu
</div>

<div class="line indent">
  Public Messaging: Melanie Hoff and Sara Martinez
</div>

<div class="line indent">
  Website Design: Zainab Aliyu
</div>

<div class="line indent">
  Website Development: Todd Anderson and Zainab Aliyu
</div>



<div class="line indent-link">
  <span class="link-active" id="link-about">[3] Contact</span>
  </div>
  <div class="line indent">
    For all inquiries: Email [<a href="mailto:info@sfpc.study">info@sfpc.study</a>]
  </div>
