<div class="pagebreak">
</div>
<div class="page"  id="guestbook">
<div class="line">
  <span class="link-active" id="link-about">[G] Guestbook</span>
</div>

<marquee style="width: 100vw"  scrollamount="15" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
      * ***                                                     *                                *
    *  ****  *                                          *     **                               **
   *  *  ****                                          **     **                               **
  *  **   **                                           **     **                               **
 *  ***          **   ****                  ****     ******** **            ****       ****    **
**   **           **    ***  *    ***      * **** * ********  ** ****      * ***  *   * ***  * **  ***
**   **   ***     **     ****    * ***    **  ****     **     *** ***  *  *   ****   *   ****  ** * ***
**   **  ****  *  **      **    *   ***  ****          **     **   ****  **    **   **    **   ***   *
**   ** *  ****   **      **   **    ***   ***         **     **    **   **    **   **    **   **   *
**   ***    **    **      **   ********      ***       **     **    **   **    **   **    **   **  *
 **  **     *     **      **   *******         ***     **     **    **   **    **   **    **   ** **
  ** *      *     **      **   **         ****  **     **     **    **   **    **   **    **   ******
   ***     *       ******* **  ****    * * **** *      **     **    **    ******     ******    **  ***
    *******         *****   **  *******     ****        **     *****       ****       ****     **   *** *
      ***                        *****                          ***                             **   ***
</pre>
</marquee>

<pre class="print">
      * ***                                                     *                                *
    *  ****  *                                          *     **                               **
   *  *  ****                                          **     **                               **
  *  **   **                                           **     **                               **
 *  ***          **   ****                  ****     ******** **            ****       ****    **
**   **           **    ***  *    ***      * **** * ********  ** ****      * ***  *   * ***  * **  ***
**   **   ***     **     ****    * ***    **  ****     **     *** ***  *  *   ****   *   ****  ** * ***
**   **  ****  *  **      **    *   ***  ****          **     **   ****  **    **   **    **   ***   *
**   ** *  ****   **      **   **    ***   ***         **     **    **   **    **   **    **   **   *
**   ***    **    **      **   ********      ***       **     **    **   **    **   **    **   **  *
 **  **     *     **      **   *******         ***     **     **    **   **    **   **    **   ** **
  ** *      *     **      **   **         ****  **     **     **    **   **    **   **    **   ******
   ***     *       ******* **  ****    * * **** *      **     **    **    ******     ******    **  ***
    *******         *****   **  *******     ****        **     *****       ****       ****     **   *** *
      ***                        *****                          ***                             **   ***
</pre>


<div class="line">
Visitors can sign our guestbook from inside our space, and their entries will appear here. Please check back after our opening on July 8th, 2023!
</div>

<!-- {{#each guests}}
{{#if unpublish}}
{{else}}
{{#if Message}}
<div class="line indent">
{{Date}}
</div>
<div class="line indent2">
{{Name}}: {{Message}}
</div>
{{/if}}
{{/if}}
{{/each}} -->

</div>
