
<div class="page"  id="visit-store">


      <div class="line indent-link">
        <span class="link-active" id="link-about">[5] Store</span>
        </div>
        <div class="line indent">
          Visit our space to browse a wealth of objects, art, prints, ephemera, gadgets, merchandise and more, which you can purchase. Proceeds from our store
          go towards scolarships and running programs. Available objects include:
          <BR><BR>
          {{#each items}}
          {{#if publish}}
          <img src="{{Image-URL}}">
          {{/if}}
          {{/each}}
        </div>

        <div class="line">
          Prepare for your visit... <span class="link link-visitAccess">[1] Accessibility</span>
          <span class="link link-visitCovid">[2] Covid-19 Safety</span>
          <span class="link link-visitTech">[3] Available Tech (Hardware & Software)</span>
          <span class="link link-visitLibrary">[4] Library</span>
          <span class="link link-visitStore">[5] Store</span>
        </div>


</div>
