<div class="pagebreak">
</div>

<div class="page"  id="print">
<div class="line">
  <span class="link-active" id="link-about">[P] Print</span>
</div>

<marquee style="width: 100vw"  scrollamount="15" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
::::::::::. :::::::..   ::::::.    :::.::::::::::::
 `;;;```.;;;;;;;``;;;;  ;;;`;;;;,  `;;;;;;;;;;;''''
  `]]nnn]]'  [[[,/[[['  [[[  [[[[[. '[[     [[
   $$$""     $$$$$$c    $$$  $$$ "Y$c$$     $$
   888o      888b "88bo,888  888    Y88     88,
   YMMMb     MMMM   "W" MMM  MMM     YM     MMM
</pre>
</marquee>

<pre class="print">
::::::::::. :::::::..   ::::::.    :::.::::::::::::
 `;;;```.;;;;;;;``;;;;  ;;;`;;;;,  `;;;;;;;;;;;''''
  `]]nnn]]'  [[[,/[[['  [[[  [[[[[. '[[     [[
   $$$""     $$$$$$c    $$$  $$$ "Y$c$$     $$
   888o      888b "88bo,888  888    Y88     88,
   YMMMb     MMMM   "W" MMM  MMM     YM     MMM
</pre>

<div class="line">
  This website was designed and built by Zainab Aliyu [<a href="https://zai.zone" target="_blank">https://zai.zone</a>] with content management support from Todd Anderson [<a href="https://toddwords.com" target="_blank">https://toddwords.com</a>].
  This website can be printed as a publication, which was also designed by Zainab Aliyu.
  It uses the typeface Screenfont_8_Sans designed by Carlo Krüger [<a href="https://www.myfonts.com/collections/screenfont-8-sans-font-fontkingz">https://www.myfonts.com/collections/screenfont-8-sans-font-fontkingz</a>] and the ECPC logo designed by Bryant Wells [<a href="https://www.bryantwells.com/" target="_blank">https://www.bryantwells.com</a>].

</div>
<div class="line print-ready print-mobile">
  Printing can only be done via desktop computer, so please revisit this website on desktop to print!
</div>
<div class="line print-ready">
  Ready to print?
  <span class="link link-print">[8] Print on 8.5 x 11"</span>
</div>
</div>
