<div class="pagebreak">
</div>
<div class="page"  id="visit">
<div class="line">
  <span class="link-active" id="link-about">[V] Visit</span>
</div>

<marquee style="width: 100vw"  scrollamount="10" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
 ▄               ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄
▐░▌             ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
 ▐░▌           ▐░▌  ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀█░█▀▀▀▀  ▀▀▀▀█░█▀▀▀▀
  ▐░▌         ▐░▌       ▐░▌     ▐░▌               ▐░▌          ▐░▌
   ▐░▌       ▐░▌        ▐░▌     ▐░█▄▄▄▄▄▄▄▄▄      ▐░▌          ▐░▌
    ▐░▌     ▐░▌         ▐░▌     ▐░░░░░░░░░░░▌     ▐░▌          ▐░▌
     ▐░▌   ▐░▌          ▐░▌      ▀▀▀▀▀▀▀▀▀█░▌     ▐░▌          ▐░▌
      ▐░▌ ▐░▌           ▐░▌               ▐░▌     ▐░▌          ▐░▌
       ▐░▐░▌        ▄▄▄▄█░█▄▄▄▄  ▄▄▄▄▄▄▄▄▄█░▌ ▄▄▄▄█░█▄▄▄▄      ▐░▌
        ▐░▌        ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌
         ▀          ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀       ▀
</pre>
</marquee>

<pre class="print">
 ▄               ▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄  ▄▄▄▄▄▄▄▄▄▄▄
▐░▌             ▐░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌
 ▐░▌           ▐░▌  ▀▀▀▀█░█▀▀▀▀ ▐░█▀▀▀▀▀▀▀▀▀  ▀▀▀▀█░█▀▀▀▀  ▀▀▀▀█░█▀▀▀▀
  ▐░▌         ▐░▌       ▐░▌     ▐░▌               ▐░▌          ▐░▌
   ▐░▌       ▐░▌        ▐░▌     ▐░█▄▄▄▄▄▄▄▄▄      ▐░▌          ▐░▌
    ▐░▌     ▐░▌         ▐░▌     ▐░░░░░░░░░░░▌     ▐░▌          ▐░▌
     ▐░▌   ▐░▌          ▐░▌      ▀▀▀▀▀▀▀▀▀█░▌     ▐░▌          ▐░▌
      ▐░▌ ▐░▌           ▐░▌               ▐░▌     ▐░▌          ▐░▌
       ▐░▐░▌        ▄▄▄▄█░█▄▄▄▄  ▄▄▄▄▄▄▄▄▄█░▌ ▄▄▄▄█░█▄▄▄▄      ▐░▌
        ▐░▌        ▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌▐░░░░░░░░░░░▌     ▐░▌
         ▀          ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀  ▀▀▀▀▀▀▀▀▀▀▀       ▀
</pre>

<div class="line">
  Electronic Cafe for Poetic Computation was located at Recess (46 Washington Ave, Brooklyn, NY 11205). We were open to public from Thursday to Satuday, 12 - 6pm ET, from July 8 to August 12, 2023.
<BR><BR>
  <img src="/images/projects/ecpc/eventImages/space-1.jpg">
  <img src="/images/projects/ecpc/eventImages/space-2.jpg">
  <img src="/images/projects/ecpc/eventImages/space-3.jpg">
  <img src="/images/projects/ecpc/eventImages/space-4.jpg">
  <img src="/images/projects/ecpc/eventImages/space-5.jpg">
  <img src="/images/projects/ecpc/eventImages/space-6.jpg">
  <img src="/images/projects/ecpc/eventImages/space-7.jpg">
  <img src="/images/projects/ecpc/eventImages/space-8.jpg">
  <img src="/images/projects/ecpc/eventImages/space-9.jpg">
<BR><BR>
</div>
<div class="line">
  Prepare for your visit... <span class="link link-visitAccess">[3] Accessibility</span>
  <span class="link link-visitCovid">[4] Covid-19 Safety</span>
  <span class="link link-visitTech">[5] Available Tech (Hardware & Software)</span>
  <span class="link link-visitLibrary">[6] Library</span>
  <span class="link link-visitStore">[7] Store</span>
</div>


</div>
