<div class="line">
  <span class="link-active" id="link-about">[A] About</span>
</div>

<BR><BR>

<pre>
##### /    ##   ###            ###
######  /  #####    ###            ###
/#   /  /     #####   ###            ##
/    /  ##     # ##      ##           ##
/  ###     #         ##           ##
##   ##     #         ##    /##    ##      /###      /###   ### /### /###     /##
##   ##     #         ##   / ###   ##     / ###  /  / ###  / ##/ ###/ /##  / / ###
##   ##     #         ##  /   ###  ##    /   ###/  /   ###/   ##  ###/ ###/ /   ###
##   ##     #         ## ##    ### ##   ##        ##    ##    ##   ##   ## ##    ###
##   ##     #         ## ########  ##   ##        ##    ##    ##   ##   ## ########
##  ##     #         ## #######   ##   ##        ##    ##    ##   ##   ## #######
## #      #         /  ##        ##   ##        ##    ##    ##   ##   ## ##
###      /##      /   ####    / ##   ###     / ##    ##    ##   ##   ## ####    /
#######/ #######/     ######/  ### / ######/   ######     ###  ###  ### ######/
####     ####        #####    ##/   #####     ####       ###  ###  ### #####
</pre>

<div class="line">
  The Electronic Cafe for Poetic Computation (ECPC) is an internet cafe being developed in real time by the <a href="https://sfpc.io/" target="_blank">School for Poetic Computation (SFPC)</a> for Recess’s Session program. Community members and visitors are invited to participate in a series of workshops and events exploring creative, inclusive, and liberatory uses of networked technology within an abolitionist framework.
</div>
<div class="line indent ">
  Decades ago, internet cafes were practical hubs for computer usage, and for utopian visioning about the future of networked society. Those utopian visions are almost irreconcilable with the experience of virtual space today, as every area of the internet has been enclosed by big tech monopolies, commodified by hyper-capitalist marketplaces, and disciplined by surveillance regimes. These systems were designed to be oppressive, and/but they can be built in more generous ways that prioritize a multitude of community needs and values over one singular idea of “utopia.” The internet cafe, as both a virtual and physical connection point, offers many possibilities when asking how to collectively learn and practice a more creative, empowered, and just relationship to technology
</div>
<div class="line indent">
  Drawing inspiration from the local hubs of the early 2000s where people could access free internet, relax, play games, chat with friends, and print documents, this intimate space alludes to the “golden era” of the internet, where it was possible to find community online or at a local cafe. ECPC is inspired by the “multi-media telecollaboration network” first initiated by Kit Galloway and Sherrie Rabinowitz’s Electronic Cafe ‘84, a project that transformed informal community venues into a networked cultural organization. By exploring this form, ECPC is a center to investigate and transcend the tension between exclusive art and academic spaces and people-first, community spaces, and explore the possibilities in operating a hybrid in-person and online classroom.
</div>
<div class="line indent">
  ECPC is a project of SFPC, an independent, experimental school that offers accessible continuing education for learners of all kinds to explore and mobilize art, code, hardware, and critical theory in service of a more just community and world. SFPC classrooms are work-study spaces where participants ruminate on what we mean by school and the importance of art and technology education. By transforming the Session space at Recess into an internet cafe, SFPC welcomes new community members to ask questions essential to its mission: What can a school be? What is a classroom? What is a computer? What can I do with computers? What is poetic about computation? Who was here before me? SFPC programs offer hands-on opportunities to learn to use tech for curiosity, community building, joy, and liberation—through making music, setting up our own servers, and making websites.
</div>
<div class="line indent">
  At SFPC, teachers and students are always searching for ways to hold and share critical, ancestral, technical, and creative knowledge and practice. This drop-in, networked space is a place for subversion of traditional schooling systems and the ways said systems stratify who is invited to participate, and what practices are considered to be art and knowledge. SFPC hopes this hub will give the expanding community a place to experiment with what technology is, and what study can be.

</div>
