<div class="page"  id="about-contact">
  <div class="line indent-link">
    <span class="link-active" id="link-about">[2] Contact</span>
    </div>
    <div class="line indent">
      Email [<a href="mailto:info@sfpc.study">info@sfpc.study</a>]
    </div>
    <div class="line indent">
      Instagram [<a href="https://www.instagram.com/sfpc_nyc/" target="_blank">@sfpc_nyc</a>]
    </div>
    <div class="line indent datetime">
      Twitter [<a href="https://twitter.com/sfpc" target="_blank">@sfpc</a>]
    </div>
    <div class="line indent datetime">
      Newsletter [<a href="https://sfpc.study/newsletter" target="_blank">https://sfpc.study/newsletter</a>]
    </div>

    <div class="line">
      More information...
      <span class="link link-aboutCredits">[1] Credits & Acknowledgements</span>
      <span class="link link-aboutContact">[2] Contact</span>
    </div>



</div>
