<div class="pagebreak">
</div>

<div class="page"  id="print">
<div class="line">
  <span class="link-active" id="link-about">[P] Print</span>
</div>

<marquee style="width: 100vw"  scrollamount="15" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
::::::::::. :::::::..   ::::::.    :::.::::::::::::
 `;;;```.;;;;;;;``;;;;  ;;;`;;;;,  `;;;;;;;;;;;''''
  `]]nnn]]'  [[[,/[[['  [[[  [[[[[. '[[     [[
   $$$""     $$$$$$c    $$$  $$$ "Y$c$$     $$
   888o      888b "88bo,888  888    Y88     88,
   YMMMb     MMMM   "W" MMM  MMM     YM     MMM
</pre>
</marquee>

<div class="line">
  TK TK</div>
</div>
