<div class="pagebreak">
</div>
<div class="page"  id="help">
<div class="line">
  <span class="link-active" id="link-about">[H] Help</span>
</div>

<marquee style="width: 100vw"  scrollamount="10" scrolldelay="0"  loop="-1" behavior="scroll">
<pre>
      .·¨'`;        ,.·´¨;\                  _,.,  °             ,.  '              .,
     ';   ;'\       ';   ;::\          ,.·'´  ,. ,  `;\ '         /   ';\          ,·´    '` ·.'
     ;   ;::'\      ,'   ;::';       .´   ;´:::::\`'´ \'\       ,'   ,'::'\          \`; `·;·.   `·,
     ;  ;::_';,. ,.'   ;:::';°     /   ,'::\::::::\:::\:'     ,'    ;:::';'          ;   ,'\::`·,   \'
   .'     ,. -·~-·,   ;:::'; '    ;   ;:;:-·'~^ª*';\'´       ';   ,':::;'          ;   ,'::'\:::';   ';
   ';   ;'\::::::::;  '/::::;      ;  ,.-·:*'´¨'`*´\::\ '      ;  ,':::;' '          ;   ;:::;'·:.'  ,·'\'
    ;  ';:;\;::-··;  ;::::;      ;   ;\::::::::::::'\;'      ,'  ,'::;'            ';  ';: -· '´. ·'´:::'\'
    ':,.·´\;'    ;' ,' :::/  '     ;  ;'_\_:;:: -·^*';\      ;  ';_:,.-·´';\‘     ;  ,-·:'´:\:::::::;·'
     \:::::\    \·.'::::;        ';    ,  ,. -·:*'´:\:'\°    ',   _,.-·'´:\:\‘   ,'  ';::::::'\;:·'´
       \;:·´     \:\::';          \`*´ ¯\:::::::::::\;' '    \¨:::::::::::\';   \·.,·\;-· '´  '
                  `·\;'             \:::::\;::-·^*'´          '\;::_;:-·'´‘      \::\:\
                     '                `*´¯                     '¨                `'·;·'
</pre>
</marquee>

<pre class="print">
      .·¨'`;        ,.·´¨;\                  _,.,  °             ,.  '              .,
     ';   ;'\       ';   ;::\          ,.·'´  ,. ,  `;\ '         /   ';\          ,·´    '` ·.'
     ;   ;::'\      ,'   ;::';       .´   ;´:::::\`'´ \'\       ,'   ,'::'\          \`; `·;·.   `·,
     ;  ;::_';,. ,.'   ;:::';°     /   ,'::\::::::\:::\:'     ,'    ;:::';'          ;   ,'\::`·,   \'
   .'     ,. -·~-·,   ;:::'; '    ;   ;:;:-·'~^ª*';\'´       ';   ,':::;'          ;   ,'::'\:::';   ';
   ';   ;'\::::::::;  '/::::;      ;  ,.-·:*'´¨'`*´\::\ '      ;  ,':::;' '          ;   ;:::;'·:.'  ,·'\'
    ;  ';:;\;::-··;  ;::::;      ;   ;\::::::::::::'\;'      ,'  ,'::;'            ';  ';: -· '´. ·'´:::'\'
    ':,.·´\;'    ;' ,' :::/  '     ;  ;'_\_:;:: -·^*';\      ;  ';_:,.-·´';\‘     ;  ,-·:'´:\:::::::;·'
     \:::::\    \·.'::::;        ';    ,  ,. -·:*'´:\:'\°    ',   _,.-·'´:\:\‘   ,'  ';::::::'\;:·'´
       \;:·´     \:\::';          \`*´ ¯\:::::::::::\;' '    \¨:::::::::::\';   \·.,·\;-· '´  '
                  `·\;'             \:::::\;::-·^*'´          '\;::_;:-·'´‘      \::\:\
                     '                `*´¯                     '¨                `'·;·'
</pre>

<div class="line">
  Running into trouble at ECPC? Send us an email [<a href="mailto:info@sfpc.study">info@sfpc.study</a>], and one of our Lab Technicians will respond to you.
  Our Lab Technicians will also be in the space on Thursdays and Fridays to support visitors.
</div>

<div class="line indent">
Lab Technicians:
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/zainab-aliyu.jpg')"></div><span>Zainab Aliyu</span></div>
 <div class="accordionContent">
   <div class="line indent">
     Zainab "Zai" Aliyu is a Nigerian-American artist and cultural worker living in Lenapehoking (Brooklyn, NY). Her work contextualizes the cybernetic and temporal entanglement embedded within societal dynamics to understand how all socio-technological systems of control are interconnected, and how we are all materially implicated through time. She draws upon her body as a corporeal archive and site of ancestral memory to craft counter-narratives through sculpture, video, installation, built virtual environments, printed matter, archives, and community-participatory (un)learning. Zai is currently a co-director of the School for Poetic Computation, design director for the African Film Festival at the Film at Lincoln Center in NYC and was recently a fellow at NYU Tisch's Future Imagination Collaboratory. Her work has been shown at Lincoln Center (NYC), Museum of Modern Art Library (NYC), Miller ICA (Pittsburgh), the Centre for Heritage, Arts and Textile (Hong Kong), Casa do Povo (São Paulo, Brazil), Aktuelle Architektur der Kulturimages (Murcia, Spain) among others. 
     <BR><BR>
       <img src="images/people/zainab-aliyu.jpg"><BR><BR>
         <div class="clear"></div>
   </div>
   <div class="line indent">
      Pronouns: she/her
   </div>
   <div class="line indent">
      Email [<a href="mailto:zai@sfpc.study">zai@sfpc.study</a>]
   </div>
   <div class="line indent">
      Website [<a href="https://zai.zone" target="_blank">https://zai.zone</a>]
   </div>
   <div class="line indent">
      Instagram [<a href="https://www.instagram.com/beatsbyzai/" target="_blank">@beatsbyzai</a>]
   </div>


 </div>
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/todd-anderson.jpg')"></div><span>Todd Anderson</span></div>
 <div class="accordionContent">
   <div class="line indent">
     Todd Anderson is a digital poet, software artist and educator interested in building machines to deliver creative language, experimental internet performances and computer viruses as an art form. In addition to organizing with SFPC he helps out with Babycastles and The Illuminator projection collective. He is perhaps best known as the host and curator of WordHack, the monthly language+technology talk series every third Thursday at Babycastles (now online).
     <BR><BR>
       <img src="images/people/todd-anderson.jpg"><BR><BR>
         <div class="clear"></div>
     </div>
     <div class="line indent">
        Pronouns: he/him
     </div>
     <div class="line indent">
      Email [<a href="mailto:todd@sfpc.study">todd@sfpc.study</a>]
     </div>
     <div class="line indent">
      Website [<a href="https://zai.zone" target="_blank">https://zai.zone</a>]
     </div>
     <div class="line indent">
      Instagram [<a href="https://www.instagram.com/beatsbyzai/" target="_blank">@beatsbyzai</a>]
     </div>
 </div>
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/american-artist.jpg')"></div><span>American Artist</span></div>
 <div class="accordionContent">
   <div class="line indent">
     American Artist makes thought experiments that mine the history of technology, race, and knowledge production, beginning with their legal name change in 2013. Their work engages anti-Black state violence, surveillance, and criminalization, such as predictive policing. Artist is a 2022 Creative Capital and United States Artists grantee, and a recipient of the 2021 LACMA Art & Tech Lab Grant. They have exhibited at the Whitney Museum of American Art; MoMA PS1; Studio Museum in Harlem; Museum of Contemporary Art Chicago; Kunsthalle Basel, CH; and Nam June Paik Center, Seoul. They have had solo museum exhibitions at The Queens Museum, New York and The Museum of African Diaspora, California. Their work has been featured in The New York Times, Artforum, and Huffington Post. Artist is a part-time faculty at Parsons, NYU and UCLA and a co-director of the School for Poetic Computation.
     <BR><BR>
       <img src="images/people/american-artist.jpg"><BR><BR>
         <div class="clear"></div>
     </div>
     <div class="line indent">
        Pronouns: they/he
     </div>
     <div class="line indent">
      Email [<a href="mailto:american@sfpc.study">american@sfpc.study</a>]
     </div>
     <div class="line indent">
      Website [<a href="https://americanartist.us/" target="_blank">https://americanartist.us/</a>]
     </div>
     <div class="line indent">
      Instagram [<a href="https://www.instagram.com/a_____rtist" target="_blank">@a_____rtist</a>]
     </div>
     <div class="line indent">
      Twitter [<a href="https://www.twitter.com/hammons_online" target="_blank">@hammons_online</a>]
     </div>
 </div>
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/neta-bomani.jpg')"></div><span>Neta Bomani</span></div>
 <div class="accordionContent">
   <div class="line indent">
     Neta Bomani is a learner and educator who is interested in understanding the practice of reading and parsing information as a collaborative process between human and non-human computers. Neta’s work combines social practices, workshops, archives, oral histories, computation, printmaking, zines, and publishing, to create artifacts that engage abolitionist, black feminist, and do-it-yourself philosophies. Neta received a graduate degree in Interactive Telecommunications from the Tisch School of the Arts at New York University. Neta has taught at the School for Poetic Computation, the New School, New York University, Princeton University, the University of Texas, and in the after school program at P.S. 15 Magnet School of the Arts in Brooklyn, NY. Neta has studied under American Artist, Fred Moten, Kameelah Janan Rasheed, Mariame Kaba, Ruha Benjamin, Simone Browne, and many others who inform Neta’s work. Neta’s work has appeared at the Queens Museum, the Barnard Zine Library, The Kitchen, and the Met Library. Neta is one of seven co-directors at the School for Poetic Computation, and one of two co-directors at Sojourners for Justice Press, an imprint of Haymarket Books.

     <BR><BR>
       <img src="images/people/neta-bomani.jpg"><BR><BR>
         <div class="clear"></div>
     </div>
     <div class="line indent">
        Pronouns: any pronouns
     </div>
     <div class="line indent">
      Email [<a href="mailto:neta@sfpc.study">neta@sfpc.study</a>]
     </div>
     <div class="line indent">
      Website [<a href="https://netabomani.com/" target="_blank">https://netabomani.com/</a>]
     </div>
     <div class="line indent">
      Instagram [<a href="https://www.instagram.com/mchapoarchive" target="_blank">@mchapoarchive</a>]
     </div>
     <div class="line indent">
      Twitter [<a href="https://www.twitter.com/netabomani" target="_blank">@netabomani</a>]
     </div>
 </div>
</div>


<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/melanie-hoff.jpg')"></div><span>Melanie Hoff</span></div>
 <div class="accordionContent">
   <div class="line indent">
    As an artist, educator, and organizer, Melanie studies the role that technology and sex plays in social organization and in reinforcing hegemonic structures. As co-director of the School for Poetic Computation and Hex House, Melanie strives to cultivate spaces of learning and feeling that encourage honesty and permit people to overcome divisions created by systems of gender, racialization, and class. Melanie has a practice of studying large systems of social organization and how these systems are encoded digitally, socially, and legally. They have taught at Yale University, New York University, RISD, the School for Poetic Computation, and have presented their work and creative research in various conferences and universities including the New Museum, the Queens Museum, Tate Exchange, The Internet Archive, Pioneer Works, and elsewhere.
    <BR><BR>
      <img src="images/people/melanie-hoff.jpg"><BR><BR>
        <div class="clear"></div>
    </div>
    <div class="line indent">
       Pronouns: they/them
    </div>
    <div class="line indent">
     Email [<a href="mailto:melanie@sfpc.study">melanie@sfpc.study</a>]
    </div>
    <div class="line indent">
     Website [<a href="https://melaniehoff.com/" target="_blank">https://melaniehoff.com/</a>]
    </div>
    <div class="line indent">
     Instagram [<a href="https://www.instagram.com/melanieh0ff" target="_blank">@melanieh0ff</a>]
    </div>
</div>
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/galen-macdonald.jpg')"></div><span>Galen Macdonald</span></div>
 <div class="accordionContent">
   <div class="line indent">
     Galen Howell Macdonald is an artist and arts organizer based in Tiohtià:ke/Montreal whose work combines hand craft, kinetic sculpture, participatory art, and new media. Galen studied Urban Geography at McGill University, design at Goldsmith's, University of London, Fine Woodworking at Yestermorrow Design Build School, and New Media Art and community arts organizing at InterAccess Media Art Centre in Toronto and at School for Poetic Computation in New York City. His work has been shown at School for Poetic Computation (NYC), Magic, the Gallery (Austin, TX), Long Exposure Festival (Toronto), Roundtable Residency (Toronto), and Whippersnapper Gallery (Toronto).
     <BR><BR>
       <img src="images/people/galen-macdonald.jpg"><BR><BR>
         <div class="clear"></div>
     </div>
     <div class="line indent">
        Pronouns: he/him
     </div>
     <div class="line indent">
      Email [<a href="mailto:galen@sfpc.study">galen@sfpc.study</a>]
     </div>
     <div class="line indent">
      Website [<a href="https://sfpc.study/about" target="_blank">https://sfpc.study/about</a>]
     </div>
     <div class="line indent">
      Instagram [<a href="https://www.instagram.com/ghmac10" target="_blank">@ghmac10</a>]
     </div>
</div>
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/celine-wong-katzman.jpg')"></div><span>Celine Wong Katzman</span></div>
 <div class="accordionContent">
   <div class="line indent">
     Celine Wong Katzman is Curator at Rhizome and serves as one of seven co-directors at the School for Poetic Computation. Previously she was a NYSCA Curatorial Fellow at the Queens Museum. Celine is committed to supporting creative practitioners experimenting with new media, particularly those who engage in a thoughtful and community-oriented approach. Her writing appears in publications such as The Nation, Art in America, Rhizome, as well as in the New Museum's exhibition catalog, The Art Happens Here: Net Art's Archival Poetics and Paper Monument's Best! Letters from Asian Americans in the arts. She holds a B.A. in Visual Art with honors from Brown University.
     <BR><BR>
       <img src="images/people/celine-wong-katzman.jpg"><BR><BR>
         <div class="clear"></div>
     </div>
     <div class="line indent">
        Pronouns: she/her
     </div>
     <div class="line indent">
      Email [<a href="mailto:celine@sfpc.study">celine@sfpc.study</a>]
     </div>
     <div class="line indent">
      Website [<a href="https://celinekatzman.com/" target="_blank">https://celinekatzman.com/</a>]
     </div>
     <div class="line indent">
      Instagram [<a href="https://www.instagram.com/rojakgirl" target="_blank">@rojakgirl</a>]
     </div>
     <div class="line indent">
      Twitter [<a href="https://www.twitter.com/celinejade" target="_blank">@celinejade</a>]
     </div>
</div>
</div>

<div class="accordionElement">
 <div class="accordionTitle"><div class="img" style="background-image: url('images/people/tyler-yin.jpg')"></div><span>Tyler Yin</span></div>
 <div class="accordionContent">
   <div class="line indent">
     Tyler Yin is an artist and technologist currently residing in Brooklyn, NY. His work layers themes of perception, obfuscation, and labor into various forms—including zines, processed imagery, and interactive media. He is also a cofounder and organizer for Tiny Tech Zines, a QTPOC-led tech zine fair & collective centering the ways marginalized communities relate to technology.
     Tyler holds a BA in Design | Media Arts from UCLA, and has taught in the Parsons Design and Technology program at The New School. His work has appeared at the Brooklyn Art Book Fair, Moving Zine Fair, L.A. Zine Fest, and CultureHub NYC.
<BR><BR>
       <img src="images/people/tyler-yin.jpg"><BR><BR>
         <div class="clear"></div>
     </div>
     <div class="line indent">
        Pronouns: he/they
     </div>
     <div class="line indent">
      Website [<a href="https://tyleryin.co" target="_blank">https://tyleryin.co</a>]
     </div>
     <div class="line indent">
      Instagram [<a href="https://www.instagram.com/tylr.yn/" target="_blank">@tylr.yn</a>]
     </div>

     <div class="line indent">
      Twitter [<a href="https://twitter.com/tylryn/" target="_blank">@tylryn</a>]
     </div>
</div>
</div>



</div>
