
<div class="page"  id="visit-tech">

  <div class="line indent-link">
    <span class="link-active" id="link-about">[5] Available Tech (Hardware & Software)</span>
    </div>
    <div class="line indent">
      Please check back soon for more information on the computers, printer, games, tools and art that we'll have available in the space!
      <!-- Computers: 8 computer stations and 4 laptops are available on a first come, first serve basis. Those who don’t own a laptop will be prioritized first. -->
   </div>
   <!-- <div class="line indent"> -->
     <!-- Printer: TK TK -->
  <!-- </div> -->
  <!-- <div class="line indent"> -->
    <!-- Games: TK TK -->
 <!-- </div> -->

 <div class="line">
   Prepare for your visit... <span class="link link-visitAccess">[3] Accessibility</span>
   <span class="link link-visitCovid">[4] Covid-19 Safety</span>
   <span class="link link-visitTech">[5] Available Tech (Hardware & Software)</span>
   <span class="link link-visitLibrary">[6] Library</span>
   <span class="link link-visitStore">[7] Store</span>
 </div>


</div>
