

<section id="class-block" class="intro-featured fall-25">

   <div class="rows-2">

          <div class="grid-1 currently">

            <div class="grid-2 featured fall-25">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/fall-25">session</a></h4>
                  <h2> Fall 2025

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">September 12 - November 23, 2025 <span class="dot">·</span> 5 classes </h4>
                </div>
              </div>
            </div>
             <div class="grid-4 featured fall-25 online-class">

 <div class="grid-4 featured fall-25 online-class">
              <div class="featured-text">
                <div class="top">
                   <h4 class="type"><a class="pill"  href="/sessions/fall-25/solidarity-infrastructures">online class</a></h4>
          <h2 class="title class" style="overflow-wrap: break-word;" >Solidarity Infrastructures </h2>
                  <h6 class="index-teachers">with Meghna Mahadevan and Max Fowler</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">TK Mon 9am ET or Wed 6pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>
             <div class="grid-4 featured fall-25 online-class">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/fall-25/interrogating-computational-approaches">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Interrogating Computational Approaches to Art</h2>
                  <h6 class="index-teachers">with Omayeli Arenyeka</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">TK Fri 1pm ET or Sun 6pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>




          </div>


          <div class="grid-1 currently">


            div class="grid-4 featured fall-25 online-class">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-25/athletic-aesthetics">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Athletic Aesthetics of Video Games</h2>
                  <h6 class="index-teachers">with Blake Andrews</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">TK Sun 11am ET or Sun 2pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured fall-25 online-class">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/fall-25/politics-culture-sampling">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Politics and Culture of Sampling</h2>
                  <h6 class="index-teachers">with Devin Kaif Kenny</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">TK Wed 12pm ET or Fri 10am ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-2 featured fall-25 online-class">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill" href="/sessions/fall-25/platform-sabotage">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Platform Sabotage</h2>
                  <h6 class="index-teachers">with Herdimas Anggara</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">TK Tue 6:30pm ET or Thu 6:30pm ET (7 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>

          </div>

        </div>
</section>
