<section id="class-block" class="intro-featured">
<div class="rows-2">

          <div class="grid-1 currently">
            <div class="grid-2 featured fall-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/fall-26">session</a></h4>
                  <h2 id="session-name" style="font-size:2.5rem"> Fall 2026 Online Classes

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">September 21 - December 3, 2026 <span class="dot">·</span> 10 classes </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/fall-26/zine-making-for-the-web">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Zine Making for the Web</h2>
                  <h6 class="index-teachers">with Neta Bomani and Cree Renee</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Wed 6pm ET or Sun 11am ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/the-erotics-of-debt">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">The Erotics of Debt</h2>
                  <h6 class="index-teachers">with LA Warman</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Tues 6pm ET or Thurs 6pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>

          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/shaders-for-the-rest-of-us">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Shaders for the Rest of Us</h2>
                  <h6 class="index-teachers">with Fernando Ramallo</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Tues 10am ET or Thurs 10am ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style=" ">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/fall-26/100-games-later">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">100 Games Later</h2>
                  <h6 class="index-teachers">with Blake Andrews</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Mon 10:30am ET or Wed 6pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/power-and-ground">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Power and Ground: Towards the Decay of the Computer Empire</h2>
                  <h6 class="index-teachers">with Meghna Mahadevan</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Tue 12pm ET or Wed 6pm ET<span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/experimental-animated-documentary">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Experimental Animated Documentary</h2>
                  <h6 class="index-teachers">with Case Jernigan</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Wed 12pm ET or Sun 11am ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/the-digital-will">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">The Digital Will: Making, Sorting, and Memorializing Our Data</h2>
                  <h6 class="index-teachers">with Eileen Ahn and Ada Zhou</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Mon 12pm ET or Wed 6:30pm ET <span class="dot">·</span>10 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/tools-for-creativity">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Tools for Creativity</h2>
                  <h6 class="index-teachers">with V Buckenham</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Tues 10am ET or Sum 1pm ET <span class="dot">·</span>5 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style=" ">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/fall-26/surveillance-culture-and-sound-maps">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Surveillance Culture and Sound Maps</h2>
                  <h6 class="index-teachers">with Nichole Shinn</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Thurs 6pm ET or Sun 1pm ET <span class="dot">·</span>5 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured fall-26 online-class" style="">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/fall-26/hacking-indie-filmmaking">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Hacking Indie Filmmaking</h2>
                  <h6 class="index-teachers">with Chester Toye</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Sun 1pm ET or Wed 6pm ET<span class="dot">·</span>5 weeks<span> · </span>Online (Zoom) </h4>
                </div>
              </div>
            </div>
          </div>



      </div>
</section>
