

<section class="stacked stacked-4">
<div class="grid-1 featured fall-22 session">
  <div class="featured-text">
    <div class="top">
    <h4 class="type"><a href="/sessions/fall-22">session</a></h4>
      <h2 class="title">Fall 2022</h2>
    </div>
    <div class="bottom">
      <h4 class="details">3 classes</h4>
    </div>
  </div>
</div>

</section>

<section id="" class="stacked stacked-4">

                    <div class="grid-1 participate">




                          <div class="grid-4 featured fall-22 session" data-location="">
                            <div class="featured-text">
                              <img src="/images/sessions/fall-22/classes/darkmatters/cover.jpg">
                              <div class="top">
                                <h4 class="type"><a href="/sessions/fall-22/??">class</a></h4>
                                <h2 class="title">??</h2>
                                <h6>with Todd Anderson and Herdimas Anggara</h6>
                              </div>
                              <div class="bottom">
                                <h4 class="details">October 6 - December 8, 2022 <span class="dot">·</span>Online (Zoom) <span class="dot">·</span>Applications open </h4>
                              </div>
                            </div>
                          </div>


                          <div class="grid-4 featured fall-22 session" data-location="">
                            <div class="featured-text">
                              <img src="/images/sessions/fall-22/classes/scrapism/cover.jpg">
                              <div class="top">
                                <h4 class="type"><a href="/sessions/fall-22/scrapism">class</a></h4>
                                <h2 class="title">Scrapism</h2>
                                <h6>with Sam Lavigne</h6>
                              </div>
                              <div class="bottom">
                                <h4 class="details">October 6 - December 8, 2022 <span class="dot">·</span>Online (Zoom) <span class="dot">·</span>Applications open </h4>
                              </div>
                            </div>
                          </div>



                          <div class="grid-4 featured fall-22 session" data-location="">
                            <div class="featured-text">
                              <img src="/images/sessions/fall-22/classes/dll/cover.jpg">
                              <div class="top">
                                <h4 class="type"><a href="/sessions/fall-22/ecosystems">class</a></h4>
                                <h2 class="title">ECOSYSTEMS: Teaching and Learning as Relational Practice</h2>
                                <h6>with Kameelah Janan Rasheed</h6>
                              </div>
                              <div class="bottom">
                                <h4 class="details">October 25 - November 22, 2022 <span class="dot">·</span>Online (Zoom) <span class="dot">·</span>Applications open </h4>
                              </div>
                            </div>
                          </div>



                        </div>

                      </section>
