<section class="stacked stacked-4">
  <div class="grid-1 featured fall-23 session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/fall-23">session</a></h4>
        <h2 class="title">Fall 2023</h2>
      </div>
      <div class="bottom">
        <h4 class="details">5 classes</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">





    <div class="grid-4 featured fall-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-23/classes/data-by-hand/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-23/data-by-hand">class</a></h4>
          <h2 class="title class">Drawing Data by Hand</h2>
          <h6>with Meghna Dholakia and Lia Coleman</h6>
        </div>
        <div class="bottom">
          <h4 class="details">September 17 - November 19, 2023 <span class="dot">·</span>Online (Zoom) and Hybrid <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured fall-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-23/classes/rwc-zines/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-23/rwc-zines">class</a></h4>
          <h2 class="title class">Reading, Writing & Compiling Zines</h2>
          <h6>with Neta Bomani and Aliyah Blackmore</h6>
        </div>
        <div class="bottom">
          <h4 class="details">September 17 - November 19, 2023 <span class="dot">·</span>Hybrid (Online and NYC) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured fall-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-23/classes/body-as-biomonitor/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-23/body-as-biomonitor">class</a></h4>
          <h2 class="title class">The Body as Biomonitor</h2>
          <h6>with Fields Harrington and Shen-Shen Wu</h6>
        </div>
        <div class="bottom">
          <h4 class="details">September 18 - November 20, 2023 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured fall-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-23/classes/musical-web/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-23/musical-web">class</a></h4>
          <h2 class="title class">The Musical Web</h2>
          <h6>with Tommy Martinez and Chloe Alexandra Thompson</h6>
        </div>
        <div class="bottom">
          <h4 class="details">September 18 - November 27, 2023 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>


    <div class="grid-4 featured fall-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-23/classes/infinite-video/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-23/infinite-video">class</a></h4>
          <h2 class="title class">Infinite Video</h2>
          <h6>with Sam Lavigne, Ilona Brand and Jonathan W. Y. Gray</h6>
        </div>
        <div class="bottom">
          <h4 class="details">September 19 - November 29, 2023 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>





  </div>

</section>
