<section class="stacked stacked-4">
  <div class="grid-1 featured fall-24 session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/fall-24">session</a></h4>
        <h2 class="title">Fall 2024</h2>
      </div>
      <div class="bottom">
        <h4 class="details">6 classes</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">







    <div class="grid-4 featured fall-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-24/classes/human-scale-nlp/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-24/human-scale-nlp">class</a></h4>
          <h2 class="title class">Human-scale Natural Language Processing</h2>
          <h6>with Allison Parrish, Ilona Brand, Yadira Sanchez</h6>
        </div>
        <div class="bottom">
          <h4 class="details">June 13 - July 20, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured fall-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-24/classes/imperfect-pictures/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-24/imperfect-pictures">class</a></h4>
          <h2 class="title class">Imperfect Pictures</h2>
          <h6>with Molly Soda, Kayla Drzewicki, Will Allstetter</h6>
        </div>
        <div class="bottom">
          <h4 class="details">June 9 - August 13, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>



        <div class="grid-4 featured fall-24 session" data-location="">
          <div class="featured-text">
            <img src="/images/sessions/fall-24/classes/worlds-in-conversation/cover.jpg">
            <div class="top">
              <h4 class="type"><a href="/sessions/fall-24/worlds-in-conversation">class</a></h4>
              <h2 class="title class">Worlds in Conversation</h2>
              <h6>with Everest Pipkin, Caro Asercion, Rufus "Weaver" Walker</h6>
            </div>
            <div class="bottom">
              <h4 class="details">June 12 - August 17, 2024<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
            </div>
          </div>
        </div>



    <div class="grid-4 featured fall-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/fall-24/classes/instructional-intimacies/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/fall-24/instructional-intimacies">class</a></h4>
          <h2 class="title class">Instructional Intimacies</h2>
          <h6>with Maryam Monalisa Gharavi, Adina Glickstein</h6>
        </div>
        <div class="bottom">
          <h4 class="details">June 9 - August 11, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>





  </div>



    <div class="grid-1 participate">
      <div class="grid-4 featured fall-24 session" data-location="">
        <div class="featured-text">
          <img src="/images/sessions/fall-24/classes/musical-web/cover.jpg">
          <div class="top">
            <h4 class="type"><a href="/sessions/fall-24/musical-web">class</a></h4>
            <h2 class="title class">The Musical Web</h2>
            <h6>with Tommy Martinez and Maxine de las Pozas⁣</h6>
          </div>
          <div class="bottom">
            <h4 class="details">June 10 - August 12, 2024 <span class="dot">·</span>Online (Zoom) <span
                class="dot">·</span>Applications open</h4>
          </div>
        </div>
      </div>

</div>

</section>
