<div id="footer" class="footer">
        <div class="mode"><button id="mode-toggle"></button></a></div>
      </div>



      <div class="website-grid grid-hide {{#if "Session Slug"}} {{"Session Slug"}} {{else}} sfpc {{/if}} sfpc

        ">
        <div class="grid-inner {{#if "Session Slug"}} {{"Session Slug"}} {{else}} sfpc {{/if}} sfpc">
        <section>
          <div class="grid-2">
            <div class="chars chars1"></div>
            <p class="large">School</p>
          </div>
          <div class="grid-2">
            <div class="chars chars2"></div>
            <p class="large">for</p>
          </div>
          <div class="grid-2">
            <div class="chars chars3"></div>
            <p class="large">Poetic</p>
          </div>
          <div class="grid-2">
            <div class="chars chars4"></div>
            <p class="large">Computation</p>
          </div>
        </section>
      </div>
      </div>
