<div id="header">

  <div class="definition-marquee">
    <marquee id="marquee-definition"></marquee>
  </div>

  <div class="grid-2">
    <div class="grid-2 def-div">
      <span id="definition" class="defintion"></span>
      <nav class="mobile-menu">Menu</nav>
    </div>
  </div>
  <div class="grid-2">
    <div class="grid-4">
      <ul class="nav">
        <li><a id="link-participate" href="/faq">faq</a></li>
        <li><a id="link-classes" href="/classes">classes</a></li>
        <li><a id="link-projects" href="/projects">projects</a></li>
      </ul>
    </div>
    <div class="grid-4">
      <ul class="nav">
        <li><a id="link-blog" href="/blog">blog</a></li>
        <li><a id="link-support" href="/store">store</a></li>
        <li><a id="link-fundraiser" href="/donate">donate!</a></li>


        {{!-- <li><a id="link-support" href="/fundraiser">support us</a></li> --}}


      </ul>
    </div>
    <div class="grid-4">
      <ul class="nav">
        <li><a id="link-about" href="/about">about</a></li>

        <li><a id="link-newsletter" href="/newsletter" target="_blank">newsletter</a>
        </li>
        <li><a id="" href="https://instagram.com/sfpc_nyc" target="_blank">ig</a> / <a id="" href="mailto:info@sfpc.study">email</a>

        </li>
      </ul>
    </div>
    <div class="grid-4">
      <div class="nav logo">
        <a href="/"><img src="/images/sfpc-logo.svg"></a>
      </div>
    </div>
  </div>

</div>
<div class="mobile-menu-content">
  <!-- <h2><a id="link-fundraiser" href="/fundraiser">Donate!</a></h2> -->

  <h2><a id="link-participate" href="/faq">FAQ</a></h2>
  <h2><a id="link-classes" href="/classes">Classes</a></h2>

  <h2><a id="link-projects" href="/projects">Projects</a></h2>

  <h2><a id="link-about" href="/about">About</a></h2>

  <h2><a id="link-blog" href="/blog">Blog</a></h2>

  <!-- <h2><a id="link-support" href="https://withfriends.co/school_for_poetic_computation" target="_blank">Support Us</a></h2> -->

  <h2><a id="link-store" href="/store">Store</a></h2>
  <h2><a id="link-support" href="/donate">Support Us</a></h2>


  <h2><a id="link-newsletter" href="/newsletter" target="_blank">Newsletter</a></h2>

  <h2><a id="" href="mailto:info@sfpc.study">Email</a></h2>

  <h2><a id="" href="https://instagram.com/sfpc_nyc" target="_blank">IG</a></h2>



</div>
