<section class="stacked stacked-4">
  <div class="grid-1 featured spring-24 session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/spring-24">session</a></h4>
        <h2 class="title">Spring 2024</h2>
      </div>
      <div class="bottom">
        <h4 class="details">5 classes</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">

    <div class="grid-4 featured spring-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/spring-24/classes/rpwf/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/spring-24/rpwf">class</a></h4>
          <h2 class="title class">Reading Into the Past / Writing Into the Future</h2>
          <h6>with Ashley Jane Lewis, Carey J. Flack and Kenia Hale</h6>
        </div>
        <div class="bottom">
          <h4 class="details">March 24 - May 29, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured spring-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/spring-24/classes/making-mistakes/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/spring-24/making-mistakes">class</a></h4>
          <h2 class="title class">Making Mistakes</h2>
          <h6>with Tiri Kananuruk and Adelle Lin</h6>
        </div>
        <div class="bottom">
          <h4 class="details">March 25 - May 31, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>



        <div class="grid-4 featured spring-24 session" data-location="">
          <div class="featured-text">
            <img src="/images/sessions/spring-24/classes/lets-play/cover.jpg">
            <div class="top">
              <h4 class="type"><a href="/sessions/spring-24/lets-play">class</a></h4>
              <h2 class="title class">Let’s Play: Wayward Sentences</h2>
              <h6>with Kameelah Janan Rasheed and Shiraz Abdullahi Gallab</h6>
            </div>
            <div class="bottom">
              <h4 class="details">March 27 - June 1, 2024<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
            </div>
          </div>
        </div>



    <div class="grid-4 featured spring-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/spring-24/classes/icaa/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/spring-24/icaa">class</a></h4>
          <h2 class="title class">Interrogating Computational Approaches to Art</h2>
          <h6>with Omayeli Arenyeka and Neta Bomani</h6>
        </div>
        <div class="bottom">
          <h4 class="details">March 28 - April 25, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>





  </div>



    <div class="grid-1 participate">

      <div class="grid-4 featured spring-24 session" data-location="">
        <div class="featured-text">
          <img src="/images/sessions/spring-24/classes/ltlm/cover.jpg">
          <div class="top">
            <h4 class="type"><a href="/sessions/spring-24/ltlm">class</a></h4>
            <h2 class="title class">Learning to Love Mathematics</h2>
            <h6>with Nabil Hassein and Margot Armbruster</h6>
          </div>
          <div class="bottom">
            <h4 class="details">March 29 - May 31, 2024 <span class="dot">·</span>Online (Zoom) <span
                class="dot">·</span>Applications open</h4>
          </div>
        </div>
      </div>


      <div class="grid-4 featured spring-24 session" data-location="">
        <div class="featured-text">
          <img src="/images/sessions/spring-24/classes/sex-ed/cover.jpg">
          <div class="top">
            <h4 class="type"><a href="/sessions/spring-24/sex-ed">class</a></h4>
            <h2 class="title class">Sex Ed</h2>
            <h6>with Melanie Hoff and Neta Bomani</h6>
          </div>
          <div class="bottom">
            <h4 class="details">May 13 - May 31, 2024 <span class="dot">·</span>In-Person (NYC)  <span
                class="dot">·</span>Applications open</h4>
          </div>
        </div>
      </div>






    </div>

</section>
