

<section id="class-block" class="intro-featured spring-26">

    <div class="rows-2">

          <div class="grid-1 currently">

            <div class="grid-2 featured spring-26">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/spring-26">session</a></h4>
                  <h2 id="session-name" style="font-size:3rem"> Spring 2026

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">March 30 - June 5, 2026 <span class="dot">·</span> 6 classes </h4>
                </div>
              </div>
            </div>

             <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/icaa.png')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/disturbing-code">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Disturbing Code</h2>
                  <h6 class="index-teachers">with Theo Ellin Ballew</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Thurs 10am ET or Thurs 4pm ET<span class="dot">·</span>10 weeks<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/icaa.png')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/whore-singularity">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">The Whore Singularity</h2>
                  <h6 class="index-teachers">with Tina Horn</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Tues 1pm ET or Sun 4pm ET<span class="dot">·</span>10 weeks<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>






          </div>
          <div class="grid-1 currently">
            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/avg.png')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/spring-26/rhythmanalytics">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Rhythmanalytics</h2>
                  <h6 class="index-teachers-small">with DeForrest Brown, Jr.</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Mon 12pm ET or Wed 6:30pm ET<span class="dot">·</span>10 weeks<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>

            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/si.png');">
              <div class="featured-text">
                <div class="top">
                   <h4 class="type"><a class="pill"  href="/sessions/spring-26/digital-decay">online class</a></h4>
          <h2 class="title class" style="overflow-wrap: break-word;" >Digital Decay And Afterlives</h2>
                  <h6 class="index-teachers">with Alexa Ann Bonomo</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">Mon 6:30pm ET or Sun 1pm ET<span class="dot">·</span>10 weeks<span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/pcs.png')">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/spring-26/time-manifestations">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">Time And Its Manifestations</h2>
                  <h6 class="index-teachers">with Lawra Clark</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Thurs 6pm ET or Sun 2pm ET <span class="dot">·</span>5 weeks<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured spring-26 online-class" style="background-image: url('images/sessions/spring-26/oops.png')">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill" href="/sessions/spring-26/form-flow-feel">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word; ">Form/Flow/Feel</h2>
                  <h6 class="index-teachers-small">with Mattaniah Aytenfsu</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Thurs 6:30pm ET or Sun 3pm ET <span class="dot">·</span>5 weeks<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>

          </div>

        </div>
</section>
