<section class="stacked stacked-4">
  <div class="grid-1 featured summer-23 session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/summer-23">session</a></h4>
        <h2 class="title">summer 2023</h2>
      </div>
      <div class="bottom">
        <h4 class="details">2 classes</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">




    <div class="grid-4 featured summer-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/summer-23/classes/alternative-typographic-histories/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/summer-23/alternative-typographic-histories">class</a></h4>
          <h2 class="title class">Alternative Typographic Histories</h2>
          <h6>with Hind Al Saad and Levi Hammett</h6>
        </div>
        <div class="bottom">
          <h4 class="details">June 4 - August 6, 2023 <span class="dot">路</span>Online (Zoom) <span
              class="dot">路</span>Applications open</h4>
        </div>
      </div>
    </div>


    <div class="grid-4 featured summer-23 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/summer-23/classes/networked-performance/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/summer-23/networked-performance">class</a></h4>
          <h2 class="title class">Experiments in Networked Performance </h2>
          <h6>with April Soetarman and Lee Beckwith</h6>
        </div>
        <div class="bottom">
          <h4 class="details">June 5 - July 8, 2023 <span class="dot">路</span>Online (Zoom) <span
              class="dot">路</span>Applications open</h4>
        </div>
      </div>
    </div>




  </div>

</section>
