
<section class="stacked stacked-4">
<div class="grid-1 featured summer-22 session">
  <div class="featured-text">
    <div class="top">
      <h4 class="type"><a href="/sessions/summer-22">session</a></h4>
      <h2 class="title">Summer 2022</h2>
    </div>
    <div class="bottom">
      <h4 class="details">3 classes <i>(+ 2 special sessions!)</i></h4>
    </div>
  </div>
</div>

</section>

<section id="" class="stacked stacked-4">
<div class="grid-1 participate">


  <div class="grid-4 featured summer-22 session">
    <div class="featured-text">
      <img src="/images/sessions/summer-22/expressive-design/cover.gif">
      <div class="top">
        <h4 class="type"><a href="/sessions/summer-22/expressive-design-with-videogames">class</a></h4>
        <h2 class="title class">Expressive Design with Videogames</h2>
        <h6>with Lawra Clark and Blake Andrews</h6>
      </div>
      <div class="bottom">
        <h4 class="details">June 21 - July 18, 2022<span class="dot">·</span>Online (Zoom) <span class="dot">·</span>

          Applications closed</h4>
      </div>
    </div>
  </div>



  <div class="grid-4 featured summer-22 session">
    <div class="featured-text">
      <img src="/images/sessions/summer-22/me-myself-i/cover.jpg">
      <div class="top">
        <h4 class="type"><a href="/sessions/summer-22/me-myself-i">class</a></h4>
        <h2 class="title class">Me, Myself & I? Meditations on Mirrors, Thresholds, and Selves</h2>
        <h6>with Gabrielle Octavia Rucker and Lara Okafor</h6>
      </div>
      <div class="bottom">
        <h4 class="details">June 24 - August 4, 2022<span class="dot">·</span>Online (Zoom) <span class="dot">·</span>

          Applications closed</h4>
      </div>
    </div>
  </div>

  <div class="grid-4 featured summer-22 session">
    <div class="featured-text">
      <img src="/images/sessions/summer-22/learning-to-love-math/cover.png">
      <div class="top">
        <h4 class="type"><a href="/sessions/summer-22/learning-to-love-math">class</a></h4>
        <h2 class="title class">Learning to Love Math</h2>
        <h6>with Nabil Hassein and Sidony O'Neal</h6>
      </div>
      <div class="bottom">
        <h4 class="details">July 18 - August 22, 2022<span class="dot">·</span>Online (Zoom) <span class="dot">·</span>

          Applications closed</h4>
      </div>
    </div>
  </div>


</div>

</section>


<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">



    <div class="grid-4 featured networked-performance session">
      <div class="featured-text">
        <img src="/images/sessions/networked-performance/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/networked-performance">session</a></h4>
          <h2 class="title">Experiments in Networked Performance</h2>
          <h6>with Todd Anderson, Tiri Kananuruk and special guests</h6>
        </div>
        <div class="bottom">
          <h4 class="details">July 5 - July 16, 2022<span class="dot">·</span>New York City <span class="dot">·</span>
            Applications closed</h4>
        </div>
      </div>
    </div>


    <div class="grid-4 featured sex-ed session">
      <div class="featured-text">
        <img src="/images/sessions/sex-ed/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/sex-ed">session</a></h4>
          <h2 class="title">SFPC: Sex Ed</h2>
          <h6>with Melanie Hoff, Neta Bomani, Zainab Aliyu and special guests</h6>
        </div>
        <div class="bottom">
          <h4 class="details">August 1 - August 12, 2022<span class="dot">·</span>New York City
            <span class="dot">·</span>
            Applications closed
          </h4>
        </div>
      </div>
    </div>


  </div>
</section>
