<div class="grid-1 participate">

  <div class="grid-4 featured spring-22 session" data-location="">
    <div class="featured-text">
      <img src="/images/sessions/spring-22/classes/darkmatters/cover.jpg">
      <div class="top">
        <h4 class="type"><a href="/sessions/spring-22/darkmatters">class</a></h4>
        <h2 class="title">Expressive Design with Videogames</h2>
        <h6>with Lawra Clark and Blake Andrews</h6>
      </div>
      <div class="bottom">
        <h4 class="details">March 20 - May 22, 2022 <span class="dot">·</span>Online (Zoom) <span
            class="dot">·</span>Applications closed </h4>
      </div>
    </div>
  </div>

  <div class="grid-4 featured spring-22 session" data-location="">
    <div class="featured-text">
      <img src="/images/sessions/spring-22/classes/dll/cover.jpg">
      <div class="top">
        <h4 class="type"><a href="/sessions/spring-22/dll">class</a></h4>
        <h2 class="title">Digital Love Languages</h2>
        <h6>with Melanie Hoff, Max Fowler and Meghna Dholakia</h6>
      </div>
      <div class="bottom">
        <h4 class="details">March 17 - May 20, 2022 <span class="dot">·</span>Online (Zoom) <span
            class="dot">·</span>Applications closed </h4>
      </div>
    </div>
  </div>


  <div class="grid-4 featured spring-22 session" data-location="">
    <div class="featured-text">
      <img src="/images/sessions/spring-22/classes/rpwf/cover.jpg">
      <div class="top">
        <h4 class="type"><a href="/sessions/spring-22/rpwf">class</a></h4>
        <h2 class="title">Reading into the Past / Writing into the Future</h2>
        <h6>with Ashley Jane Lewis and Carey Flack</h6>
      </div>
      <div class="bottom">
        <h4 class="details">March 27 - May 29, 2022 <span class="dot">·</span>Online (Zoom) <span
            class="dot">·</span>Applications closed </h4>
      </div>
    </div>
  </div>

  <div class="grid-4 featured spring-22 session" data-location="">
    <div class="featured-text">
      <img src="/images/sessions/spring-22/classes/scrapism/cover.jpg">
      <div class="top">
        <h4 class="type"><a href="/sessions/spring-22/scrapism">class</a></h4>
        <h2 class="title">Scrapism</h2>
        <h6>with Sam Lavigne, Omayeli Arenyeka and Ilona Brand</h6>
      </div>
      <div class="bottom">
        <h4 class="details">March 15 - May 19, 2022 <span class="dot">·</span>Online (Zoom) <span
            class="dot">·</span>Applications closed </h4>
      </div>
    </div>
  </div>



</div>