

<section id="class-block" class="intro-featured summer-25">

   <div class="rows-2">

          {{!-- <div class="grid-1 currently">

            <div class="grid-2 featured summer-25">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/sessions/summer-25">session</a></h4>
                  <h2> Summer 2025

                  </h2>

                </div>
                <div class="bottom">
                  <h4 class="details">March 23 - May 29, 2025 <span class="dot">·</span> 5 classes </h4>
                </div>
              </div>
            </div> 
             <div class="grid-4 featured summer-25 online-class">

              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/summer-25/httpoetics">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">HTTPoetics</h2>
                  <h6 class="index-teachers">with Todd Anderson</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Fri 1pm ET or Sun 6pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured summer-25 online-class">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill"  href="/sessions/summer-25/page-against-the-machine">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Page Against the Machine</h2>
                  <h6 class="index-teachers">with Ariel Yelen</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Sun 11am ET or Sun 2pm ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>
            <div class="grid-4 featured summer-25 online-class">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a class="pill"  href="/sessions/summer-25/to-the-streets">online class</a></h4>
                  <h2 class="title class" style="overflow-wrap: break-word;">TO THE STREETS!</h2>
                  <h6 class="index-teachers">with Lukaza Branfman-Verissimo</h6>
                </div>
                <div class="bottom">
              <br><h4 class="details">Wed 12pm ET or Fri 10am ET (5 weeks)<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>


            <div class="grid-4 featured summer-25 online-class">
              <div class="featured-text">
                <div class="top">
                <h4 class="type"><a class="pill" href="/sessions/summer-25/decoding-live-coding">online class</a></h4>
                <h2 class="title class" style="overflow-wrap: break-word;">Decoding Tendencies in Live Coding</h2>
                  <h6 class="index-teachers">with Roxanne Harris</h6>
                </div>
                <div class="bottom">
                <br><h4 class="details">Tue 6:30pm ET or Thu 6:30pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
                    class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div>




          </div> --}}


          <div class="grid-1 currently">


            {{!-- <div class="grid-4 featured summer-25 online-class">
              <div class="featured-text">
                <div class="top">
                   <h4 class="type"><a class="pill"  href="/sessions/summer-25/imperfect-pictures">online class</a></h4>
          <h2 class="title class" style="overflow-wrap: break-word;" >Imperfect Pictures  </h2>
                  <h6 class="index-teachers">with Molly Soda</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">Mon 9am ET or Wed 6pm ET (10 weeks)<span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
                </div>
              </div>
            </div> --}}


            <div class="grid-2 featured summer-25 weekend-intensive">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type "><a class="pill"  href="/sessions/summer-25/becoming-hypertext">weekend intensive</a></h4>
            <h2 class="title class" style="overflow-wrap: break-word;">Becoming Hypertext</h2>
                  <h6 class="index-teachers">with Chia Amisola</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">Sat-Sun July 12-13<span class="dot"> · </span>In-Person (NYC)<br>Sign-ups open (no application necessary)</h4>
                </div>
              </div>
            </div>

            {{!-- <div class="grid-4 featured summer-25 weekend-intensive ">
              <div class="featured-text ">
                <div class="top">
                  <h4 class="type "><a class="pill"  href="/sessions/summer-25/riso-animation">weekend intensive</a></h4>
            <h2 class="title class" style="overflow-wrap: break-word;">Riso Animation Workshop</h2>
                  <h6 class="index-teachers">with Kelli Anderson</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">Sat-Sun July 19-20<span class="dot">·</span>In-Person (NYC) <span
                class="dot">·</span>Sign-ups open (no application necessary)</h4>
                </div>
              </div>
            </div> --}}
            <div class="grid-2 featured summer-25 weekend-intensive">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type "><a class="pill"  href="/sessions/summer-25/consensual-hacking">weekend intensive</a></h4>
            <h2 class="title class" style="overflow-wrap: break-word;">Consensual Hacking</h2>
                  <h6 class="index-teachers">with Melanie Hoff</h6>
                </div>
                <div class="bottom">
                  <br><h4 class="details">Sat-Sun July 26-27<span class="dot"> · </span>In-Person (NYC) <br>Sign-ups open (no application necessary)</h4>
                </div>
              </div>
            </div>
            {{!-- <div class="grid-4 featured summer-25">
              <div class="featured-text">
                <div class="top">
                  <h4 class="type"><a href="/newsletter">newsletter</a></h4>
                  <h3>Stay updated about upcoming programs!</h3>
                </div>
                <div class="bottom">
                </div>
              </div>
            </div> --}}

          </div>

        </div>
</section>
