<section class="stacked stacked-4">
  <div class="grid-1 featured winter-24 session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/winter-24">session</a></h4>
        <h2 class="title">Winter 2024</h2>
      </div>
      <div class="bottom">
        <h4 class="details">4 classes</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">







    <div class="grid-4 featured winter-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-24/classes/re-recon/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-24/re-recon">class</a></h4>
          <h2 class="title class">Relational Reconstructions</h2>
          <h6>with Jeffrey Yoo Warren and Dri Chiu Tattersfield⁣</h6>
        </div>
        <div class="bottom">
          <h4 class="details">January 20 - March 23, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>

    <div class="grid-4 featured winter-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-24/classes/iotbgu/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-24/iotbgu">class</a></h4>
          <h2 class="title class">Instruments of the Black Gooey Universe</h2>
          <h6>with American Artist, Zainab Aliyu, Taylor Levy and Che-Wei Wang</h6>
        </div>
        <div class="bottom">
          <h4 class="details">January 21 - March 24, 2024 <span class="dot">·</span>In-Person NYC <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>



        <div class="grid-4 featured winter-24 session" data-location="">
          <div class="featured-text">
            <img src="/images/sessions/winter-24/classes/httpoetics/cover.jpg">
            <div class="top">
              <h4 class="type"><a href="/sessions/winter-24/httpoetics">class</a></h4>
              <h2 class="title class">HTTPoetics</h2>
              <h6>with Todd Anderson, Kayla Drzewicki and Tyler Yin</h6>
            </div>
            <div class="bottom">
              <h4 class="details">January 22 - March 28, 2024<span class="dot">·</span>Online (Zoom) <span
                  class="dot">·</span>Applications open</h4>
            </div>
          </div>
        </div>



    <div class="grid-4 featured winter-24 session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-24/classes/solidarity-infra/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-24/solidarity-infra">class</a></h4>
          <h2 class="title class">Solidarity Infrastructures</h2>
          <h6>with Alice Yuan Zhang, Meghna Mahadevan and Oren Robinson</h6>
        </div>
        <div class="bottom">
          <h4 class="details">January 22 - March 28, 2024 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications open</h4>
        </div>
      </div>
    </div>





  </div>

</section>
