<section class="stacked stacked-4">
  <div class="grid-1 featured sfpc session">
    <div class="featured-text">
      <div class="top">
        <h4 class="type"><a href="/sessions/fall-22">session</a></h4>
        <h2 class="title">Winter 2023</h2>
      </div>
      <div class="bottom">
        <h4 class="details">3 classes</h4>
      </div>
    </div>
  </div>

</section>

<section id="" class="stacked stacked-4">

  <div class="grid-1 participate">




    <div class="grid-4 featured sfpc session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-23/classes/algorithmic-botany/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-23/algorithmic-botany">class</a></h4>
          <h2 class="title">Algorithmic Botany</h2>
          <h6>with Seam Catangui and Alex Miller</h6>
        </div>
        <div class="bottom">
          <h4 class="details">October 4 - December 8, 2022 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>


    <div class="grid-4 featured sfpc session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-23/classes/machine-language/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-23/machine-language">class</a></h4>
          <h2 class="title">Machine Language</h2>
          <h6>with Sherri Wasserman and Jace Clayton</h6>
        </div>
        <div class="bottom">
          <h4 class="details">October 4 - December 6, 2022 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>



    <div class="grid-4 featured sfpc session" data-location="">
      <div class="featured-text">
        <img src="/images/sessions/winter-23/classes/for-love-and-science/cover.jpg">
        <div class="top">
          <h4 class="type"><a href="/sessions/winter-23/for-love-and-science">class</a></h4>
          <h2 class="title">For Love and Science</h2>
          <h6>with Kendra Krueger and Zahra Hassan</h6>
        </div>
        <div class="bottom">
          <h4 class="details">October 25 - December 2, 2022 <span class="dot">·</span>Online (Zoom) <span
              class="dot">·</span>Applications closed</h4>
        </div>
      </div>
    </div>



  </div>

</section>
