<h1>Guestbook</h1>
<input type="text" id="name" placeholder="Name">
<textarea id="message" placeholder="Message"></textarea>
<button id="submit">Submit</button>
<script src="/jquery-3.6.0.min.js"></script>
<script></script>